.icon {
  display: inline-block;
  overflow: hidden; }

.icon-Button-atm {
  background-image: url(../images/sprite.png);
  background-position: -2544px -1737px;
  width: 92px;
  height: 67px; }

.icon-Button-cash {
  background-image: url(../images/sprite.png);
  background-position: -2592px -1439px;
  width: 95px;
  height: 85px; }

.icon-Button-credit-card {
  background-image: url(../images/sprite.png);
  background-position: -3049px -1627px;
  width: 92px;
  height: 67px; }

.icon-Button-goback {
  background-image: url(../images/sprite.png);
  background-position: -2636px -1737px;
  width: 92px;
  height: 67px; }

.icon-Drop-down {
  background-image: url(../images/sprite.png);
  background-position: -3166px -1073px;
  width: 16px;
  height: 9px; }

.icon-advisory-down-w {
  background-image: url(../images/sprite.png);
  background-position: -2589px -1711px;
  width: 28px;
  height: 15px; }

.icon-advisory-down {
  background-image: url(../images/sprite.png);
  background-position: -2617px -1711px;
  width: 28px;
  height: 15px; }

.icon-advisoryadd {
  background-image: url(../images/sprite.png);
  background-position: -2710px -1887px;
  width: 65px;
  height: 55px; }

.icon-arrow-g01 {
  background-image: url(../images/sprite.png);
  background-position: -3148px -818px;
  width: 32px;
  height: 32px; }

.icon-arrow-g02 {
  background-image: url(../images/sprite.png);
  background-position: -3148px -786px;
  width: 32px;
  height: 32px; }

.icon-arrow01 {
  background-image: url(../images/sprite.png);
  background-position: -3145px -1332px;
  width: 30px;
  height: 30px; }

.icon-arrow02 {
  background-image: url(../images/sprite.png);
  background-position: -3145px -1392px;
  width: 30px;
  height: 30px; }

.icon-atm-check {
  background-image: url(../images/sprite.png);
  background-position: -2789px -1627px;
  width: 82px;
  height: 82px; }

.icon-bdcake {
  background-image: url(../images/sprite.png);
  background-position: -2775px -1887px;
  width: 61px;
  height: 53px; }

.icon-buy-popup {
  background-image: url(../images/sprite.png);
  background-position: -2893px -720px;
  width: 255px;
  height: 189px; }

.icon-chat {
  background-image: url(../images/sprite.png);
  background-position: -2932px -1887px;
  width: 58px;
  height: 39px; }

.icon-class-number {
  background-image: url(../images/sprite.png);
  background-position: -2464px -1817px;
  width: 70px;
  height: 70px; }

.icon-edit-close {
  background-image: url(../images/sprite.png);
  background-position: -2930px -1817px;
  width: 65px;
  height: 65px; }

.icon-edit-ok {
  background-image: url(../images/sprite.png);
  background-position: -2670px -1817px;
  width: 65px;
  height: 65px; }

.icon-editmore-w {
  background-image: url(../images/sprite.png);
  background-position: -2645px -1711px;
  width: 35px;
  height: 12px; }

.icon-editmore {
  background-image: url(../images/sprite.png);
  background-position: -3131px -1073px;
  width: 35px;
  height: 12px; }

.icon-list-close {
  background-image: url(../images/sprite.png);
  background-position: -3150px -1247px;
  width: 30px;
  height: 30px; }

.icon-list-open {
  background-image: url(../images/sprite.png);
  background-position: -3148px -879px;
  width: 30px;
  height: 30px; }

.icon-mailto {
  background-image: url(../images/sprite.png);
  background-position: -2924px -1089px;
  width: 75px;
  height: 50px; }

.icon-mysearch {
  background-image: url(../images/sprite.png);
  background-position: -2924px -912px;
  width: 207px;
  height: 177px; }

.icon-notsatisfied {
  background-image: url(../images/sprite.png);
  background-position: -2705px -1627px;
  width: 84px;
  height: 84px; }

.icon-order-a-01 {
  background-image: url(../images/sprite.png);
  background-position: -2867px -1439px;
  width: 90px;
  height: 80px; }

.icon-order-a-02 {
  background-image: url(../images/sprite.png);
  background-position: -2957px -1439px;
  width: 90px;
  height: 80px; }

.icon-order-b-01 {
  background-image: url(../images/sprite.png);
  background-position: -3047px -1439px;
  width: 90px;
  height: 80px; }

.icon-order-b-02 {
  background-image: url(../images/sprite.png);
  background-position: -2746px -1527px;
  width: 90px;
  height: 80px; }

.icon-order-button-add-n {
  background-image: url(../images/sprite.png);
  background-position: -2836px -1887px;
  width: 48px;
  height: 48px; }

.icon-order-button-add {
  background-image: url(../images/sprite.png);
  background-position: -3128px -1089px;
  width: 48px;
  height: 48px; }

.icon-order-button-alladd {
  background-image: url(../images/sprite.png);
  background-position: -3128px -1737px;
  width: 55px;
  height: 65px; }

.icon-order-button-d {
  background-image: url(../images/sprite.png);
  background-position: -3131px -1025px;
  width: 48px;
  height: 48px; }

.icon-order-button-like {
  background-image: url(../images/sprite.png);
  background-position: -3148px -850px;
  width: 34px;
  height: 29px; }

.icon-order-button4-1 {
  background-image: url(../images/sprite.png);
  background-position: -2998px -1737px;
  width: 65px;
  height: 65px; }

.icon-order-button4-2 {
  background-image: url(../images/sprite.png);
  background-position: -2933px -1737px;
  width: 65px;
  height: 65px; }

.icon-order-button4-2.png {
  background-image: url(../images/sprite.png);
  background-position: 0px -1951px;
  width: 65px;
  height: 65px; }

.icon-order-button4-3 {
  background-image: url(../images/sprite.png);
  background-position: -2868px -1737px;
  width: 65px;
  height: 65px; }

.icon-order-button4-3.png {
  background-image: url(../images/sprite.png);
  background-position: -65px -1951px;
  width: 65px;
  height: 65px; }

.icon-order-button4-4 {
  background-image: url(../images/sprite.png);
  background-position: -3060px -1817px;
  width: 65px;
  height: 65px; }

.icon-order-button4-4.png {
  background-image: url(../images/sprite.png);
  background-position: -2865px -1817px;
  width: 65px;
  height: 65px; }

.icon-order-button4-5 {
  background-image: url(../images/sprite.png);
  background-position: -2800px -1817px;
  width: 65px;
  height: 65px; }

.icon-order-button4-6 {
  background-image: url(../images/sprite.png);
  background-position: -2995px -1817px;
  width: 65px;
  height: 65px; }

.icon-order-button4-7 {
  background-image: url(../images/sprite.png);
  background-position: -3063px -1737px;
  width: 65px;
  height: 65px; }

.icon-order-button4-8 {
  background-image: url(../images/sprite.png);
  background-position: -2735px -1817px;
  width: 65px;
  height: 65px; }

.icon-order-c-01 {
  background-image: url(../images/sprite.png);
  background-position: -2687px -1439px;
  width: 90px;
  height: 80px; }

.icon-order-d-01 {
  background-image: url(../images/sprite.png);
  background-position: -3016px -1527px;
  width: 90px;
  height: 80px; }

.icon-order-d-02 {
  background-image: url(../images/sprite.png);
  background-position: -2926px -1527px;
  width: 90px;
  height: 80px; }

.icon-order-e-01 {
  background-image: url(../images/sprite.png);
  background-position: -2836px -1527px;
  width: 90px;
  height: 80px; }

.icon-order-e-02 {
  background-image: url(../images/sprite.png);
  background-position: -2777px -1439px;
  width: 90px;
  height: 80px; }

.icon-orders-icon-01 {
  background-image: url(../images/sprite.png);
  background-position: -2464px -1627px;
  width: 73px;
  height: 110px; }

.icon-orders-icon-02 {
  background-image: url(../images/sprite.png);
  background-position: -3051px -1142px;
  width: 132px;
  height: 105px; }

.icon-orders-icon-03 {
  background-image: url(../images/sprite.png);
  background-position: -2464px -1527px;
  width: 100px;
  height: 100px; }

.icon-orders-icon-04 {
  background-image: url(../images/sprite.png);
  background-position: -2464px -1439px;
  width: 128px;
  height: 88px; }

.icon-ordinary {
  background-image: url(../images/sprite.png);
  background-position: -2537px -1627px;
  width: 84px;
  height: 84px; }

.icon-playbn-close {
  background-image: url(../images/sprite.png);
  background-position: -2534px -1817px;
  width: 68px;
  height: 68px; }

.icon-playbn-ok {
  background-image: url(../images/sprite.png);
  background-position: -2602px -1817px;
  width: 68px;
  height: 68px; }

.icon-playbuttonoff {
  background-image: url(../images/sprite.png);
  background-position: -2464px -1294px;
  width: 145px;
  height: 145px; }

.icon-playbuttonon {
  background-image: url(../images/sprite.png);
  background-position: -2906px -1142px;
  width: 145px;
  height: 145px; }

.icon-pointmark {
  background-image: url(../images/sprite.png);
  background-position: -3120px -1247px;
  width: 30px;
  height: 30px; }

.icon-popup-button-close {
  background-image: url(../images/sprite.png);
  background-position: -130px -1951px;
  width: 54px;
  height: 64px; }

.icon-popup-button-ok {
  background-image: url(../images/sprite.png);
  background-position: -3125px -1817px;
  width: 54px;
  height: 64px; }

.icon-previewbuttonoff {
  background-image: url(../images/sprite.png);
  background-position: -2761px -1142px;
  width: 145px;
  height: 145px; }

.icon-previewbuttonon {
  background-image: url(../images/sprite.png);
  background-position: -2616px -1142px;
  width: 145px;
  height: 145px; }

.icon-receipt-02 {
  background-image: url(../images/sprite.png);
  background-position: -3131px -912px;
  width: 45px;
  height: 67px; }

.icon-receipt-03 {
  background-image: url(../images/sprite.png);
  background-position: -2464px -1887px;
  width: 66px;
  height: 60px; }

.icon-receipt-hub {
  background-image: url(../images/sprite.png);
  background-position: -2999px -1089px;
  width: 75px;
  height: 48px; }

.icon-receipt-list-close {
  background-image: url(../images/sprite.png);
  background-position: -2537px -1711px;
  width: 26px;
  height: 26px; }

.icon-receipt-list-open {
  background-image: url(../images/sprite.png);
  background-position: -2563px -1711px;
  width: 26px;
  height: 26px; }

.icon-receipt-number {
  background-image: url(../images/sprite.png);
  background-position: -3106px -1527px;
  width: 70px;
  height: 70px; }

.icon-receipt-print {
  background-image: url(../images/sprite.png);
  background-position: -2650px -1887px;
  width: 60px;
  height: 60px; }

.icon-receipt-tip {
  background-image: url(../images/sprite.png);
  background-position: -184px -1951px;
  width: 55px;
  height: 55px; }

.icon-satisfaction {
  background-image: url(../images/sprite.png);
  background-position: -2621px -1627px;
  width: 84px;
  height: 84px; }

.icon-savepen {
  background-image: url(../images/sprite.png);
  background-position: -3145px -1362px;
  width: 30px;
  height: 30px; }

.icon-screen-all {
  background-image: url(../images/sprite.png);
  background-position: -2530px -1887px;
  width: 60px;
  height: 60px; }

.icon-screen-helf {
  background-image: url(../images/sprite.png);
  background-position: -2590px -1887px;
  width: 60px;
  height: 60px; }

.icon-search-list-add {
  background-image: url(../images/sprite.png);
  background-position: -2798px -1737px;
  width: 70px;
  height: 65px; }

.icon-search-list-buy {
  background-image: url(../images/sprite.png);
  background-position: -2728px -1737px;
  width: 70px;
  height: 65px; }

.icon-search-list-location {
  background-image: url(../images/sprite.png);
  background-position: -327px -1951px;
  width: 44px;
  height: 44px; }

.icon-search-list-price {
  background-image: url(../images/sprite.png);
  background-position: -283px -1951px;
  width: 44px;
  height: 44px; }

.icon-search-list-saletag {
  background-image: url(../images/sprite.png);
  background-position: -3051px -1247px;
  width: 69px;
  height: 36px; }

.icon-search-list-time {
  background-image: url(../images/sprite.png);
  background-position: -239px -1951px;
  width: 44px;
  height: 44px; }

.icon-service-01 {
  background-image: url(../images/sprite.png);
  background-position: -2464px -912px;
  width: 230px;
  height: 230px; }

.icon-service-02 {
  background-image: url(../images/sprite.png);
  background-position: -2694px -912px;
  width: 230px;
  height: 230px; }

.icon-shoppingcar {
  background-image: url(../images/sprite.png);
  background-position: -2963px -1627px;
  width: 86px;
  height: 73px; }

.icon-smart-icon-class {
  background-image: url(../images/sprite.png);
  background-position: -2743px -1294px;
  width: 134px;
  height: 134px; }

.icon-smart-icon-classlociton {
  background-image: url(../images/sprite.png);
  background-position: -2877px -1294px;
  width: 134px;
  height: 134px; }

.icon-smart-icon-form {
  background-image: url(../images/sprite.png);
  background-position: -2609px -1294px;
  width: 134px;
  height: 134px; }

.icon-smart-icon-needpay {
  background-image: url(../images/sprite.png);
  background-position: -3011px -1294px;
  width: 134px;
  height: 134px; }

.icon-staff001 {
  background-image: url(../images/sprite.png);
  background-position: -2464px -720px;
  width: 429px;
  height: 192px; }

.icon-staffsearch {
  background-image: url(../images/sprite.png);
  background-position: -2464px -1737px;
  width: 80px;
  height: 80px; }

.icon-studcardbg {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 2464px;
  height: 1951px; }

.icon-studylocation {
  background-image: url(../images/sprite.png);
  background-position: -371px -1951px;
  width: 42px;
  height: 42px; }

.icon-studyteacher {
  background-image: url(../images/sprite.png);
  background-position: -413px -1951px;
  width: 42px;
  height: 42px; }

.icon-studytime {
  background-image: url(../images/sprite.png);
  background-position: -3141px -1627px;
  width: 42px;
  height: 42px; }

.icon-timec {
  background-image: url(../images/sprite.png);
  background-position: -3137px -1439px;
  width: 46px;
  height: 46px; }

.icon-timenow {
  background-image: url(../images/sprite.png);
  background-position: -3145px -1294px;
  width: 38px;
  height: 38px; }

.icon-timestardown {
  background-image: url(../images/sprite.png);
  background-position: -3137px -1485px;
  width: 28px;
  height: 28px; }

.icon-toptip01 {
  background-image: url(../images/sprite.png);
  background-position: -2464px -1142px;
  width: 152px;
  height: 152px; }

.icon-toptip02 {
  background-image: url(../images/sprite.png);
  background-position: -2658px -1527px;
  width: 88px;
  height: 88px; }

.icon-trash-can {
  background-image: url(../images/sprite.png);
  background-position: -2884px -1887px;
  width: 48px;
  height: 48px; }

.icon-udollar-icon {
  background-image: url(../images/sprite.png);
  background-position: -2564px -1527px;
  width: 94px;
  height: 94px; }

.icon-updown {
  background-image: url(../images/sprite.png);
  background-position: -455px -1951px;
  width: 20px;
  height: 42px; }

.icon-updownlist {
  background-image: url(../images/sprite.png);
  background-position: -3141px -1669px;
  width: 25px;
  height: 25px; }

.icon-upig-white-l {
  background-image: url(../images/sprite.png);
  background-position: -2871px -1627px;
  width: 92px;
  height: 73px; }

.icon-upig-white {
  background-image: url(../images/sprite.png);
  background-position: -3131px -979px;
  width: 52px;
  height: 46px; }

.icon-upig {
  background-image: url(../images/sprite.png);
  background-position: -3074px -1089px;
  width: 54px;
  height: 48px; }

.icon-upigadd {
  background-image: url(../images/sprite.png);
  background-position: -3148px -754px;
  width: 32px;
  height: 32px; }

.icon-weather001 {
  background-image: url(../images/sprite.png);
  background-position: -2464px 0px;
  width: 720px;
  height: 720px; }

.icon-windowsclose {
  background-image: url(../images/sprite.png);
  background-position: -3148px -720px;
  width: 34px;
  height: 34px; }
