// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$-button-atm-name: 'Button-atm';
$-button-atm-x: 180px;
$-button-atm-y: 745px;
$-button-atm-offset-x: -180px;
$-button-atm-offset-y: -745px;
$-button-atm-width: 92px;
$-button-atm-height: 67px;
$-button-atm-total-width: 1037px;
$-button-atm-total-height: 958px;
$-button-atm-image: '../images/sprite.png';
$-button-atm: (180px, 745px, -180px, -745px, 92px, 67px, 1037px, 958px, '../images/sprite.png', 'Button-atm', );
$-button-cash-name: 'Button-cash';
$-button-cash-x: 528px;
$-button-cash-y: 611px;
$-button-cash-offset-x: -528px;
$-button-cash-offset-y: -611px;
$-button-cash-width: 95px;
$-button-cash-height: 85px;
$-button-cash-total-width: 1037px;
$-button-cash-total-height: 958px;
$-button-cash-image: '../images/sprite.png';
$-button-cash: (528px, 611px, -528px, -611px, 95px, 85px, 1037px, 958px, '../images/sprite.png', 'Button-cash', );
$-button-credit-card-name: 'Button-credit-card';
$-button-credit-card-x: 272px;
$-button-credit-card-y: 745px;
$-button-credit-card-offset-x: -272px;
$-button-credit-card-offset-y: -745px;
$-button-credit-card-width: 92px;
$-button-credit-card-height: 67px;
$-button-credit-card-total-width: 1037px;
$-button-credit-card-total-height: 958px;
$-button-credit-card-image: '../images/sprite.png';
$-button-credit-card: (272px, 745px, -272px, -745px, 92px, 67px, 1037px, 958px, '../images/sprite.png', 'Button-credit-card', );
$-button-goback-name: 'Button-goback';
$-button-goback-x: 364px;
$-button-goback-y: 745px;
$-button-goback-offset-x: -364px;
$-button-goback-offset-y: -745px;
$-button-goback-width: 92px;
$-button-goback-height: 67px;
$-button-goback-total-width: 1037px;
$-button-goback-total-height: 958px;
$-button-goback-image: '../images/sprite.png';
$-button-goback: (364px, 745px, -364px, -745px, 92px, 67px, 1037px, 958px, '../images/sprite.png', 'Button-goback', );
$-drop-down-name: 'Drop-down';
$-drop-down-x: 1020px;
$-drop-down-y: 712px;
$-drop-down-offset-x: -1020px;
$-drop-down-offset-y: -712px;
$-drop-down-width: 16px;
$-drop-down-height: 9px;
$-drop-down-total-width: 1037px;
$-drop-down-total-height: 958px;
$-drop-down-image: '../images/sprite.png';
$-drop-down: (1020px, 712px, -1020px, -712px, 16px, 9px, 1037px, 958px, '../images/sprite.png', 'Drop-down', );
$advisory-down-w-name: 'advisory-down-w';
$advisory-down-w-x: 545px;
$advisory-down-w-y: 550px;
$advisory-down-w-offset-x: -545px;
$advisory-down-w-offset-y: -550px;
$advisory-down-w-width: 28px;
$advisory-down-w-height: 15px;
$advisory-down-w-total-width: 1037px;
$advisory-down-w-total-height: 958px;
$advisory-down-w-image: '../images/sprite.png';
$advisory-down-w: (545px, 550px, -545px, -550px, 28px, 15px, 1037px, 958px, '../images/sprite.png', 'advisory-down-w', );
$advisory-down-name: 'advisory-down';
$advisory-down-x: 429px;
$advisory-down-y: 407px;
$advisory-down-offset-x: -429px;
$advisory-down-offset-y: -407px;
$advisory-down-width: 28px;
$advisory-down-height: 15px;
$advisory-down-total-width: 1037px;
$advisory-down-total-height: 958px;
$advisory-down-image: '../images/sprite.png';
$advisory-down: (429px, 407px, -429px, -407px, 28px, 15px, 1037px, 958px, '../images/sprite.png', 'advisory-down', );
$advisoryadd-name: 'advisoryadd';
$advisoryadd-x: 899px;
$advisoryadd-y: 825px;
$advisoryadd-offset-x: -899px;
$advisoryadd-offset-y: -825px;
$advisoryadd-width: 65px;
$advisoryadd-height: 55px;
$advisoryadd-total-width: 1037px;
$advisoryadd-total-height: 958px;
$advisoryadd-image: '../images/sprite.png';
$advisoryadd: (899px, 825px, -899px, -825px, 65px, 55px, 1037px, 958px, '../images/sprite.png', 'advisoryadd', );
$arrow-g01-name: 'arrow-g01';
$arrow-g01-x: 982px;
$arrow-g01-y: 784px;
$arrow-g01-offset-x: -982px;
$arrow-g01-offset-y: -784px;
$arrow-g01-width: 32px;
$arrow-g01-height: 32px;
$arrow-g01-total-width: 1037px;
$arrow-g01-total-height: 958px;
$arrow-g01-image: '../images/sprite.png';
$arrow-g01: (982px, 784px, -982px, -784px, 32px, 32px, 1037px, 958px, '../images/sprite.png', 'arrow-g01', );
$arrow-g02-name: 'arrow-g02';
$arrow-g02-x: 982px;
$arrow-g02-y: 816px;
$arrow-g02-offset-x: -982px;
$arrow-g02-offset-y: -816px;
$arrow-g02-width: 32px;
$arrow-g02-height: 32px;
$arrow-g02-total-width: 1037px;
$arrow-g02-total-height: 958px;
$arrow-g02-image: '../images/sprite.png';
$arrow-g02: (982px, 816px, -982px, -816px, 32px, 32px, 1037px, 958px, '../images/sprite.png', 'arrow-g02', );
$arrow01-name: 'arrow01';
$arrow01-x: 382px;
$arrow01-y: 282px;
$arrow01-offset-x: -382px;
$arrow01-offset-y: -282px;
$arrow01-width: 30px;
$arrow01-height: 30px;
$arrow01-total-width: 1037px;
$arrow01-total-height: 958px;
$arrow01-image: '../images/sprite.png';
$arrow01: (382px, 282px, -382px, -282px, 30px, 30px, 1037px, 958px, '../images/sprite.png', 'arrow01', );
$arrow02-name: 'arrow02';
$arrow02-x: 382px;
$arrow02-y: 312px;
$arrow02-offset-x: -382px;
$arrow02-offset-y: -312px;
$arrow02-width: 30px;
$arrow02-height: 30px;
$arrow02-total-width: 1037px;
$arrow02-total-height: 958px;
$arrow02-image: '../images/sprite.png';
$arrow02: (382px, 312px, -382px, -312px, 30px, 30px, 1037px, 958px, '../images/sprite.png', 'arrow02', );
$atm-check-name: 'atm-check';
$atm-check-x: 898px;
$atm-check-y: 252px;
$atm-check-offset-x: -898px;
$atm-check-offset-y: -252px;
$atm-check-width: 82px;
$atm-check-height: 82px;
$atm-check-total-width: 1037px;
$atm-check-total-height: 958px;
$atm-check-image: '../images/sprite.png';
$atm-check: (898px, 252px, -898px, -252px, 82px, 82px, 1037px, 958px, '../images/sprite.png', 'atm-check', );
$bdcake-name: 'bdcake';
$bdcake-x: 163px;
$bdcake-y: 893px;
$bdcake-offset-x: -163px;
$bdcake-offset-y: -893px;
$bdcake-width: 61px;
$bdcake-height: 53px;
$bdcake-total-width: 1037px;
$bdcake-total-height: 958px;
$bdcake-image: '../images/sprite.png';
$bdcake: (163px, 893px, -163px, -893px, 61px, 53px, 1037px, 958px, '../images/sprite.png', 'bdcake', );
$buy-popup-name: 'buy-popup';
$buy-popup-x: 0px;
$buy-popup-y: 422px;
$buy-popup-offset-x: 0px;
$buy-popup-offset-y: -422px;
$buy-popup-width: 255px;
$buy-popup-height: 189px;
$buy-popup-total-width: 1037px;
$buy-popup-total-height: 958px;
$buy-popup-image: '../images/sprite.png';
$buy-popup: (0px, 422px, 0px, -422px, 255px, 189px, 1037px, 958px, '../images/sprite.png', 'buy-popup', );
$chat-name: 'chat';
$chat-x: 734px;
$chat-y: 558px;
$chat-offset-x: -734px;
$chat-offset-y: -558px;
$chat-width: 58px;
$chat-height: 39px;
$chat-total-width: 1037px;
$chat-total-height: 958px;
$chat-image: '../images/sprite.png';
$chat: (734px, 558px, -734px, -558px, 58px, 39px, 1037px, 958px, '../images/sprite.png', 'chat', );
$class-number-name: 'class-number';
$class-number-x: 898px;
$class-number-y: 648px;
$class-number-offset-x: -898px;
$class-number-offset-y: -648px;
$class-number-width: 70px;
$class-number-height: 70px;
$class-number-total-width: 1037px;
$class-number-total-height: 958px;
$class-number-image: '../images/sprite.png';
$class-number: (898px, 648px, -898px, -648px, 70px, 70px, 1037px, 958px, '../images/sprite.png', 'class-number', );
$edit-close-name: 'edit-close';
$edit-close-x: 726px;
$edit-close-y: 745px;
$edit-close-offset-x: -726px;
$edit-close-offset-y: -745px;
$edit-close-width: 65px;
$edit-close-height: 65px;
$edit-close-total-width: 1037px;
$edit-close-total-height: 958px;
$edit-close-image: '../images/sprite.png';
$edit-close: (726px, 745px, -726px, -745px, 65px, 65px, 1037px, 958px, '../images/sprite.png', 'edit-close', );
$edit-ok-name: 'edit-ok';
$edit-ok-x: 393px;
$edit-ok-y: 825px;
$edit-ok-offset-x: -393px;
$edit-ok-offset-y: -825px;
$edit-ok-width: 65px;
$edit-ok-height: 65px;
$edit-ok-total-width: 1037px;
$edit-ok-total-height: 958px;
$edit-ok-image: '../images/sprite.png';
$edit-ok: (393px, 825px, -393px, -825px, 65px, 65px, 1037px, 958px, '../images/sprite.png', 'edit-ok', );
$editmore-w-name: 'editmore-w';
$editmore-w-x: 457px;
$editmore-w-y: 407px;
$editmore-w-offset-x: -457px;
$editmore-w-offset-y: -407px;
$editmore-w-width: 35px;
$editmore-w-height: 12px;
$editmore-w-total-width: 1037px;
$editmore-w-total-height: 958px;
$editmore-w-image: '../images/sprite.png';
$editmore-w: (457px, 407px, -457px, -407px, 35px, 12px, 1037px, 958px, '../images/sprite.png', 'editmore-w', );
$editmore-name: 'editmore';
$editmore-x: 982px;
$editmore-y: 939px;
$editmore-offset-x: -982px;
$editmore-offset-y: -939px;
$editmore-width: 35px;
$editmore-height: 12px;
$editmore-total-width: 1037px;
$editmore-total-height: 958px;
$editmore-image: '../images/sprite.png';
$editmore: (982px, 939px, -982px, -939px, 35px, 12px, 1037px, 958px, '../images/sprite.png', 'editmore', );
$list-close-name: 'list-close';
$list-close-x: 382px;
$list-close-y: 252px;
$list-close-offset-x: -382px;
$list-close-offset-y: -252px;
$list-close-width: 30px;
$list-close-height: 30px;
$list-close-total-width: 1037px;
$list-close-total-height: 958px;
$list-close-image: '../images/sprite.png';
$list-close: (382px, 252px, -382px, -252px, 30px, 30px, 1037px, 958px, '../images/sprite.png', 'list-close', );
$list-open-name: 'list-open';
$list-open-x: 382px;
$list-open-y: 222px;
$list-open-offset-x: -382px;
$list-open-offset-y: -222px;
$list-open-width: 30px;
$list-open-height: 30px;
$list-open-total-width: 1037px;
$list-open-total-height: 958px;
$list-open-image: '../images/sprite.png';
$list-open: (382px, 222px, -382px, -222px, 30px, 30px, 1037px, 958px, '../images/sprite.png', 'list-open', );
$mailto-name: 'mailto';
$mailto-x: 804px;
$mailto-y: 692px;
$mailto-offset-x: -804px;
$mailto-offset-y: -692px;
$mailto-width: 75px;
$mailto-height: 50px;
$mailto-total-width: 1037px;
$mailto-total-height: 958px;
$mailto-image: '../images/sprite.png';
$mailto: (804px, 692px, -804px, -692px, 75px, 50px, 1037px, 958px, '../images/sprite.png', 'mailto', );
$mysearch-name: 'mysearch';
$mysearch-x: 429px;
$mysearch-y: 230px;
$mysearch-offset-x: -429px;
$mysearch-offset-y: -230px;
$mysearch-width: 207px;
$mysearch-height: 177px;
$mysearch-total-width: 1037px;
$mysearch-total-height: 958px;
$mysearch-image: '../images/sprite.png';
$mysearch: (429px, 230px, -429px, -230px, 207px, 177px, 1037px, 958px, '../images/sprite.png', 'mysearch', );
$notsatisfied-name: 'notsatisfied';
$notsatisfied-x: 898px;
$notsatisfied-y: 0px;
$notsatisfied-offset-x: -898px;
$notsatisfied-offset-y: 0px;
$notsatisfied-width: 84px;
$notsatisfied-height: 84px;
$notsatisfied-total-width: 1037px;
$notsatisfied-total-height: 958px;
$notsatisfied-image: '../images/sprite.png';
$notsatisfied: (898px, 0px, -898px, 0px, 84px, 84px, 1037px, 958px, '../images/sprite.png', 'notsatisfied', );
$order-a-01-name: 'order-a-01';
$order-a-01-x: 804px;
$order-a-01-y: 612px;
$order-a-01-offset-x: -804px;
$order-a-01-offset-y: -612px;
$order-a-01-width: 90px;
$order-a-01-height: 80px;
$order-a-01-total-width: 1037px;
$order-a-01-total-height: 958px;
$order-a-01-image: '../images/sprite.png';
$order-a-01: (804px, 612px, -804px, -612px, 90px, 80px, 1037px, 958px, '../images/sprite.png', 'order-a-01', );
$order-a-02-name: 'order-a-02';
$order-a-02-x: 623px;
$order-a-02-y: 611px;
$order-a-02-offset-x: -623px;
$order-a-02-offset-y: -611px;
$order-a-02-width: 90px;
$order-a-02-height: 80px;
$order-a-02-total-width: 1037px;
$order-a-02-total-height: 958px;
$order-a-02-image: '../images/sprite.png';
$order-a-02: (623px, 611px, -623px, -611px, 90px, 80px, 1037px, 958px, '../images/sprite.png', 'order-a-02', );
$order-b-01-name: 'order-b-01';
$order-b-01-x: 713px;
$order-b-01-y: 611px;
$order-b-01-offset-x: -713px;
$order-b-01-offset-y: -611px;
$order-b-01-width: 90px;
$order-b-01-height: 80px;
$order-b-01-total-width: 1037px;
$order-b-01-total-height: 958px;
$order-b-01-image: '../images/sprite.png';
$order-b-01: (713px, 611px, -713px, -611px, 90px, 80px, 1037px, 958px, '../images/sprite.png', 'order-b-01', );
$order-b-02-name: 'order-b-02';
$order-b-02-x: 0px;
$order-b-02-y: 745px;
$order-b-02-offset-x: 0px;
$order-b-02-offset-y: -745px;
$order-b-02-width: 90px;
$order-b-02-height: 80px;
$order-b-02-total-width: 1037px;
$order-b-02-total-height: 958px;
$order-b-02-image: '../images/sprite.png';
$order-b-02: (0px, 745px, 0px, -745px, 90px, 80px, 1037px, 958px, '../images/sprite.png', 'order-b-02', );
$order-button-add-n-name: 'order-button-add-n';
$order-button-add-n-x: 982px;
$order-button-add-n-y: 360px;
$order-button-add-n-offset-x: -982px;
$order-button-add-n-offset-y: -360px;
$order-button-add-n-width: 48px;
$order-button-add-n-height: 48px;
$order-button-add-n-total-width: 1037px;
$order-button-add-n-total-height: 958px;
$order-button-add-n-image: '../images/sprite.png';
$order-button-add-n: (982px, 360px, -982px, -360px, 48px, 48px, 1037px, 958px, '../images/sprite.png', 'order-button-add-n', );
$order-button-add-name: 'order-button-add';
$order-button-add-x: 982px;
$order-button-add-y: 312px;
$order-button-add-offset-x: -982px;
$order-button-add-offset-y: -312px;
$order-button-add-width: 48px;
$order-button-add-height: 48px;
$order-button-add-total-width: 1037px;
$order-button-add-total-height: 958px;
$order-button-add-image: '../images/sprite.png';
$order-button-add: (982px, 312px, -982px, -312px, 48px, 48px, 1037px, 958px, '../images/sprite.png', 'order-button-add', );
$order-button-alladd-name: 'order-button-alladd';
$order-button-alladd-x: 0px;
$order-button-alladd-y: 893px;
$order-button-alladd-offset-x: 0px;
$order-button-alladd-offset-y: -893px;
$order-button-alladd-width: 55px;
$order-button-alladd-height: 65px;
$order-button-alladd-total-width: 1037px;
$order-button-alladd-total-height: 958px;
$order-button-alladd-image: '../images/sprite.png';
$order-button-alladd: (0px, 893px, 0px, -893px, 55px, 65px, 1037px, 958px, '../images/sprite.png', 'order-button-alladd', );
$order-button-d-name: 'order-button-d';
$order-button-d-x: 982px;
$order-button-d-y: 264px;
$order-button-d-offset-x: -982px;
$order-button-d-offset-y: -264px;
$order-button-d-width: 48px;
$order-button-d-height: 48px;
$order-button-d-total-width: 1037px;
$order-button-d-total-height: 958px;
$order-button-d-image: '../images/sprite.png';
$order-button-d: (982px, 264px, -982px, -264px, 48px, 48px, 1037px, 958px, '../images/sprite.png', 'order-button-d', );
$order-button-like-name: 'order-button-like';
$order-button-like-x: 982px;
$order-button-like-y: 880px;
$order-button-like-offset-x: -982px;
$order-button-like-offset-y: -880px;
$order-button-like-width: 34px;
$order-button-like-height: 29px;
$order-button-like-total-width: 1037px;
$order-button-like-total-height: 958px;
$order-button-like-image: '../images/sprite.png';
$order-button-like: (982px, 880px, -982px, -880px, 34px, 29px, 1037px, 958px, '../images/sprite.png', 'order-button-like', );
$order-button4-1-name: 'order-button4-1';
$order-button4-1-x: 458px;
$order-button4-1-y: 825px;
$order-button4-1-offset-x: -458px;
$order-button4-1-offset-y: -825px;
$order-button4-1-width: 65px;
$order-button4-1-height: 65px;
$order-button4-1-total-width: 1037px;
$order-button4-1-total-height: 958px;
$order-button4-1-image: '../images/sprite.png';
$order-button4-1: (458px, 825px, -458px, -825px, 65px, 65px, 1037px, 958px, '../images/sprite.png', 'order-button4-1', );
$order-button4-2-name: 'order-button4-2';
$order-button4-2-x: 523px;
$order-button4-2-y: 825px;
$order-button4-2-offset-x: -523px;
$order-button4-2-offset-y: -825px;
$order-button4-2-width: 65px;
$order-button4-2-height: 65px;
$order-button4-2-total-width: 1037px;
$order-button4-2-total-height: 958px;
$order-button4-2-image: '../images/sprite.png';
$order-button4-2: (523px, 825px, -523px, -825px, 65px, 65px, 1037px, 958px, '../images/sprite.png', 'order-button4-2', );
$order-button4-2-png-name: 'order-button4-2.png';
$order-button4-2-png-x: 588px;
$order-button4-2-png-y: 825px;
$order-button4-2-png-offset-x: -588px;
$order-button4-2-png-offset-y: -825px;
$order-button4-2-png-width: 65px;
$order-button4-2-png-height: 65px;
$order-button4-2-png-total-width: 1037px;
$order-button4-2-png-total-height: 958px;
$order-button4-2-png-image: '../images/sprite.png';
$order-button4-2-png: (588px, 825px, -588px, -825px, 65px, 65px, 1037px, 958px, '../images/sprite.png', 'order-button4-2.png', );
$order-button4-3-name: 'order-button4-3';
$order-button4-3-x: 596px;
$order-button4-3-y: 745px;
$order-button4-3-offset-x: -596px;
$order-button4-3-offset-y: -745px;
$order-button4-3-width: 65px;
$order-button4-3-height: 65px;
$order-button4-3-total-width: 1037px;
$order-button4-3-total-height: 958px;
$order-button4-3-image: '../images/sprite.png';
$order-button4-3: (596px, 745px, -596px, -745px, 65px, 65px, 1037px, 958px, '../images/sprite.png', 'order-button4-3', );
$order-button4-3-png-name: 'order-button4-3.png';
$order-button4-3-png-x: 661px;
$order-button4-3-png-y: 745px;
$order-button4-3-png-offset-x: -661px;
$order-button4-3-png-offset-y: -745px;
$order-button4-3-png-width: 65px;
$order-button4-3-png-height: 65px;
$order-button4-3-png-total-width: 1037px;
$order-button4-3-png-total-height: 958px;
$order-button4-3-png-image: '../images/sprite.png';
$order-button4-3-png: (661px, 745px, -661px, -745px, 65px, 65px, 1037px, 958px, '../images/sprite.png', 'order-button4-3.png', );
$order-button4-4-name: 'order-button4-4';
$order-button4-4-x: 791px;
$order-button4-4-y: 745px;
$order-button4-4-offset-x: -791px;
$order-button4-4-offset-y: -745px;
$order-button4-4-width: 65px;
$order-button4-4-height: 65px;
$order-button4-4-total-width: 1037px;
$order-button4-4-total-height: 958px;
$order-button4-4-image: '../images/sprite.png';
$order-button4-4: (791px, 745px, -791px, -745px, 65px, 65px, 1037px, 958px, '../images/sprite.png', 'order-button4-4', );
$order-button4-4-png-name: 'order-button4-4.png';
$order-button4-4-png-x: 68px;
$order-button4-4-png-y: 825px;
$order-button4-4-png-offset-x: -68px;
$order-button4-4-png-offset-y: -825px;
$order-button4-4-png-width: 65px;
$order-button4-4-png-height: 65px;
$order-button4-4-png-total-width: 1037px;
$order-button4-4-png-total-height: 958px;
$order-button4-4-png-image: '../images/sprite.png';
$order-button4-4-png: (68px, 825px, -68px, -825px, 65px, 65px, 1037px, 958px, '../images/sprite.png', 'order-button4-4.png', );
$order-button4-5-name: 'order-button4-5';
$order-button4-5-x: 133px;
$order-button4-5-y: 825px;
$order-button4-5-offset-x: -133px;
$order-button4-5-offset-y: -825px;
$order-button4-5-width: 65px;
$order-button4-5-height: 65px;
$order-button4-5-total-width: 1037px;
$order-button4-5-total-height: 958px;
$order-button4-5-image: '../images/sprite.png';
$order-button4-5: (133px, 825px, -133px, -825px, 65px, 65px, 1037px, 958px, '../images/sprite.png', 'order-button4-5', );
$order-button4-6-name: 'order-button4-6';
$order-button4-6-x: 198px;
$order-button4-6-y: 825px;
$order-button4-6-offset-x: -198px;
$order-button4-6-offset-y: -825px;
$order-button4-6-width: 65px;
$order-button4-6-height: 65px;
$order-button4-6-total-width: 1037px;
$order-button4-6-total-height: 958px;
$order-button4-6-image: '../images/sprite.png';
$order-button4-6: (198px, 825px, -198px, -825px, 65px, 65px, 1037px, 958px, '../images/sprite.png', 'order-button4-6', );
$order-button4-7-name: 'order-button4-7';
$order-button4-7-x: 263px;
$order-button4-7-y: 825px;
$order-button4-7-offset-x: -263px;
$order-button4-7-offset-y: -825px;
$order-button4-7-width: 65px;
$order-button4-7-height: 65px;
$order-button4-7-total-width: 1037px;
$order-button4-7-total-height: 958px;
$order-button4-7-image: '../images/sprite.png';
$order-button4-7: (263px, 825px, -263px, -825px, 65px, 65px, 1037px, 958px, '../images/sprite.png', 'order-button4-7', );
$order-button4-8-name: 'order-button4-8';
$order-button4-8-x: 328px;
$order-button4-8-y: 825px;
$order-button4-8-offset-x: -328px;
$order-button4-8-offset-y: -825px;
$order-button4-8-width: 65px;
$order-button4-8-height: 65px;
$order-button4-8-total-width: 1037px;
$order-button4-8-total-height: 958px;
$order-button4-8-image: '../images/sprite.png';
$order-button4-8: (328px, 825px, -328px, -825px, 65px, 65px, 1037px, 958px, '../images/sprite.png', 'order-button4-8', );
$order-c-01-name: 'order-c-01';
$order-c-01-x: 804px;
$order-c-01-y: 452px;
$order-c-01-offset-x: -804px;
$order-c-01-offset-y: -452px;
$order-c-01-width: 90px;
$order-c-01-height: 80px;
$order-c-01-total-width: 1037px;
$order-c-01-total-height: 958px;
$order-c-01-image: '../images/sprite.png';
$order-c-01: (804px, 452px, -804px, -452px, 90px, 80px, 1037px, 958px, '../images/sprite.png', 'order-c-01', );
$order-d-01-name: 'order-d-01';
$order-d-01-x: 90px;
$order-d-01-y: 745px;
$order-d-01-offset-x: -90px;
$order-d-01-offset-y: -745px;
$order-d-01-width: 90px;
$order-d-01-height: 80px;
$order-d-01-total-width: 1037px;
$order-d-01-total-height: 958px;
$order-d-01-image: '../images/sprite.png';
$order-d-01: (90px, 745px, -90px, -745px, 90px, 80px, 1037px, 958px, '../images/sprite.png', 'order-d-01', );
$order-d-02-name: 'order-d-02';
$order-d-02-x: 804px;
$order-d-02-y: 532px;
$order-d-02-offset-x: -804px;
$order-d-02-offset-y: -532px;
$order-d-02-width: 90px;
$order-d-02-height: 80px;
$order-d-02-total-width: 1037px;
$order-d-02-total-height: 958px;
$order-d-02-image: '../images/sprite.png';
$order-d-02: (804px, 532px, -804px, -532px, 90px, 80px, 1037px, 958px, '../images/sprite.png', 'order-d-02', );
$order-e-01-name: 'order-e-01';
$order-e-01-x: 804px;
$order-e-01-y: 372px;
$order-e-01-offset-x: -804px;
$order-e-01-offset-y: -372px;
$order-e-01-width: 90px;
$order-e-01-height: 80px;
$order-e-01-total-width: 1037px;
$order-e-01-total-height: 958px;
$order-e-01-image: '../images/sprite.png';
$order-e-01: (804px, 372px, -804px, -372px, 90px, 80px, 1037px, 958px, '../images/sprite.png', 'order-e-01', );
$order-e-02-name: 'order-e-02';
$order-e-02-x: 804px;
$order-e-02-y: 292px;
$order-e-02-offset-x: -804px;
$order-e-02-offset-y: -292px;
$order-e-02-width: 90px;
$order-e-02-height: 80px;
$order-e-02-total-width: 1037px;
$order-e-02-total-height: 958px;
$order-e-02-image: '../images/sprite.png';
$order-e-02: (804px, 292px, -804px, -292px, 90px, 80px, 1037px, 958px, '../images/sprite.png', 'order-e-02', );
$orders-icon-01-name: 'orders-icon-01';
$orders-icon-01-x: 804px;
$orders-icon-01-y: 94px;
$orders-icon-01-offset-x: -804px;
$orders-icon-01-offset-y: -94px;
$orders-icon-01-width: 73px;
$orders-icon-01-height: 110px;
$orders-icon-01-total-width: 1037px;
$orders-icon-01-total-height: 958px;
$orders-icon-01-image: '../images/sprite.png';
$orders-icon-01: (804px, 94px, -804px, -94px, 73px, 110px, 1037px, 958px, '../images/sprite.png', 'orders-icon-01', );
$orders-icon-02-name: 'orders-icon-02';
$orders-icon-02-x: 268px;
$orders-icon-02-y: 611px;
$orders-icon-02-offset-x: -268px;
$orders-icon-02-offset-y: -611px;
$orders-icon-02-width: 132px;
$orders-icon-02-height: 105px;
$orders-icon-02-total-width: 1037px;
$orders-icon-02-total-height: 958px;
$orders-icon-02-image: '../images/sprite.png';
$orders-icon-02: (268px, 611px, -268px, -611px, 132px, 105px, 1037px, 958px, '../images/sprite.png', 'orders-icon-02', );
$orders-icon-03-name: 'orders-icon-03';
$orders-icon-03-x: 545px;
$orders-icon-03-y: 422px;
$orders-icon-03-offset-x: -545px;
$orders-icon-03-offset-y: -422px;
$orders-icon-03-width: 100px;
$orders-icon-03-height: 100px;
$orders-icon-03-total-width: 1037px;
$orders-icon-03-total-height: 958px;
$orders-icon-03-image: '../images/sprite.png';
$orders-icon-03: (545px, 422px, -545px, -422px, 100px, 100px, 1037px, 958px, '../images/sprite.png', 'orders-icon-03', );
$orders-icon-04-name: 'orders-icon-04';
$orders-icon-04-x: 400px;
$orders-icon-04-y: 611px;
$orders-icon-04-offset-x: -400px;
$orders-icon-04-offset-y: -611px;
$orders-icon-04-width: 128px;
$orders-icon-04-height: 88px;
$orders-icon-04-total-width: 1037px;
$orders-icon-04-total-height: 958px;
$orders-icon-04-image: '../images/sprite.png';
$orders-icon-04: (400px, 611px, -400px, -611px, 128px, 88px, 1037px, 958px, '../images/sprite.png', 'orders-icon-04', );
$ordinary-name: 'ordinary';
$ordinary-x: 898px;
$ordinary-y: 168px;
$ordinary-offset-x: -898px;
$ordinary-offset-y: -168px;
$ordinary-width: 84px;
$ordinary-height: 84px;
$ordinary-total-width: 1037px;
$ordinary-total-height: 958px;
$ordinary-image: '../images/sprite.png';
$ordinary: (898px, 168px, -898px, -168px, 84px, 84px, 1037px, 958px, '../images/sprite.png', 'ordinary', );
$playbn-close-name: 'playbn-close';
$playbn-close-x: 0px;
$playbn-close-y: 825px;
$playbn-close-offset-x: 0px;
$playbn-close-offset-y: -825px;
$playbn-close-width: 68px;
$playbn-close-height: 68px;
$playbn-close-total-width: 1037px;
$playbn-close-total-height: 958px;
$playbn-close-image: '../images/sprite.png';
$playbn-close: (0px, 825px, 0px, -825px, 68px, 68px, 1037px, 958px, '../images/sprite.png', 'playbn-close', );
$playbn-ok-name: 'playbn-ok';
$playbn-ok-x: 898px;
$playbn-ok-y: 718px;
$playbn-ok-offset-x: -898px;
$playbn-ok-offset-y: -718px;
$playbn-ok-width: 68px;
$playbn-ok-height: 68px;
$playbn-ok-total-width: 1037px;
$playbn-ok-total-height: 958px;
$playbn-ok-image: '../images/sprite.png';
$playbn-ok: (898px, 718px, -898px, -718px, 68px, 68px, 1037px, 958px, '../images/sprite.png', 'playbn-ok', );
$playbuttonoff-name: 'playbuttonoff';
$playbuttonoff-x: 659px;
$playbuttonoff-y: 145px;
$playbuttonoff-offset-x: -659px;
$playbuttonoff-offset-y: -145px;
$playbuttonoff-width: 145px;
$playbuttonoff-height: 145px;
$playbuttonoff-total-width: 1037px;
$playbuttonoff-total-height: 958px;
$playbuttonoff-image: '../images/sprite.png';
$playbuttonoff: (659px, 145px, -659px, -145px, 145px, 145px, 1037px, 958px, '../images/sprite.png', 'playbuttonoff', );
$playbuttonon-name: 'playbuttonon';
$playbuttonon-x: 255px;
$playbuttonon-y: 422px;
$playbuttonon-offset-x: -255px;
$playbuttonon-offset-y: -422px;
$playbuttonon-width: 145px;
$playbuttonon-height: 145px;
$playbuttonon-total-width: 1037px;
$playbuttonon-total-height: 958px;
$playbuttonon-image: '../images/sprite.png';
$playbuttonon: (255px, 422px, -255px, -422px, 145px, 145px, 1037px, 958px, '../images/sprite.png', 'playbuttonon', );
$pointmark-name: 'pointmark';
$pointmark-x: 382px;
$pointmark-y: 192px;
$pointmark-offset-x: -382px;
$pointmark-offset-y: -192px;
$pointmark-width: 30px;
$pointmark-height: 30px;
$pointmark-total-width: 1037px;
$pointmark-total-height: 958px;
$pointmark-image: '../images/sprite.png';
$pointmark: (382px, 192px, -382px, -192px, 30px, 30px, 1037px, 958px, '../images/sprite.png', 'pointmark', );
$popup-button-close-name: 'popup-button-close';
$popup-button-close-x: 109px;
$popup-button-close-y: 893px;
$popup-button-close-offset-x: -109px;
$popup-button-close-offset-y: -893px;
$popup-button-close-width: 54px;
$popup-button-close-height: 64px;
$popup-button-close-total-width: 1037px;
$popup-button-close-total-height: 958px;
$popup-button-close-image: '../images/sprite.png';
$popup-button-close: (109px, 893px, -109px, -893px, 54px, 64px, 1037px, 958px, '../images/sprite.png', 'popup-button-close', );
$popup-button-ok-name: 'popup-button-ok';
$popup-button-ok-x: 55px;
$popup-button-ok-y: 893px;
$popup-button-ok-offset-x: -55px;
$popup-button-ok-offset-y: -893px;
$popup-button-ok-width: 54px;
$popup-button-ok-height: 64px;
$popup-button-ok-total-width: 1037px;
$popup-button-ok-total-height: 958px;
$popup-button-ok-image: '../images/sprite.png';
$popup-button-ok: (55px, 893px, -55px, -893px, 54px, 64px, 1037px, 958px, '../images/sprite.png', 'popup-button-ok', );
$previewbuttonoff-name: 'previewbuttonoff';
$previewbuttonoff-x: 659px;
$previewbuttonoff-y: 0px;
$previewbuttonoff-offset-x: -659px;
$previewbuttonoff-offset-y: 0px;
$previewbuttonoff-width: 145px;
$previewbuttonoff-height: 145px;
$previewbuttonoff-total-width: 1037px;
$previewbuttonoff-total-height: 958px;
$previewbuttonoff-image: '../images/sprite.png';
$previewbuttonoff: (659px, 0px, -659px, 0px, 145px, 145px, 1037px, 958px, '../images/sprite.png', 'previewbuttonoff', );
$previewbuttonon-name: 'previewbuttonon';
$previewbuttonon-x: 400px;
$previewbuttonon-y: 422px;
$previewbuttonon-offset-x: -400px;
$previewbuttonon-offset-y: -422px;
$previewbuttonon-width: 145px;
$previewbuttonon-height: 145px;
$previewbuttonon-total-width: 1037px;
$previewbuttonon-total-height: 958px;
$previewbuttonon-image: '../images/sprite.png';
$previewbuttonon: (400px, 422px, -400px, -422px, 145px, 145px, 1037px, 958px, '../images/sprite.png', 'previewbuttonon', );
$receipt-02-name: 'receipt-02';
$receipt-02-x: 982px;
$receipt-02-y: 55px;
$receipt-02-offset-x: -982px;
$receipt-02-offset-y: -55px;
$receipt-02-width: 45px;
$receipt-02-height: 67px;
$receipt-02-total-width: 1037px;
$receipt-02-total-height: 958px;
$receipt-02-image: '../images/sprite.png';
$receipt-02: (982px, 55px, -982px, -55px, 45px, 67px, 1037px, 958px, '../images/sprite.png', 'receipt-02', );
$receipt-03-name: 'receipt-03';
$receipt-03-x: 653px;
$receipt-03-y: 825px;
$receipt-03-offset-x: -653px;
$receipt-03-offset-y: -825px;
$receipt-03-width: 66px;
$receipt-03-height: 60px;
$receipt-03-total-width: 1037px;
$receipt-03-total-height: 958px;
$receipt-03-image: '../images/sprite.png';
$receipt-03: (653px, 825px, -653px, -825px, 66px, 60px, 1037px, 958px, '../images/sprite.png', 'receipt-03', );
$receipt-hub-name: 'receipt-hub';
$receipt-hub-x: 659px;
$receipt-hub-y: 558px;
$receipt-hub-offset-x: -659px;
$receipt-hub-offset-y: -558px;
$receipt-hub-width: 75px;
$receipt-hub-height: 48px;
$receipt-hub-total-width: 1037px;
$receipt-hub-total-height: 958px;
$receipt-hub-image: '../images/sprite.png';
$receipt-hub: (659px, 558px, -659px, -558px, 75px, 48px, 1037px, 958px, '../images/sprite.png', 'receipt-hub', );
$receipt-list-close-name: 'receipt-list-close';
$receipt-list-close-x: 627px;
$receipt-list-close-y: 522px;
$receipt-list-close-offset-x: -627px;
$receipt-list-close-offset-y: -522px;
$receipt-list-close-width: 26px;
$receipt-list-close-height: 26px;
$receipt-list-close-total-width: 1037px;
$receipt-list-close-total-height: 958px;
$receipt-list-close-image: '../images/sprite.png';
$receipt-list-close: (627px, 522px, -627px, -522px, 26px, 26px, 1037px, 958px, '../images/sprite.png', 'receipt-list-close', );
$receipt-list-open-name: 'receipt-list-open';
$receipt-list-open-x: 601px;
$receipt-list-open-y: 522px;
$receipt-list-open-offset-x: -601px;
$receipt-list-open-offset-y: -522px;
$receipt-list-open-width: 26px;
$receipt-list-open-height: 26px;
$receipt-list-open-total-width: 1037px;
$receipt-list-open-total-height: 958px;
$receipt-list-open-image: '../images/sprite.png';
$receipt-list-open: (601px, 522px, -601px, -522px, 26px, 26px, 1037px, 958px, '../images/sprite.png', 'receipt-list-open', );
$receipt-number-name: 'receipt-number';
$receipt-number-x: 898px;
$receipt-number-y: 578px;
$receipt-number-offset-x: -898px;
$receipt-number-offset-y: -578px;
$receipt-number-width: 70px;
$receipt-number-height: 70px;
$receipt-number-total-width: 1037px;
$receipt-number-total-height: 958px;
$receipt-number-image: '../images/sprite.png';
$receipt-number: (898px, 578px, -898px, -578px, 70px, 70px, 1037px, 958px, '../images/sprite.png', 'receipt-number', );
$receipt-print-name: 'receipt-print';
$receipt-print-x: 839px;
$receipt-print-y: 825px;
$receipt-print-offset-x: -839px;
$receipt-print-offset-y: -825px;
$receipt-print-width: 60px;
$receipt-print-height: 60px;
$receipt-print-total-width: 1037px;
$receipt-print-total-height: 958px;
$receipt-print-image: '../images/sprite.png';
$receipt-print: (839px, 825px, -839px, -825px, 60px, 60px, 1037px, 958px, '../images/sprite.png', 'receipt-print', );
$receipt-tip-name: 'receipt-tip';
$receipt-tip-x: 982px;
$receipt-tip-y: 0px;
$receipt-tip-offset-x: -982px;
$receipt-tip-offset-y: 0px;
$receipt-tip-width: 55px;
$receipt-tip-height: 55px;
$receipt-tip-total-width: 1037px;
$receipt-tip-total-height: 958px;
$receipt-tip-image: '../images/sprite.png';
$receipt-tip: (982px, 0px, -982px, 0px, 55px, 55px, 1037px, 958px, '../images/sprite.png', 'receipt-tip', );
$satisfaction-name: 'satisfaction';
$satisfaction-x: 898px;
$satisfaction-y: 84px;
$satisfaction-offset-x: -898px;
$satisfaction-offset-y: -84px;
$satisfaction-width: 84px;
$satisfaction-height: 84px;
$satisfaction-total-width: 1037px;
$satisfaction-total-height: 958px;
$satisfaction-image: '../images/sprite.png';
$satisfaction: (898px, 84px, -898px, -84px, 84px, 84px, 1037px, 958px, '../images/sprite.png', 'satisfaction', );
$savepen-name: 'savepen';
$savepen-x: 982px;
$savepen-y: 909px;
$savepen-offset-x: -982px;
$savepen-offset-y: -909px;
$savepen-width: 30px;
$savepen-height: 30px;
$savepen-total-width: 1037px;
$savepen-total-height: 958px;
$savepen-image: '../images/sprite.png';
$savepen: (982px, 909px, -982px, -909px, 30px, 30px, 1037px, 958px, '../images/sprite.png', 'savepen', );
$screen-all-name: 'screen-all';
$screen-all-x: 719px;
$screen-all-y: 825px;
$screen-all-offset-x: -719px;
$screen-all-offset-y: -825px;
$screen-all-width: 60px;
$screen-all-height: 60px;
$screen-all-total-width: 1037px;
$screen-all-total-height: 958px;
$screen-all-image: '../images/sprite.png';
$screen-all: (719px, 825px, -719px, -825px, 60px, 60px, 1037px, 958px, '../images/sprite.png', 'screen-all', );
$screen-helf-name: 'screen-helf';
$screen-helf-x: 779px;
$screen-helf-y: 825px;
$screen-helf-offset-x: -779px;
$screen-helf-offset-y: -825px;
$screen-helf-width: 60px;
$screen-helf-height: 60px;
$screen-helf-total-width: 1037px;
$screen-helf-total-height: 958px;
$screen-helf-image: '../images/sprite.png';
$screen-helf: (779px, 825px, -779px, -825px, 60px, 60px, 1037px, 958px, '../images/sprite.png', 'screen-helf', );
$search-list-add-name: 'search-list-add';
$search-list-add-x: 456px;
$search-list-add-y: 745px;
$search-list-add-offset-x: -456px;
$search-list-add-offset-y: -745px;
$search-list-add-width: 70px;
$search-list-add-height: 65px;
$search-list-add-total-width: 1037px;
$search-list-add-total-height: 958px;
$search-list-add-image: '../images/sprite.png';
$search-list-add: (456px, 745px, -456px, -745px, 70px, 65px, 1037px, 958px, '../images/sprite.png', 'search-list-add', );
$search-list-buy-name: 'search-list-buy';
$search-list-buy-x: 526px;
$search-list-buy-y: 745px;
$search-list-buy-offset-x: -526px;
$search-list-buy-offset-y: -745px;
$search-list-buy-width: 70px;
$search-list-buy-height: 65px;
$search-list-buy-total-width: 1037px;
$search-list-buy-total-height: 958px;
$search-list-buy-image: '../images/sprite.png';
$search-list-buy: (526px, 745px, -526px, -745px, 70px, 65px, 1037px, 958px, '../images/sprite.png', 'search-list-buy', );
$search-list-location-name: 'search-list-location';
$search-list-location-x: 982px;
$search-list-location-y: 542px;
$search-list-location-offset-x: -982px;
$search-list-location-offset-y: -542px;
$search-list-location-width: 44px;
$search-list-location-height: 44px;
$search-list-location-total-width: 1037px;
$search-list-location-total-height: 958px;
$search-list-location-image: '../images/sprite.png';
$search-list-location: (982px, 542px, -982px, -542px, 44px, 44px, 1037px, 958px, '../images/sprite.png', 'search-list-location', );
$search-list-price-name: 'search-list-price';
$search-list-price-x: 982px;
$search-list-price-y: 498px;
$search-list-price-offset-x: -982px;
$search-list-price-offset-y: -498px;
$search-list-price-width: 44px;
$search-list-price-height: 44px;
$search-list-price-total-width: 1037px;
$search-list-price-total-height: 958px;
$search-list-price-image: '../images/sprite.png';
$search-list-price: (982px, 498px, -982px, -498px, 44px, 44px, 1037px, 958px, '../images/sprite.png', 'search-list-price', );
$search-list-saletag-name: 'search-list-saletag';
$search-list-saletag-x: 898px;
$search-list-saletag-y: 786px;
$search-list-saletag-offset-x: -898px;
$search-list-saletag-offset-y: -786px;
$search-list-saletag-width: 69px;
$search-list-saletag-height: 36px;
$search-list-saletag-total-width: 1037px;
$search-list-saletag-total-height: 958px;
$search-list-saletag-image: '../images/sprite.png';
$search-list-saletag: (898px, 786px, -898px, -786px, 69px, 36px, 1037px, 958px, '../images/sprite.png', 'search-list-saletag', );
$search-list-time-name: 'search-list-time';
$search-list-time-x: 982px;
$search-list-time-y: 454px;
$search-list-time-offset-x: -982px;
$search-list-time-offset-y: -454px;
$search-list-time-width: 44px;
$search-list-time-height: 44px;
$search-list-time-total-width: 1037px;
$search-list-time-total-height: 958px;
$search-list-time-image: '../images/sprite.png';
$search-list-time: (982px, 454px, -982px, -454px, 44px, 44px, 1037px, 958px, '../images/sprite.png', 'search-list-time', );
$service-01-name: 'service-01';
$service-01-x: 0px;
$service-01-y: 192px;
$service-01-offset-x: 0px;
$service-01-offset-y: -192px;
$service-01-width: 230px;
$service-01-height: 230px;
$service-01-total-width: 1037px;
$service-01-total-height: 958px;
$service-01-image: '../images/sprite.png';
$service-01: (0px, 192px, 0px, -192px, 230px, 230px, 1037px, 958px, '../images/sprite.png', 'service-01', );
$service-02-name: 'service-02';
$service-02-x: 429px;
$service-02-y: 0px;
$service-02-offset-x: -429px;
$service-02-offset-y: 0px;
$service-02-width: 230px;
$service-02-height: 230px;
$service-02-total-width: 1037px;
$service-02-total-height: 958px;
$service-02-image: '../images/sprite.png';
$service-02: (429px, 0px, -429px, 0px, 230px, 230px, 1037px, 958px, '../images/sprite.png', 'service-02', );
$shoppingcar-name: 'shoppingcar';
$shoppingcar-x: 322px;
$shoppingcar-y: 344px;
$shoppingcar-offset-x: -322px;
$shoppingcar-offset-y: -344px;
$shoppingcar-width: 86px;
$shoppingcar-height: 73px;
$shoppingcar-total-width: 1037px;
$shoppingcar-total-height: 958px;
$shoppingcar-image: '../images/sprite.png';
$shoppingcar: (322px, 344px, -322px, -344px, 86px, 73px, 1037px, 958px, '../images/sprite.png', 'shoppingcar', );
$smart-icon-class-name: 'smart-icon-class';
$smart-icon-class-x: 0px;
$smart-icon-class-y: 611px;
$smart-icon-class-offset-x: 0px;
$smart-icon-class-offset-y: -611px;
$smart-icon-class-width: 134px;
$smart-icon-class-height: 134px;
$smart-icon-class-total-width: 1037px;
$smart-icon-class-total-height: 958px;
$smart-icon-class-image: '../images/sprite.png';
$smart-icon-class: (0px, 611px, 0px, -611px, 134px, 134px, 1037px, 958px, '../images/sprite.png', 'smart-icon-class', );
$smart-icon-classlociton-name: 'smart-icon-classlociton';
$smart-icon-classlociton-x: 134px;
$smart-icon-classlociton-y: 611px;
$smart-icon-classlociton-offset-x: -134px;
$smart-icon-classlociton-offset-y: -611px;
$smart-icon-classlociton-width: 134px;
$smart-icon-classlociton-height: 134px;
$smart-icon-classlociton-total-width: 1037px;
$smart-icon-classlociton-total-height: 958px;
$smart-icon-classlociton-image: '../images/sprite.png';
$smart-icon-classlociton: (134px, 611px, -134px, -611px, 134px, 134px, 1037px, 958px, '../images/sprite.png', 'smart-icon-classlociton', );
$smart-icon-form-name: 'smart-icon-form';
$smart-icon-form-x: 659px;
$smart-icon-form-y: 424px;
$smart-icon-form-offset-x: -659px;
$smart-icon-form-offset-y: -424px;
$smart-icon-form-width: 134px;
$smart-icon-form-height: 134px;
$smart-icon-form-total-width: 1037px;
$smart-icon-form-total-height: 958px;
$smart-icon-form-image: '../images/sprite.png';
$smart-icon-form: (659px, 424px, -659px, -424px, 134px, 134px, 1037px, 958px, '../images/sprite.png', 'smart-icon-form', );
$smart-icon-needpay-name: 'smart-icon-needpay';
$smart-icon-needpay-x: 659px;
$smart-icon-needpay-y: 290px;
$smart-icon-needpay-offset-x: -659px;
$smart-icon-needpay-offset-y: -290px;
$smart-icon-needpay-width: 134px;
$smart-icon-needpay-height: 134px;
$smart-icon-needpay-total-width: 1037px;
$smart-icon-needpay-total-height: 958px;
$smart-icon-needpay-image: '../images/sprite.png';
$smart-icon-needpay: (659px, 290px, -659px, -290px, 134px, 134px, 1037px, 958px, '../images/sprite.png', 'smart-icon-needpay', );
$staff001-name: 'staff001';
$staff001-x: 0px;
$staff001-y: 0px;
$staff001-offset-x: 0px;
$staff001-offset-y: 0px;
$staff001-width: 429px;
$staff001-height: 192px;
$staff001-total-width: 1037px;
$staff001-total-height: 958px;
$staff001-image: '../images/sprite.png';
$staff001: (0px, 0px, 0px, 0px, 429px, 192px, 1037px, 958px, '../images/sprite.png', 'staff001', );
$staffsearch-name: 'staffsearch';
$staffsearch-x: 898px;
$staffsearch-y: 498px;
$staffsearch-offset-x: -898px;
$staffsearch-offset-y: -498px;
$staffsearch-width: 80px;
$staffsearch-height: 80px;
$staffsearch-total-width: 1037px;
$staffsearch-total-height: 958px;
$staffsearch-image: '../images/sprite.png';
$staffsearch: (898px, 498px, -898px, -498px, 80px, 80px, 1037px, 958px, '../images/sprite.png', 'staffsearch', );
$studylocation-name: 'studylocation';
$studylocation-x: 982px;
$studylocation-y: 628px;
$studylocation-offset-x: -982px;
$studylocation-offset-y: -628px;
$studylocation-width: 42px;
$studylocation-height: 42px;
$studylocation-total-width: 1037px;
$studylocation-total-height: 958px;
$studylocation-image: '../images/sprite.png';
$studylocation: (982px, 628px, -982px, -628px, 42px, 42px, 1037px, 958px, '../images/sprite.png', 'studylocation', );
$studyteacher-name: 'studyteacher';
$studyteacher-x: 982px;
$studyteacher-y: 670px;
$studyteacher-offset-x: -982px;
$studyteacher-offset-y: -670px;
$studyteacher-width: 42px;
$studyteacher-height: 42px;
$studyteacher-total-width: 1037px;
$studyteacher-total-height: 958px;
$studyteacher-image: '../images/sprite.png';
$studyteacher: (982px, 670px, -982px, -670px, 42px, 42px, 1037px, 958px, '../images/sprite.png', 'studyteacher', );
$studytime-name: 'studytime';
$studytime-x: 982px;
$studytime-y: 586px;
$studytime-offset-x: -982px;
$studytime-offset-y: -586px;
$studytime-width: 42px;
$studytime-height: 42px;
$studytime-total-width: 1037px;
$studytime-total-height: 958px;
$studytime-image: '../images/sprite.png';
$studytime: (982px, 586px, -982px, -586px, 42px, 42px, 1037px, 958px, '../images/sprite.png', 'studytime', );
$timec-name: 'timec';
$timec-x: 982px;
$timec-y: 408px;
$timec-offset-x: -982px;
$timec-offset-y: -408px;
$timec-width: 46px;
$timec-height: 46px;
$timec-total-width: 1037px;
$timec-total-height: 958px;
$timec-image: '../images/sprite.png';
$timec: (982px, 408px, -982px, -408px, 46px, 46px, 1037px, 958px, '../images/sprite.png', 'timec', );
$timenow-name: 'timenow';
$timenow-x: 982px;
$timenow-y: 712px;
$timenow-offset-x: -982px;
$timenow-offset-y: -712px;
$timenow-width: 38px;
$timenow-height: 38px;
$timenow-total-width: 1037px;
$timenow-total-height: 958px;
$timenow-image: '../images/sprite.png';
$timenow: (982px, 712px, -982px, -712px, 38px, 38px, 1037px, 958px, '../images/sprite.png', 'timenow', );
$timestardown-name: 'timestardown';
$timestardown-x: 545px;
$timestardown-y: 522px;
$timestardown-offset-x: -545px;
$timestardown-offset-y: -522px;
$timestardown-width: 28px;
$timestardown-height: 28px;
$timestardown-total-width: 1037px;
$timestardown-total-height: 958px;
$timestardown-image: '../images/sprite.png';
$timestardown: (545px, 522px, -545px, -522px, 28px, 28px, 1037px, 958px, '../images/sprite.png', 'timestardown', );
$toptip01-name: 'toptip01';
$toptip01-x: 230px;
$toptip01-y: 192px;
$toptip01-offset-x: -230px;
$toptip01-offset-y: -192px;
$toptip01-width: 152px;
$toptip01-height: 152px;
$toptip01-total-width: 1037px;
$toptip01-total-height: 958px;
$toptip01-image: '../images/sprite.png';
$toptip01: (230px, 192px, -230px, -192px, 152px, 152px, 1037px, 958px, '../images/sprite.png', 'toptip01', );
$toptip02-name: 'toptip02';
$toptip02-x: 804px;
$toptip02-y: 204px;
$toptip02-offset-x: -804px;
$toptip02-offset-y: -204px;
$toptip02-width: 88px;
$toptip02-height: 88px;
$toptip02-total-width: 1037px;
$toptip02-total-height: 958px;
$toptip02-image: '../images/sprite.png';
$toptip02: (804px, 204px, -804px, -204px, 88px, 88px, 1037px, 958px, '../images/sprite.png', 'toptip02', );
$trash-can-name: 'trash-can';
$trash-can-x: 982px;
$trash-can-y: 216px;
$trash-can-offset-x: -982px;
$trash-can-offset-y: -216px;
$trash-can-width: 48px;
$trash-can-height: 48px;
$trash-can-total-width: 1037px;
$trash-can-total-height: 958px;
$trash-can-image: '../images/sprite.png';
$trash-can: (982px, 216px, -982px, -216px, 48px, 48px, 1037px, 958px, '../images/sprite.png', 'trash-can', );
$udollar-icon-name: 'udollar-icon';
$udollar-icon-x: 804px;
$udollar-icon-y: 0px;
$udollar-icon-offset-x: -804px;
$udollar-icon-offset-y: 0px;
$udollar-icon-width: 94px;
$udollar-icon-height: 94px;
$udollar-icon-total-width: 1037px;
$udollar-icon-total-height: 958px;
$udollar-icon-image: '../images/sprite.png';
$udollar-icon: (804px, 0px, -804px, 0px, 94px, 94px, 1037px, 958px, '../images/sprite.png', 'udollar-icon', );
$updown-name: 'updown';
$updown-x: 877px;
$updown-y: 94px;
$updown-offset-x: -877px;
$updown-offset-y: -94px;
$updown-width: 20px;
$updown-height: 42px;
$updown-total-width: 1037px;
$updown-total-height: 958px;
$updown-image: '../images/sprite.png';
$updown: (877px, 94px, -877px, -94px, 20px, 42px, 1037px, 958px, '../images/sprite.png', 'updown', );
$updownlist-name: 'updownlist';
$updownlist-x: 1012px;
$updownlist-y: 909px;
$updownlist-offset-x: -1012px;
$updownlist-offset-y: -909px;
$updownlist-width: 25px;
$updownlist-height: 25px;
$updownlist-total-width: 1037px;
$updownlist-total-height: 958px;
$updownlist-image: '../images/sprite.png';
$updownlist: (1012px, 909px, -1012px, -909px, 25px, 25px, 1037px, 958px, '../images/sprite.png', 'updownlist', );
$upig-white-l-name: 'upig-white-l';
$upig-white-l-x: 230px;
$upig-white-l-y: 344px;
$upig-white-l-offset-x: -230px;
$upig-white-l-offset-y: -344px;
$upig-white-l-width: 92px;
$upig-white-l-height: 73px;
$upig-white-l-total-width: 1037px;
$upig-white-l-total-height: 958px;
$upig-white-l-image: '../images/sprite.png';
$upig-white-l: (230px, 344px, -230px, -344px, 92px, 73px, 1037px, 958px, '../images/sprite.png', 'upig-white-l', );
$upig-white-name: 'upig-white';
$upig-white-x: 982px;
$upig-white-y: 170px;
$upig-white-offset-x: -982px;
$upig-white-offset-y: -170px;
$upig-white-width: 52px;
$upig-white-height: 46px;
$upig-white-total-width: 1037px;
$upig-white-total-height: 958px;
$upig-white-image: '../images/sprite.png';
$upig-white: (982px, 170px, -982px, -170px, 52px, 46px, 1037px, 958px, '../images/sprite.png', 'upig-white', );
$upig-name: 'upig';
$upig-x: 982px;
$upig-y: 122px;
$upig-offset-x: -982px;
$upig-offset-y: -122px;
$upig-width: 54px;
$upig-height: 48px;
$upig-total-width: 1037px;
$upig-total-height: 958px;
$upig-image: '../images/sprite.png';
$upig: (982px, 122px, -982px, -122px, 54px, 48px, 1037px, 958px, '../images/sprite.png', 'upig', );
$upigadd-name: 'upigadd';
$upigadd-x: 982px;
$upigadd-y: 848px;
$upigadd-offset-x: -982px;
$upigadd-offset-y: -848px;
$upigadd-width: 32px;
$upigadd-height: 32px;
$upigadd-total-width: 1037px;
$upigadd-total-height: 958px;
$upigadd-image: '../images/sprite.png';
$upigadd: (982px, 848px, -982px, -848px, 32px, 32px, 1037px, 958px, '../images/sprite.png', 'upigadd', );
$wb-remarks-name: 'wb_remarks';
$wb-remarks-x: 898px;
$wb-remarks-y: 416px;
$wb-remarks-offset-x: -898px;
$wb-remarks-offset-y: -416px;
$wb-remarks-width: 82px;
$wb-remarks-height: 82px;
$wb-remarks-total-width: 1037px;
$wb-remarks-total-height: 958px;
$wb-remarks-image: '../images/sprite.png';
$wb-remarks: (898px, 416px, -898px, -416px, 82px, 82px, 1037px, 958px, '../images/sprite.png', 'wb_remarks', );
$wb-s-tip-name: 'wb_s_tip';
$wb-s-tip-x: 573px;
$wb-s-tip-y: 522px;
$wb-s-tip-offset-x: -573px;
$wb-s-tip-offset-y: -522px;
$wb-s-tip-width: 28px;
$wb-s-tip-height: 28px;
$wb-s-tip-total-width: 1037px;
$wb-s-tip-total-height: 958px;
$wb-s-tip-image: '../images/sprite.png';
$wb-s-tip: (573px, 522px, -573px, -522px, 28px, 28px, 1037px, 958px, '../images/sprite.png', 'wb_s_tip', );
$wb-suit-name: 'wb_suit';
$wb-suit-x: 898px;
$wb-suit-y: 334px;
$wb-suit-offset-x: -898px;
$wb-suit-offset-y: -334px;
$wb-suit-width: 82px;
$wb-suit-height: 82px;
$wb-suit-total-width: 1037px;
$wb-suit-total-height: 958px;
$wb-suit-image: '../images/sprite.png';
$wb-suit: (898px, 334px, -898px, -334px, 82px, 82px, 1037px, 958px, '../images/sprite.png', 'wb_suit', );
$wb-to-name: 'wb_to';
$wb-to-x: 1027px;
$wb-to-y: 55px;
$wb-to-offset-x: -1027px;
$wb-to-offset-y: -55px;
$wb-to-width: 10px;
$wb-to-height: 10px;
$wb-to-total-width: 1037px;
$wb-to-total-height: 958px;
$wb-to-image: '../images/sprite.png';
$wb-to: (1027px, 55px, -1027px, -55px, 10px, 10px, 1037px, 958px, '../images/sprite.png', 'wb_to', );
$windowsclose-name: 'windowsclose';
$windowsclose-x: 982px;
$windowsclose-y: 750px;
$windowsclose-offset-x: -982px;
$windowsclose-offset-y: -750px;
$windowsclose-width: 34px;
$windowsclose-height: 34px;
$windowsclose-total-width: 1037px;
$windowsclose-total-height: 958px;
$windowsclose-image: '../images/sprite.png';
$windowsclose: (982px, 750px, -982px, -750px, 34px, 34px, 1037px, 958px, '../images/sprite.png', 'windowsclose', );
$spritesheet-width: 1037px;
$spritesheet-height: 958px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($-button-atm, $-button-cash, $-button-credit-card, $-button-goback, $-drop-down, $advisory-down-w, $advisory-down, $advisoryadd, $arrow-g01, $arrow-g02, $arrow01, $arrow02, $atm-check, $bdcake, $buy-popup, $chat, $class-number, $edit-close, $edit-ok, $editmore-w, $editmore, $list-close, $list-open, $mailto, $mysearch, $notsatisfied, $order-a-01, $order-a-02, $order-b-01, $order-b-02, $order-button-add-n, $order-button-add, $order-button-alladd, $order-button-d, $order-button-like, $order-button4-1, $order-button4-2, $order-button4-2-png, $order-button4-3, $order-button4-3-png, $order-button4-4, $order-button4-4-png, $order-button4-5, $order-button4-6, $order-button4-7, $order-button4-8, $order-c-01, $order-d-01, $order-d-02, $order-e-01, $order-e-02, $orders-icon-01, $orders-icon-02, $orders-icon-03, $orders-icon-04, $ordinary, $playbn-close, $playbn-ok, $playbuttonoff, $playbuttonon, $pointmark, $popup-button-close, $popup-button-ok, $previewbuttonoff, $previewbuttonon, $receipt-02, $receipt-03, $receipt-hub, $receipt-list-close, $receipt-list-open, $receipt-number, $receipt-print, $receipt-tip, $satisfaction, $savepen, $screen-all, $screen-helf, $search-list-add, $search-list-buy, $search-list-location, $search-list-price, $search-list-saletag, $search-list-time, $service-01, $service-02, $shoppingcar, $smart-icon-class, $smart-icon-classlociton, $smart-icon-form, $smart-icon-needpay, $staff001, $staffsearch, $studylocation, $studyteacher, $studytime, $timec, $timenow, $timestardown, $toptip01, $toptip02, $trash-can, $udollar-icon, $updown, $updownlist, $upig-white-l, $upig-white, $upig, $upigadd, $wb-remarks, $wb-s-tip, $wb-suit, $wb-to, $windowsclose, );
$spritesheet: (1037px, 958px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
