// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$-button-atm-name: 'Button-atm';
$-button-atm-x: 364px;
$-button-atm-y: 745px;
$-button-atm-offset-x: -364px;
$-button-atm-offset-y: -745px;
$-button-atm-width: 92px;
$-button-atm-height: 67px;
$-button-atm-total-width: 982px;
$-button-atm-total-height: 955px;
$-button-atm-image: '../images/sprite.png';
$-button-atm: (364px, 745px, -364px, -745px, 92px, 67px, 982px, 955px, '../images/sprite.png', 'Button-atm', );
$-button-cash-name: 'Button-cash';
$-button-cash-x: 528px;
$-button-cash-y: 611px;
$-button-cash-offset-x: -528px;
$-button-cash-offset-y: -611px;
$-button-cash-width: 95px;
$-button-cash-height: 85px;
$-button-cash-total-width: 982px;
$-button-cash-total-height: 955px;
$-button-cash-image: '../images/sprite.png';
$-button-cash: (528px, 611px, -528px, -611px, 95px, 85px, 982px, 955px, '../images/sprite.png', 'Button-cash', );
$-button-credit-card-name: 'Button-credit-card';
$-button-credit-card-x: 272px;
$-button-credit-card-y: 745px;
$-button-credit-card-offset-x: -272px;
$-button-credit-card-offset-y: -745px;
$-button-credit-card-width: 92px;
$-button-credit-card-height: 67px;
$-button-credit-card-total-width: 982px;
$-button-credit-card-total-height: 955px;
$-button-credit-card-image: '../images/sprite.png';
$-button-credit-card: (272px, 745px, -272px, -745px, 92px, 67px, 982px, 955px, '../images/sprite.png', 'Button-credit-card', );
$-button-goback-name: 'Button-goback';
$-button-goback-x: 180px;
$-button-goback-y: 745px;
$-button-goback-offset-x: -180px;
$-button-goback-offset-y: -745px;
$-button-goback-width: 92px;
$-button-goback-height: 67px;
$-button-goback-total-width: 982px;
$-button-goback-total-height: 955px;
$-button-goback-image: '../images/sprite.png';
$-button-goback: (180px, 745px, -180px, -745px, 92px, 67px, 982px, 955px, '../images/sprite.png', 'Button-goback', );
$-drop-down-name: 'Drop-down';
$-drop-down-x: 966px;
$-drop-down-y: 554px;
$-drop-down-offset-x: -966px;
$-drop-down-offset-y: -554px;
$-drop-down-width: 16px;
$-drop-down-height: 9px;
$-drop-down-total-width: 982px;
$-drop-down-total-height: 955px;
$-drop-down-image: '../images/sprite.png';
$-drop-down: (966px, 554px, -966px, -554px, 16px, 9px, 982px, 955px, '../images/sprite.png', 'Drop-down', );
$advisory-down-w-name: 'advisory-down-w';
$advisory-down-w-x: 548px;
$advisory-down-w-y: 567px;
$advisory-down-w-offset-x: -548px;
$advisory-down-w-offset-y: -567px;
$advisory-down-w-width: 28px;
$advisory-down-w-height: 15px;
$advisory-down-w-total-width: 982px;
$advisory-down-w-total-height: 955px;
$advisory-down-w-image: '../images/sprite.png';
$advisory-down-w: (548px, 567px, -548px, -567px, 28px, 15px, 982px, 955px, '../images/sprite.png', 'advisory-down-w', );
$advisory-down-name: 'advisory-down';
$advisory-down-x: 576px;
$advisory-down-y: 567px;
$advisory-down-offset-x: -576px;
$advisory-down-offset-y: -567px;
$advisory-down-width: 28px;
$advisory-down-height: 15px;
$advisory-down-total-width: 982px;
$advisory-down-total-height: 955px;
$advisory-down-image: '../images/sprite.png';
$advisory-down: (576px, 567px, -576px, -567px, 28px, 15px, 982px, 955px, '../images/sprite.png', 'advisory-down', );
$advisoryadd-name: 'advisoryadd';
$advisoryadd-x: 701px;
$advisoryadd-y: 825px;
$advisoryadd-offset-x: -701px;
$advisoryadd-offset-y: -825px;
$advisoryadd-width: 65px;
$advisoryadd-height: 55px;
$advisoryadd-total-width: 982px;
$advisoryadd-total-height: 955px;
$advisoryadd-image: '../images/sprite.png';
$advisoryadd: (701px, 825px, -701px, -825px, 65px, 55px, 982px, 955px, '../images/sprite.png', 'advisoryadd', );
$arrow-g01-name: 'arrow-g01';
$arrow-g01-x: 313px;
$arrow-g01-y: 567px;
$arrow-g01-offset-x: -313px;
$arrow-g01-offset-y: -567px;
$arrow-g01-width: 32px;
$arrow-g01-height: 32px;
$arrow-g01-total-width: 982px;
$arrow-g01-total-height: 955px;
$arrow-g01-image: '../images/sprite.png';
$arrow-g01: (313px, 567px, -313px, -567px, 32px, 32px, 982px, 955px, '../images/sprite.png', 'arrow-g01', );
$arrow-g02-name: 'arrow-g02';
$arrow-g02-x: 345px;
$arrow-g02-y: 567px;
$arrow-g02-offset-x: -345px;
$arrow-g02-offset-y: -567px;
$arrow-g02-width: 32px;
$arrow-g02-height: 32px;
$arrow-g02-total-width: 982px;
$arrow-g02-total-height: 955px;
$arrow-g02-image: '../images/sprite.png';
$arrow-g02: (345px, 567px, -345px, -567px, 32px, 32px, 982px, 955px, '../images/sprite.png', 'arrow-g02', );
$arrow01-name: 'arrow01';
$arrow01-x: 614px;
$arrow01-y: 890px;
$arrow01-offset-x: -614px;
$arrow01-offset-y: -890px;
$arrow01-width: 30px;
$arrow01-height: 30px;
$arrow01-total-width: 982px;
$arrow01-total-height: 955px;
$arrow01-image: '../images/sprite.png';
$arrow01: (614px, 890px, -614px, -890px, 30px, 30px, 982px, 955px, '../images/sprite.png', 'arrow01', );
$arrow02-name: 'arrow02';
$arrow02-x: 674px;
$arrow02-y: 890px;
$arrow02-offset-x: -674px;
$arrow02-offset-y: -890px;
$arrow02-width: 30px;
$arrow02-height: 30px;
$arrow02-total-width: 982px;
$arrow02-total-height: 955px;
$arrow02-image: '../images/sprite.png';
$arrow02: (674px, 890px, -674px, -890px, 30px, 30px, 982px, 955px, '../images/sprite.png', 'arrow02', );
$atm-check-name: 'atm-check';
$atm-check-x: 898px;
$atm-check-y: 252px;
$atm-check-offset-x: -898px;
$atm-check-offset-y: -252px;
$atm-check-width: 82px;
$atm-check-height: 82px;
$atm-check-total-width: 982px;
$atm-check-total-height: 955px;
$atm-check-image: '../images/sprite.png';
$atm-check: (898px, 252px, -898px, -252px, 82px, 82px, 982px, 955px, '../images/sprite.png', 'atm-check', );
$bdcake-name: 'bdcake';
$bdcake-x: 766px;
$bdcake-y: 825px;
$bdcake-offset-x: -766px;
$bdcake-offset-y: -825px;
$bdcake-width: 61px;
$bdcake-height: 53px;
$bdcake-total-width: 982px;
$bdcake-total-height: 955px;
$bdcake-image: '../images/sprite.png';
$bdcake: (766px, 825px, -766px, -825px, 61px, 53px, 982px, 955px, '../images/sprite.png', 'bdcake', );
$buy-popup-name: 'buy-popup';
$buy-popup-x: 0px;
$buy-popup-y: 422px;
$buy-popup-offset-x: 0px;
$buy-popup-offset-y: -422px;
$buy-popup-width: 255px;
$buy-popup-height: 189px;
$buy-popup-total-width: 982px;
$buy-popup-total-height: 955px;
$buy-popup-image: '../images/sprite.png';
$buy-popup: (0px, 422px, 0px, -422px, 255px, 189px, 982px, 955px, '../images/sprite.png', 'buy-popup', );
$chat-name: 'chat';
$chat-x: 255px;
$chat-y: 567px;
$chat-offset-x: -255px;
$chat-offset-y: -567px;
$chat-width: 58px;
$chat-height: 39px;
$chat-total-width: 982px;
$chat-total-height: 955px;
$chat-image: '../images/sprite.png';
$chat: (255px, 567px, -255px, -567px, 58px, 39px, 982px, 955px, '../images/sprite.png', 'chat', );
$class-number-name: 'class-number';
$class-number-x: 898px;
$class-number-y: 414px;
$class-number-offset-x: -898px;
$class-number-offset-y: -414px;
$class-number-width: 70px;
$class-number-height: 70px;
$class-number-total-width: 982px;
$class-number-total-height: 955px;
$class-number-image: '../images/sprite.png';
$class-number: (898px, 414px, -898px, -414px, 70px, 70px, 982px, 955px, '../images/sprite.png', 'class-number', );
$edit-close-name: 'edit-close';
$edit-close-x: 260px;
$edit-close-y: 825px;
$edit-close-offset-x: -260px;
$edit-close-offset-y: -825px;
$edit-close-width: 65px;
$edit-close-height: 65px;
$edit-close-total-width: 982px;
$edit-close-total-height: 955px;
$edit-close-image: '../images/sprite.png';
$edit-close: (260px, 825px, -260px, -825px, 65px, 65px, 982px, 955px, '../images/sprite.png', 'edit-close', );
$edit-ok-name: 'edit-ok';
$edit-ok-x: 0px;
$edit-ok-y: 825px;
$edit-ok-offset-x: 0px;
$edit-ok-offset-y: -825px;
$edit-ok-width: 65px;
$edit-ok-height: 65px;
$edit-ok-total-width: 982px;
$edit-ok-total-height: 955px;
$edit-ok-image: '../images/sprite.png';
$edit-ok: (0px, 825px, 0px, -825px, 65px, 65px, 982px, 955px, '../images/sprite.png', 'edit-ok', );
$editmore-w-name: 'editmore-w';
$editmore-w-x: 464px;
$editmore-w-y: 407px;
$editmore-w-offset-x: -464px;
$editmore-w-offset-y: -407px;
$editmore-w-width: 35px;
$editmore-w-height: 12px;
$editmore-w-total-width: 982px;
$editmore-w-total-height: 955px;
$editmore-w-image: '../images/sprite.png';
$editmore-w: (464px, 407px, -464px, -407px, 35px, 12px, 982px, 955px, '../images/sprite.png', 'editmore-w', );
$editmore-name: 'editmore';
$editmore-x: 429px;
$editmore-y: 407px;
$editmore-offset-x: -429px;
$editmore-offset-y: -407px;
$editmore-width: 35px;
$editmore-height: 12px;
$editmore-total-width: 982px;
$editmore-total-height: 955px;
$editmore-image: '../images/sprite.png';
$editmore: (429px, 407px, -429px, -407px, 35px, 12px, 982px, 955px, '../images/sprite.png', 'editmore', );
$list-close-name: 'list-close';
$list-close-x: 554px;
$list-close-y: 890px;
$list-close-offset-x: -554px;
$list-close-offset-y: -890px;
$list-close-width: 30px;
$list-close-height: 30px;
$list-close-total-width: 982px;
$list-close-total-height: 955px;
$list-close-image: '../images/sprite.png';
$list-close: (554px, 890px, -554px, -890px, 30px, 30px, 982px, 955px, '../images/sprite.png', 'list-close', );
$list-open-name: 'list-open';
$list-open-x: 524px;
$list-open-y: 890px;
$list-open-offset-x: -524px;
$list-open-offset-y: -890px;
$list-open-width: 30px;
$list-open-height: 30px;
$list-open-total-width: 982px;
$list-open-total-height: 955px;
$list-open-image: '../images/sprite.png';
$list-open: (524px, 890px, -524px, -890px, 30px, 30px, 982px, 955px, '../images/sprite.png', 'list-open', );
$mailto-name: 'mailto';
$mailto-x: 804px;
$mailto-y: 692px;
$mailto-offset-x: -804px;
$mailto-offset-y: -692px;
$mailto-width: 75px;
$mailto-height: 50px;
$mailto-total-width: 982px;
$mailto-total-height: 955px;
$mailto-image: '../images/sprite.png';
$mailto: (804px, 692px, -804px, -692px, 75px, 50px, 982px, 955px, '../images/sprite.png', 'mailto', );
$mysearch-name: 'mysearch';
$mysearch-x: 429px;
$mysearch-y: 230px;
$mysearch-offset-x: -429px;
$mysearch-offset-y: -230px;
$mysearch-width: 207px;
$mysearch-height: 177px;
$mysearch-total-width: 982px;
$mysearch-total-height: 955px;
$mysearch-image: '../images/sprite.png';
$mysearch: (429px, 230px, -429px, -230px, 207px, 177px, 982px, 955px, '../images/sprite.png', 'mysearch', );
$notsatisfied-name: 'notsatisfied';
$notsatisfied-x: 898px;
$notsatisfied-y: 0px;
$notsatisfied-offset-x: -898px;
$notsatisfied-offset-y: 0px;
$notsatisfied-width: 84px;
$notsatisfied-height: 84px;
$notsatisfied-total-width: 982px;
$notsatisfied-total-height: 955px;
$notsatisfied-image: '../images/sprite.png';
$notsatisfied: (898px, 0px, -898px, 0px, 84px, 84px, 982px, 955px, '../images/sprite.png', 'notsatisfied', );
$order-a-01-name: 'order-a-01';
$order-a-01-x: 804px;
$order-a-01-y: 532px;
$order-a-01-offset-x: -804px;
$order-a-01-offset-y: -532px;
$order-a-01-width: 90px;
$order-a-01-height: 80px;
$order-a-01-total-width: 982px;
$order-a-01-total-height: 955px;
$order-a-01-image: '../images/sprite.png';
$order-a-01: (804px, 532px, -804px, -532px, 90px, 80px, 982px, 955px, '../images/sprite.png', 'order-a-01', );
$order-a-02-name: 'order-a-02';
$order-a-02-x: 804px;
$order-a-02-y: 292px;
$order-a-02-offset-x: -804px;
$order-a-02-offset-y: -292px;
$order-a-02-width: 90px;
$order-a-02-height: 80px;
$order-a-02-total-width: 982px;
$order-a-02-total-height: 955px;
$order-a-02-image: '../images/sprite.png';
$order-a-02: (804px, 292px, -804px, -292px, 90px, 80px, 982px, 955px, '../images/sprite.png', 'order-a-02', );
$order-b-01-name: 'order-b-01';
$order-b-01-x: 804px;
$order-b-01-y: 372px;
$order-b-01-offset-x: -804px;
$order-b-01-offset-y: -372px;
$order-b-01-width: 90px;
$order-b-01-height: 80px;
$order-b-01-total-width: 982px;
$order-b-01-total-height: 955px;
$order-b-01-image: '../images/sprite.png';
$order-b-01: (804px, 372px, -804px, -372px, 90px, 80px, 982px, 955px, '../images/sprite.png', 'order-b-01', );
$order-b-02-name: 'order-b-02';
$order-b-02-x: 804px;
$order-b-02-y: 452px;
$order-b-02-offset-x: -804px;
$order-b-02-offset-y: -452px;
$order-b-02-width: 90px;
$order-b-02-height: 80px;
$order-b-02-total-width: 982px;
$order-b-02-total-height: 955px;
$order-b-02-image: '../images/sprite.png';
$order-b-02: (804px, 452px, -804px, -452px, 90px, 80px, 982px, 955px, '../images/sprite.png', 'order-b-02', );
$order-button-add-n-name: 'order-button-add-n';
$order-button-add-n-x: 875px;
$order-button-add-n-y: 825px;
$order-button-add-n-offset-x: -875px;
$order-button-add-n-offset-y: -825px;
$order-button-add-n-width: 48px;
$order-button-add-n-height: 48px;
$order-button-add-n-total-width: 982px;
$order-button-add-n-total-height: 955px;
$order-button-add-n-image: '../images/sprite.png';
$order-button-add-n: (875px, 825px, -875px, -825px, 48px, 48px, 982px, 955px, '../images/sprite.png', 'order-button-add-n', );
$order-button-add-name: 'order-button-add';
$order-button-add-x: 827px;
$order-button-add-y: 825px;
$order-button-add-offset-x: -827px;
$order-button-add-offset-y: -825px;
$order-button-add-width: 48px;
$order-button-add-height: 48px;
$order-button-add-total-width: 982px;
$order-button-add-total-height: 955px;
$order-button-add-image: '../images/sprite.png';
$order-button-add: (827px, 825px, -827px, -825px, 48px, 48px, 982px, 955px, '../images/sprite.png', 'order-button-add', );
$order-button-alladd-name: 'order-button-alladd';
$order-button-alladd-x: 0px;
$order-button-alladd-y: 890px;
$order-button-alladd-offset-x: 0px;
$order-button-alladd-offset-y: -890px;
$order-button-alladd-width: 55px;
$order-button-alladd-height: 65px;
$order-button-alladd-total-width: 982px;
$order-button-alladd-total-height: 955px;
$order-button-alladd-image: '../images/sprite.png';
$order-button-alladd: (0px, 890px, 0px, -890px, 55px, 65px, 982px, 955px, '../images/sprite.png', 'order-button-alladd', );
$order-button-d-name: 'order-button-d';
$order-button-d-x: 218px;
$order-button-d-y: 890px;
$order-button-d-offset-x: -218px;
$order-button-d-offset-y: -890px;
$order-button-d-width: 48px;
$order-button-d-height: 48px;
$order-button-d-total-width: 982px;
$order-button-d-total-height: 955px;
$order-button-d-image: '../images/sprite.png';
$order-button-d: (218px, 890px, -218px, -890px, 48px, 48px, 982px, 955px, '../images/sprite.png', 'order-button-d', );
$order-button-like-name: 'order-button-like';
$order-button-like-x: 409px;
$order-button-like-y: 567px;
$order-button-like-offset-x: -409px;
$order-button-like-offset-y: -567px;
$order-button-like-width: 34px;
$order-button-like-height: 29px;
$order-button-like-total-width: 982px;
$order-button-like-total-height: 955px;
$order-button-like-image: '../images/sprite.png';
$order-button-like: (409px, 567px, -409px, -567px, 34px, 29px, 982px, 955px, '../images/sprite.png', 'order-button-like', );
$order-button4-1-name: 'order-button4-1';
$order-button4-1-x: 325px;
$order-button4-1-y: 825px;
$order-button4-1-offset-x: -325px;
$order-button4-1-offset-y: -825px;
$order-button4-1-width: 65px;
$order-button4-1-height: 65px;
$order-button4-1-total-width: 982px;
$order-button4-1-total-height: 955px;
$order-button4-1-image: '../images/sprite.png';
$order-button4-1: (325px, 825px, -325px, -825px, 65px, 65px, 982px, 955px, '../images/sprite.png', 'order-button4-1', );
$order-button4-2-name: 'order-button4-2';
$order-button4-2-x: 456px;
$order-button4-2-y: 745px;
$order-button4-2-offset-x: -456px;
$order-button4-2-offset-y: -745px;
$order-button4-2-width: 65px;
$order-button4-2-height: 65px;
$order-button4-2-total-width: 982px;
$order-button4-2-total-height: 955px;
$order-button4-2-image: '../images/sprite.png';
$order-button4-2: (456px, 745px, -456px, -745px, 65px, 65px, 982px, 955px, '../images/sprite.png', 'order-button4-2', );
$order-button4-2-png-name: 'order-button4-2.png';
$order-button4-2-png-x: 521px;
$order-button4-2-png-y: 745px;
$order-button4-2-png-offset-x: -521px;
$order-button4-2-png-offset-y: -745px;
$order-button4-2-png-width: 65px;
$order-button4-2-png-height: 65px;
$order-button4-2-png-total-width: 982px;
$order-button4-2-png-total-height: 955px;
$order-button4-2-png-image: '../images/sprite.png';
$order-button4-2-png: (521px, 745px, -521px, -745px, 65px, 65px, 982px, 955px, '../images/sprite.png', 'order-button4-2.png', );
$order-button4-3-name: 'order-button4-3';
$order-button4-3-x: 586px;
$order-button4-3-y: 745px;
$order-button4-3-offset-x: -586px;
$order-button4-3-offset-y: -745px;
$order-button4-3-width: 65px;
$order-button4-3-height: 65px;
$order-button4-3-total-width: 982px;
$order-button4-3-total-height: 955px;
$order-button4-3-image: '../images/sprite.png';
$order-button4-3: (586px, 745px, -586px, -745px, 65px, 65px, 982px, 955px, '../images/sprite.png', 'order-button4-3', );
$order-button4-3-png-name: 'order-button4-3.png';
$order-button4-3-png-x: 651px;
$order-button4-3-png-y: 745px;
$order-button4-3-png-offset-x: -651px;
$order-button4-3-png-offset-y: -745px;
$order-button4-3-png-width: 65px;
$order-button4-3-png-height: 65px;
$order-button4-3-png-total-width: 982px;
$order-button4-3-png-total-height: 955px;
$order-button4-3-png-image: '../images/sprite.png';
$order-button4-3-png: (651px, 745px, -651px, -745px, 65px, 65px, 982px, 955px, '../images/sprite.png', 'order-button4-3.png', );
$order-button4-4-name: 'order-button4-4';
$order-button4-4-x: 716px;
$order-button4-4-y: 745px;
$order-button4-4-offset-x: -716px;
$order-button4-4-offset-y: -745px;
$order-button4-4-width: 65px;
$order-button4-4-height: 65px;
$order-button4-4-total-width: 982px;
$order-button4-4-total-height: 955px;
$order-button4-4-image: '../images/sprite.png';
$order-button4-4: (716px, 745px, -716px, -745px, 65px, 65px, 982px, 955px, '../images/sprite.png', 'order-button4-4', );
$order-button4-4-png-name: 'order-button4-4.png';
$order-button4-4-png-x: 781px;
$order-button4-4-png-y: 745px;
$order-button4-4-png-offset-x: -781px;
$order-button4-4-png-offset-y: -745px;
$order-button4-4-png-width: 65px;
$order-button4-4-png-height: 65px;
$order-button4-4-png-total-width: 982px;
$order-button4-4-png-total-height: 955px;
$order-button4-4-png-image: '../images/sprite.png';
$order-button4-4-png: (781px, 745px, -781px, -745px, 65px, 65px, 982px, 955px, '../images/sprite.png', 'order-button4-4.png', );
$order-button4-5-name: 'order-button4-5';
$order-button4-5-x: 65px;
$order-button4-5-y: 825px;
$order-button4-5-offset-x: -65px;
$order-button4-5-offset-y: -825px;
$order-button4-5-width: 65px;
$order-button4-5-height: 65px;
$order-button4-5-total-width: 982px;
$order-button4-5-total-height: 955px;
$order-button4-5-image: '../images/sprite.png';
$order-button4-5: (65px, 825px, -65px, -825px, 65px, 65px, 982px, 955px, '../images/sprite.png', 'order-button4-5', );
$order-button4-6-name: 'order-button4-6';
$order-button4-6-x: 130px;
$order-button4-6-y: 825px;
$order-button4-6-offset-x: -130px;
$order-button4-6-offset-y: -825px;
$order-button4-6-width: 65px;
$order-button4-6-height: 65px;
$order-button4-6-total-width: 982px;
$order-button4-6-total-height: 955px;
$order-button4-6-image: '../images/sprite.png';
$order-button4-6: (130px, 825px, -130px, -825px, 65px, 65px, 982px, 955px, '../images/sprite.png', 'order-button4-6', );
$order-button4-7-name: 'order-button4-7';
$order-button4-7-x: 195px;
$order-button4-7-y: 825px;
$order-button4-7-offset-x: -195px;
$order-button4-7-offset-y: -825px;
$order-button4-7-width: 65px;
$order-button4-7-height: 65px;
$order-button4-7-total-width: 982px;
$order-button4-7-total-height: 955px;
$order-button4-7-image: '../images/sprite.png';
$order-button4-7: (195px, 825px, -195px, -825px, 65px, 65px, 982px, 955px, '../images/sprite.png', 'order-button4-7', );
$order-button4-8-name: 'order-button4-8';
$order-button4-8-x: 390px;
$order-button4-8-y: 825px;
$order-button4-8-offset-x: -390px;
$order-button4-8-offset-y: -825px;
$order-button4-8-width: 65px;
$order-button4-8-height: 65px;
$order-button4-8-total-width: 982px;
$order-button4-8-total-height: 955px;
$order-button4-8-image: '../images/sprite.png';
$order-button4-8: (390px, 825px, -390px, -825px, 65px, 65px, 982px, 955px, '../images/sprite.png', 'order-button4-8', );
$order-c-01-name: 'order-c-01';
$order-c-01-x: 0px;
$order-c-01-y: 745px;
$order-c-01-offset-x: 0px;
$order-c-01-offset-y: -745px;
$order-c-01-width: 90px;
$order-c-01-height: 80px;
$order-c-01-total-width: 982px;
$order-c-01-total-height: 955px;
$order-c-01-image: '../images/sprite.png';
$order-c-01: (0px, 745px, 0px, -745px, 90px, 80px, 982px, 955px, '../images/sprite.png', 'order-c-01', );
$order-d-01-name: 'order-d-01';
$order-d-01-x: 623px;
$order-d-01-y: 611px;
$order-d-01-offset-x: -623px;
$order-d-01-offset-y: -611px;
$order-d-01-width: 90px;
$order-d-01-height: 80px;
$order-d-01-total-width: 982px;
$order-d-01-total-height: 955px;
$order-d-01-image: '../images/sprite.png';
$order-d-01: (623px, 611px, -623px, -611px, 90px, 80px, 982px, 955px, '../images/sprite.png', 'order-d-01', );
$order-d-02-name: 'order-d-02';
$order-d-02-x: 713px;
$order-d-02-y: 611px;
$order-d-02-offset-x: -713px;
$order-d-02-offset-y: -611px;
$order-d-02-width: 90px;
$order-d-02-height: 80px;
$order-d-02-total-width: 982px;
$order-d-02-total-height: 955px;
$order-d-02-image: '../images/sprite.png';
$order-d-02: (713px, 611px, -713px, -611px, 90px, 80px, 982px, 955px, '../images/sprite.png', 'order-d-02', );
$order-e-01-name: 'order-e-01';
$order-e-01-x: 804px;
$order-e-01-y: 612px;
$order-e-01-offset-x: -804px;
$order-e-01-offset-y: -612px;
$order-e-01-width: 90px;
$order-e-01-height: 80px;
$order-e-01-total-width: 982px;
$order-e-01-total-height: 955px;
$order-e-01-image: '../images/sprite.png';
$order-e-01: (804px, 612px, -804px, -612px, 90px, 80px, 982px, 955px, '../images/sprite.png', 'order-e-01', );
$order-e-02-name: 'order-e-02';
$order-e-02-x: 90px;
$order-e-02-y: 745px;
$order-e-02-offset-x: -90px;
$order-e-02-offset-y: -745px;
$order-e-02-width: 90px;
$order-e-02-height: 80px;
$order-e-02-total-width: 982px;
$order-e-02-total-height: 955px;
$order-e-02-image: '../images/sprite.png';
$order-e-02: (90px, 745px, -90px, -745px, 90px, 80px, 982px, 955px, '../images/sprite.png', 'order-e-02', );
$orders-icon-01-name: 'orders-icon-01';
$orders-icon-01-x: 804px;
$orders-icon-01-y: 94px;
$orders-icon-01-offset-x: -804px;
$orders-icon-01-offset-y: -94px;
$orders-icon-01-width: 73px;
$orders-icon-01-height: 110px;
$orders-icon-01-total-width: 982px;
$orders-icon-01-total-height: 955px;
$orders-icon-01-image: '../images/sprite.png';
$orders-icon-01: (804px, 94px, -804px, -94px, 73px, 110px, 982px, 955px, '../images/sprite.png', 'orders-icon-01', );
$orders-icon-02-name: 'orders-icon-02';
$orders-icon-02-x: 268px;
$orders-icon-02-y: 611px;
$orders-icon-02-offset-x: -268px;
$orders-icon-02-offset-y: -611px;
$orders-icon-02-width: 132px;
$orders-icon-02-height: 105px;
$orders-icon-02-total-width: 982px;
$orders-icon-02-total-height: 955px;
$orders-icon-02-image: '../images/sprite.png';
$orders-icon-02: (268px, 611px, -268px, -611px, 132px, 105px, 982px, 955px, '../images/sprite.png', 'orders-icon-02', );
$orders-icon-03-name: 'orders-icon-03';
$orders-icon-03-x: 545px;
$orders-icon-03-y: 422px;
$orders-icon-03-offset-x: -545px;
$orders-icon-03-offset-y: -422px;
$orders-icon-03-width: 100px;
$orders-icon-03-height: 100px;
$orders-icon-03-total-width: 982px;
$orders-icon-03-total-height: 955px;
$orders-icon-03-image: '../images/sprite.png';
$orders-icon-03: (545px, 422px, -545px, -422px, 100px, 100px, 982px, 955px, '../images/sprite.png', 'orders-icon-03', );
$orders-icon-04-name: 'orders-icon-04';
$orders-icon-04-x: 400px;
$orders-icon-04-y: 611px;
$orders-icon-04-offset-x: -400px;
$orders-icon-04-offset-y: -611px;
$orders-icon-04-width: 128px;
$orders-icon-04-height: 88px;
$orders-icon-04-total-width: 982px;
$orders-icon-04-total-height: 955px;
$orders-icon-04-image: '../images/sprite.png';
$orders-icon-04: (400px, 611px, -400px, -611px, 128px, 88px, 982px, 955px, '../images/sprite.png', 'orders-icon-04', );
$ordinary-name: 'ordinary';
$ordinary-x: 898px;
$ordinary-y: 84px;
$ordinary-offset-x: -898px;
$ordinary-offset-y: -84px;
$ordinary-width: 84px;
$ordinary-height: 84px;
$ordinary-total-width: 982px;
$ordinary-total-height: 955px;
$ordinary-image: '../images/sprite.png';
$ordinary: (898px, 84px, -898px, -84px, 84px, 84px, 982px, 955px, '../images/sprite.png', 'ordinary', );
$playbn-close-name: 'playbn-close';
$playbn-close-x: 898px;
$playbn-close-y: 554px;
$playbn-close-offset-x: -898px;
$playbn-close-offset-y: -554px;
$playbn-close-width: 68px;
$playbn-close-height: 68px;
$playbn-close-total-width: 982px;
$playbn-close-total-height: 955px;
$playbn-close-image: '../images/sprite.png';
$playbn-close: (898px, 554px, -898px, -554px, 68px, 68px, 982px, 955px, '../images/sprite.png', 'playbn-close', );
$playbn-ok-name: 'playbn-ok';
$playbn-ok-x: 898px;
$playbn-ok-y: 622px;
$playbn-ok-offset-x: -898px;
$playbn-ok-offset-y: -622px;
$playbn-ok-width: 68px;
$playbn-ok-height: 68px;
$playbn-ok-total-width: 982px;
$playbn-ok-total-height: 955px;
$playbn-ok-image: '../images/sprite.png';
$playbn-ok: (898px, 622px, -898px, -622px, 68px, 68px, 982px, 955px, '../images/sprite.png', 'playbn-ok', );
$playbuttonoff-name: 'playbuttonoff';
$playbuttonoff-x: 400px;
$playbuttonoff-y: 422px;
$playbuttonoff-offset-x: -400px;
$playbuttonoff-offset-y: -422px;
$playbuttonoff-width: 145px;
$playbuttonoff-height: 145px;
$playbuttonoff-total-width: 982px;
$playbuttonoff-total-height: 955px;
$playbuttonoff-image: '../images/sprite.png';
$playbuttonoff: (400px, 422px, -400px, -422px, 145px, 145px, 982px, 955px, '../images/sprite.png', 'playbuttonoff', );
$playbuttonon-name: 'playbuttonon';
$playbuttonon-x: 659px;
$playbuttonon-y: 145px;
$playbuttonon-offset-x: -659px;
$playbuttonon-offset-y: -145px;
$playbuttonon-width: 145px;
$playbuttonon-height: 145px;
$playbuttonon-total-width: 982px;
$playbuttonon-total-height: 955px;
$playbuttonon-image: '../images/sprite.png';
$playbuttonon: (659px, 145px, -659px, -145px, 145px, 145px, 982px, 955px, '../images/sprite.png', 'playbuttonon', );
$pointmark-name: 'pointmark';
$pointmark-x: 584px;
$pointmark-y: 890px;
$pointmark-offset-x: -584px;
$pointmark-offset-y: -890px;
$pointmark-width: 30px;
$pointmark-height: 30px;
$pointmark-total-width: 982px;
$pointmark-total-height: 955px;
$pointmark-image: '../images/sprite.png';
$pointmark: (584px, 890px, -584px, -890px, 30px, 30px, 982px, 955px, '../images/sprite.png', 'pointmark', );
$popup-button-close-name: 'popup-button-close';
$popup-button-close-x: 109px;
$popup-button-close-y: 890px;
$popup-button-close-offset-x: -109px;
$popup-button-close-offset-y: -890px;
$popup-button-close-width: 54px;
$popup-button-close-height: 64px;
$popup-button-close-total-width: 982px;
$popup-button-close-total-height: 955px;
$popup-button-close-image: '../images/sprite.png';
$popup-button-close: (109px, 890px, -109px, -890px, 54px, 64px, 982px, 955px, '../images/sprite.png', 'popup-button-close', );
$popup-button-ok-name: 'popup-button-ok';
$popup-button-ok-x: 55px;
$popup-button-ok-y: 890px;
$popup-button-ok-offset-x: -55px;
$popup-button-ok-offset-y: -890px;
$popup-button-ok-width: 54px;
$popup-button-ok-height: 64px;
$popup-button-ok-total-width: 982px;
$popup-button-ok-total-height: 955px;
$popup-button-ok-image: '../images/sprite.png';
$popup-button-ok: (55px, 890px, -55px, -890px, 54px, 64px, 982px, 955px, '../images/sprite.png', 'popup-button-ok', );
$previewbuttonoff-name: 'previewbuttonoff';
$previewbuttonoff-x: 659px;
$previewbuttonoff-y: 0px;
$previewbuttonoff-offset-x: -659px;
$previewbuttonoff-offset-y: 0px;
$previewbuttonoff-width: 145px;
$previewbuttonoff-height: 145px;
$previewbuttonoff-total-width: 982px;
$previewbuttonoff-total-height: 955px;
$previewbuttonoff-image: '../images/sprite.png';
$previewbuttonoff: (659px, 0px, -659px, 0px, 145px, 145px, 982px, 955px, '../images/sprite.png', 'previewbuttonoff', );
$previewbuttonon-name: 'previewbuttonon';
$previewbuttonon-x: 255px;
$previewbuttonon-y: 422px;
$previewbuttonon-offset-x: -255px;
$previewbuttonon-offset-y: -422px;
$previewbuttonon-width: 145px;
$previewbuttonon-height: 145px;
$previewbuttonon-total-width: 982px;
$previewbuttonon-total-height: 955px;
$previewbuttonon-image: '../images/sprite.png';
$previewbuttonon: (255px, 422px, -255px, -422px, 145px, 145px, 982px, 955px, '../images/sprite.png', 'previewbuttonon', );
$receipt-02-name: 'receipt-02';
$receipt-02-x: 382px;
$receipt-02-y: 192px;
$receipt-02-offset-x: -382px;
$receipt-02-offset-y: -192px;
$receipt-02-width: 45px;
$receipt-02-height: 67px;
$receipt-02-total-width: 982px;
$receipt-02-total-height: 955px;
$receipt-02-image: '../images/sprite.png';
$receipt-02: (382px, 192px, -382px, -192px, 45px, 67px, 982px, 955px, '../images/sprite.png', 'receipt-02', );
$receipt-03-name: 'receipt-03';
$receipt-03-x: 455px;
$receipt-03-y: 825px;
$receipt-03-offset-x: -455px;
$receipt-03-offset-y: -825px;
$receipt-03-width: 66px;
$receipt-03-height: 60px;
$receipt-03-total-width: 982px;
$receipt-03-total-height: 955px;
$receipt-03-image: '../images/sprite.png';
$receipt-03: (455px, 825px, -455px, -825px, 66px, 60px, 982px, 955px, '../images/sprite.png', 'receipt-03', );
$receipt-hub-name: 'receipt-hub';
$receipt-hub-x: 659px;
$receipt-hub-y: 558px;
$receipt-hub-offset-x: -659px;
$receipt-hub-offset-y: -558px;
$receipt-hub-width: 75px;
$receipt-hub-height: 48px;
$receipt-hub-total-width: 982px;
$receipt-hub-total-height: 955px;
$receipt-hub-image: '../images/sprite.png';
$receipt-hub: (659px, 558px, -659px, -558px, 75px, 48px, 982px, 955px, '../images/sprite.png', 'receipt-hub', );
$receipt-list-close-name: 'receipt-list-close';
$receipt-list-close-x: 471px;
$receipt-list-close-y: 567px;
$receipt-list-close-offset-x: -471px;
$receipt-list-close-offset-y: -567px;
$receipt-list-close-width: 26px;
$receipt-list-close-height: 26px;
$receipt-list-close-total-width: 982px;
$receipt-list-close-total-height: 955px;
$receipt-list-close-image: '../images/sprite.png';
$receipt-list-close: (471px, 567px, -471px, -567px, 26px, 26px, 982px, 955px, '../images/sprite.png', 'receipt-list-close', );
$receipt-list-open-name: 'receipt-list-open';
$receipt-list-open-x: 497px;
$receipt-list-open-y: 567px;
$receipt-list-open-offset-x: -497px;
$receipt-list-open-offset-y: -567px;
$receipt-list-open-width: 26px;
$receipt-list-open-height: 26px;
$receipt-list-open-total-width: 982px;
$receipt-list-open-total-height: 955px;
$receipt-list-open-image: '../images/sprite.png';
$receipt-list-open: (497px, 567px, -497px, -567px, 26px, 26px, 982px, 955px, '../images/sprite.png', 'receipt-list-open', );
$receipt-number-name: 'receipt-number';
$receipt-number-x: 898px;
$receipt-number-y: 484px;
$receipt-number-offset-x: -898px;
$receipt-number-offset-y: -484px;
$receipt-number-width: 70px;
$receipt-number-height: 70px;
$receipt-number-total-width: 982px;
$receipt-number-total-height: 955px;
$receipt-number-image: '../images/sprite.png';
$receipt-number: (898px, 484px, -898px, -484px, 70px, 70px, 982px, 955px, '../images/sprite.png', 'receipt-number', );
$receipt-print-name: 'receipt-print';
$receipt-print-x: 521px;
$receipt-print-y: 825px;
$receipt-print-offset-x: -521px;
$receipt-print-offset-y: -825px;
$receipt-print-width: 60px;
$receipt-print-height: 60px;
$receipt-print-total-width: 982px;
$receipt-print-total-height: 955px;
$receipt-print-image: '../images/sprite.png';
$receipt-print: (521px, 825px, -521px, -825px, 60px, 60px, 982px, 955px, '../images/sprite.png', 'receipt-print', );
$receipt-tip-name: 'receipt-tip';
$receipt-tip-x: 163px;
$receipt-tip-y: 890px;
$receipt-tip-offset-x: -163px;
$receipt-tip-offset-y: -890px;
$receipt-tip-width: 55px;
$receipt-tip-height: 55px;
$receipt-tip-total-width: 982px;
$receipt-tip-total-height: 955px;
$receipt-tip-image: '../images/sprite.png';
$receipt-tip: (163px, 890px, -163px, -890px, 55px, 55px, 982px, 955px, '../images/sprite.png', 'receipt-tip', );
$satisfaction-name: 'satisfaction';
$satisfaction-x: 898px;
$satisfaction-y: 168px;
$satisfaction-offset-x: -898px;
$satisfaction-offset-y: -168px;
$satisfaction-width: 84px;
$satisfaction-height: 84px;
$satisfaction-total-width: 982px;
$satisfaction-total-height: 955px;
$satisfaction-image: '../images/sprite.png';
$satisfaction: (898px, 168px, -898px, -168px, 84px, 84px, 982px, 955px, '../images/sprite.png', 'satisfaction', );
$savepen-name: 'savepen';
$savepen-x: 644px;
$savepen-y: 890px;
$savepen-offset-x: -644px;
$savepen-offset-y: -890px;
$savepen-width: 30px;
$savepen-height: 30px;
$savepen-total-width: 982px;
$savepen-total-height: 955px;
$savepen-image: '../images/sprite.png';
$savepen: (644px, 890px, -644px, -890px, 30px, 30px, 982px, 955px, '../images/sprite.png', 'savepen', );
$screen-all-name: 'screen-all';
$screen-all-x: 641px;
$screen-all-y: 825px;
$screen-all-offset-x: -641px;
$screen-all-offset-y: -825px;
$screen-all-width: 60px;
$screen-all-height: 60px;
$screen-all-total-width: 982px;
$screen-all-total-height: 955px;
$screen-all-image: '../images/sprite.png';
$screen-all: (641px, 825px, -641px, -825px, 60px, 60px, 982px, 955px, '../images/sprite.png', 'screen-all', );
$screen-helf-name: 'screen-helf';
$screen-helf-x: 581px;
$screen-helf-y: 825px;
$screen-helf-offset-x: -581px;
$screen-helf-offset-y: -825px;
$screen-helf-width: 60px;
$screen-helf-height: 60px;
$screen-helf-total-width: 982px;
$screen-helf-total-height: 955px;
$screen-helf-image: '../images/sprite.png';
$screen-helf: (581px, 825px, -581px, -825px, 60px, 60px, 982px, 955px, '../images/sprite.png', 'screen-helf', );
$search-list-add-name: 'search-list-add';
$search-list-add-x: 898px;
$search-list-add-y: 690px;
$search-list-add-offset-x: -898px;
$search-list-add-offset-y: -690px;
$search-list-add-width: 70px;
$search-list-add-height: 65px;
$search-list-add-total-width: 982px;
$search-list-add-total-height: 955px;
$search-list-add-image: '../images/sprite.png';
$search-list-add: (898px, 690px, -898px, -690px, 70px, 65px, 982px, 955px, '../images/sprite.png', 'search-list-add', );
$search-list-buy-name: 'search-list-buy';
$search-list-buy-x: 898px;
$search-list-buy-y: 755px;
$search-list-buy-offset-x: -898px;
$search-list-buy-offset-y: -755px;
$search-list-buy-width: 70px;
$search-list-buy-height: 65px;
$search-list-buy-total-width: 982px;
$search-list-buy-total-height: 955px;
$search-list-buy-image: '../images/sprite.png';
$search-list-buy: (898px, 755px, -898px, -755px, 70px, 65px, 982px, 955px, '../images/sprite.png', 'search-list-buy', );
$search-list-location-name: 'search-list-location';
$search-list-location-x: 310px;
$search-list-location-y: 890px;
$search-list-location-offset-x: -310px;
$search-list-location-offset-y: -890px;
$search-list-location-width: 44px;
$search-list-location-height: 44px;
$search-list-location-total-width: 982px;
$search-list-location-total-height: 955px;
$search-list-location-image: '../images/sprite.png';
$search-list-location: (310px, 890px, -310px, -890px, 44px, 44px, 982px, 955px, '../images/sprite.png', 'search-list-location', );
$search-list-price-name: 'search-list-price';
$search-list-price-x: 266px;
$search-list-price-y: 890px;
$search-list-price-offset-x: -266px;
$search-list-price-offset-y: -890px;
$search-list-price-width: 44px;
$search-list-price-height: 44px;
$search-list-price-total-width: 982px;
$search-list-price-total-height: 955px;
$search-list-price-image: '../images/sprite.png';
$search-list-price: (266px, 890px, -266px, -890px, 44px, 44px, 982px, 955px, '../images/sprite.png', 'search-list-price', );
$search-list-saletag-name: 'search-list-saletag';
$search-list-saletag-x: 545px;
$search-list-saletag-y: 522px;
$search-list-saletag-offset-x: -545px;
$search-list-saletag-offset-y: -522px;
$search-list-saletag-width: 69px;
$search-list-saletag-height: 36px;
$search-list-saletag-total-width: 982px;
$search-list-saletag-total-height: 955px;
$search-list-saletag-image: '../images/sprite.png';
$search-list-saletag: (545px, 522px, -545px, -522px, 69px, 36px, 982px, 955px, '../images/sprite.png', 'search-list-saletag', );
$search-list-time-name: 'search-list-time';
$search-list-time-x: 354px;
$search-list-time-y: 890px;
$search-list-time-offset-x: -354px;
$search-list-time-offset-y: -890px;
$search-list-time-width: 44px;
$search-list-time-height: 44px;
$search-list-time-total-width: 982px;
$search-list-time-total-height: 955px;
$search-list-time-image: '../images/sprite.png';
$search-list-time: (354px, 890px, -354px, -890px, 44px, 44px, 982px, 955px, '../images/sprite.png', 'search-list-time', );
$service-01-name: 'service-01';
$service-01-x: 429px;
$service-01-y: 0px;
$service-01-offset-x: -429px;
$service-01-offset-y: 0px;
$service-01-width: 230px;
$service-01-height: 230px;
$service-01-total-width: 982px;
$service-01-total-height: 955px;
$service-01-image: '../images/sprite.png';
$service-01: (429px, 0px, -429px, 0px, 230px, 230px, 982px, 955px, '../images/sprite.png', 'service-01', );
$service-02-name: 'service-02';
$service-02-x: 0px;
$service-02-y: 192px;
$service-02-offset-x: 0px;
$service-02-offset-y: -192px;
$service-02-width: 230px;
$service-02-height: 230px;
$service-02-total-width: 982px;
$service-02-total-height: 955px;
$service-02-image: '../images/sprite.png';
$service-02: (0px, 192px, 0px, -192px, 230px, 230px, 982px, 955px, '../images/sprite.png', 'service-02', );
$shoppingcar-name: 'shoppingcar';
$shoppingcar-x: 322px;
$shoppingcar-y: 344px;
$shoppingcar-offset-x: -322px;
$shoppingcar-offset-y: -344px;
$shoppingcar-width: 86px;
$shoppingcar-height: 73px;
$shoppingcar-total-width: 982px;
$shoppingcar-total-height: 955px;
$shoppingcar-image: '../images/sprite.png';
$shoppingcar: (322px, 344px, -322px, -344px, 86px, 73px, 982px, 955px, '../images/sprite.png', 'shoppingcar', );
$smart-icon-class-name: 'smart-icon-class';
$smart-icon-class-x: 0px;
$smart-icon-class-y: 611px;
$smart-icon-class-offset-x: 0px;
$smart-icon-class-offset-y: -611px;
$smart-icon-class-width: 134px;
$smart-icon-class-height: 134px;
$smart-icon-class-total-width: 982px;
$smart-icon-class-total-height: 955px;
$smart-icon-class-image: '../images/sprite.png';
$smart-icon-class: (0px, 611px, 0px, -611px, 134px, 134px, 982px, 955px, '../images/sprite.png', 'smart-icon-class', );
$smart-icon-classlociton-name: 'smart-icon-classlociton';
$smart-icon-classlociton-x: 659px;
$smart-icon-classlociton-y: 290px;
$smart-icon-classlociton-offset-x: -659px;
$smart-icon-classlociton-offset-y: -290px;
$smart-icon-classlociton-width: 134px;
$smart-icon-classlociton-height: 134px;
$smart-icon-classlociton-total-width: 982px;
$smart-icon-classlociton-total-height: 955px;
$smart-icon-classlociton-image: '../images/sprite.png';
$smart-icon-classlociton: (659px, 290px, -659px, -290px, 134px, 134px, 982px, 955px, '../images/sprite.png', 'smart-icon-classlociton', );
$smart-icon-form-name: 'smart-icon-form';
$smart-icon-form-x: 134px;
$smart-icon-form-y: 611px;
$smart-icon-form-offset-x: -134px;
$smart-icon-form-offset-y: -611px;
$smart-icon-form-width: 134px;
$smart-icon-form-height: 134px;
$smart-icon-form-total-width: 982px;
$smart-icon-form-total-height: 955px;
$smart-icon-form-image: '../images/sprite.png';
$smart-icon-form: (134px, 611px, -134px, -611px, 134px, 134px, 982px, 955px, '../images/sprite.png', 'smart-icon-form', );
$smart-icon-needpay-name: 'smart-icon-needpay';
$smart-icon-needpay-x: 659px;
$smart-icon-needpay-y: 424px;
$smart-icon-needpay-offset-x: -659px;
$smart-icon-needpay-offset-y: -424px;
$smart-icon-needpay-width: 134px;
$smart-icon-needpay-height: 134px;
$smart-icon-needpay-total-width: 982px;
$smart-icon-needpay-total-height: 955px;
$smart-icon-needpay-image: '../images/sprite.png';
$smart-icon-needpay: (659px, 424px, -659px, -424px, 134px, 134px, 982px, 955px, '../images/sprite.png', 'smart-icon-needpay', );
$staff001-name: 'staff001';
$staff001-x: 0px;
$staff001-y: 0px;
$staff001-offset-x: 0px;
$staff001-offset-y: 0px;
$staff001-width: 429px;
$staff001-height: 192px;
$staff001-total-width: 982px;
$staff001-total-height: 955px;
$staff001-image: '../images/sprite.png';
$staff001: (0px, 0px, 0px, 0px, 429px, 192px, 982px, 955px, '../images/sprite.png', 'staff001', );
$staffsearch-name: 'staffsearch';
$staffsearch-x: 898px;
$staffsearch-y: 334px;
$staffsearch-offset-x: -898px;
$staffsearch-offset-y: -334px;
$staffsearch-width: 80px;
$staffsearch-height: 80px;
$staffsearch-total-width: 982px;
$staffsearch-total-height: 955px;
$staffsearch-image: '../images/sprite.png';
$staffsearch: (898px, 334px, -898px, -334px, 80px, 80px, 982px, 955px, '../images/sprite.png', 'staffsearch', );
$studylocation-name: 'studylocation';
$studylocation-x: 398px;
$studylocation-y: 890px;
$studylocation-offset-x: -398px;
$studylocation-offset-y: -890px;
$studylocation-width: 42px;
$studylocation-height: 42px;
$studylocation-total-width: 982px;
$studylocation-total-height: 955px;
$studylocation-image: '../images/sprite.png';
$studylocation: (398px, 890px, -398px, -890px, 42px, 42px, 982px, 955px, '../images/sprite.png', 'studylocation', );
$studyteacher-name: 'studyteacher';
$studyteacher-x: 482px;
$studyteacher-y: 890px;
$studyteacher-offset-x: -482px;
$studyteacher-offset-y: -890px;
$studyteacher-width: 42px;
$studyteacher-height: 42px;
$studyteacher-total-width: 982px;
$studyteacher-total-height: 955px;
$studyteacher-image: '../images/sprite.png';
$studyteacher: (482px, 890px, -482px, -890px, 42px, 42px, 982px, 955px, '../images/sprite.png', 'studyteacher', );
$studytime-name: 'studytime';
$studytime-x: 440px;
$studytime-y: 890px;
$studytime-offset-x: -440px;
$studytime-offset-y: -890px;
$studytime-width: 42px;
$studytime-height: 42px;
$studytime-total-width: 982px;
$studytime-total-height: 955px;
$studytime-image: '../images/sprite.png';
$studytime: (440px, 890px, -440px, -890px, 42px, 42px, 982px, 955px, '../images/sprite.png', 'studytime', );
$timec-name: 'timec';
$timec-x: 382px;
$timec-y: 259px;
$timec-offset-x: -382px;
$timec-offset-y: -259px;
$timec-width: 46px;
$timec-height: 46px;
$timec-total-width: 982px;
$timec-total-height: 955px;
$timec-image: '../images/sprite.png';
$timec: (382px, 259px, -382px, -259px, 46px, 46px, 982px, 955px, '../images/sprite.png', 'timec', );
$timenow-name: 'timenow';
$timenow-x: 382px;
$timenow-y: 305px;
$timenow-offset-x: -382px;
$timenow-offset-y: -305px;
$timenow-width: 38px;
$timenow-height: 38px;
$timenow-total-width: 982px;
$timenow-total-height: 955px;
$timenow-image: '../images/sprite.png';
$timenow: (382px, 305px, -382px, -305px, 38px, 38px, 982px, 955px, '../images/sprite.png', 'timenow', );
$timestardown-name: 'timestardown';
$timestardown-x: 443px;
$timestardown-y: 567px;
$timestardown-offset-x: -443px;
$timestardown-offset-y: -567px;
$timestardown-width: 28px;
$timestardown-height: 28px;
$timestardown-total-width: 982px;
$timestardown-total-height: 955px;
$timestardown-image: '../images/sprite.png';
$timestardown: (443px, 567px, -443px, -567px, 28px, 28px, 982px, 955px, '../images/sprite.png', 'timestardown', );
$toptip01-name: 'toptip01';
$toptip01-x: 230px;
$toptip01-y: 192px;
$toptip01-offset-x: -230px;
$toptip01-offset-y: -192px;
$toptip01-width: 152px;
$toptip01-height: 152px;
$toptip01-total-width: 982px;
$toptip01-total-height: 955px;
$toptip01-image: '../images/sprite.png';
$toptip01: (230px, 192px, -230px, -192px, 152px, 152px, 982px, 955px, '../images/sprite.png', 'toptip01', );
$toptip02-name: 'toptip02';
$toptip02-x: 804px;
$toptip02-y: 204px;
$toptip02-offset-x: -804px;
$toptip02-offset-y: -204px;
$toptip02-width: 88px;
$toptip02-height: 88px;
$toptip02-total-width: 982px;
$toptip02-total-height: 955px;
$toptip02-image: '../images/sprite.png';
$toptip02: (804px, 204px, -804px, -204px, 88px, 88px, 982px, 955px, '../images/sprite.png', 'toptip02', );
$trash-can-name: 'trash-can';
$trash-can-x: 923px;
$trash-can-y: 825px;
$trash-can-offset-x: -923px;
$trash-can-offset-y: -825px;
$trash-can-width: 48px;
$trash-can-height: 48px;
$trash-can-total-width: 982px;
$trash-can-total-height: 955px;
$trash-can-image: '../images/sprite.png';
$trash-can: (923px, 825px, -923px, -825px, 48px, 48px, 982px, 955px, '../images/sprite.png', 'trash-can', );
$udollar-icon-name: 'udollar-icon';
$udollar-icon-x: 804px;
$udollar-icon-y: 0px;
$udollar-icon-offset-x: -804px;
$udollar-icon-offset-y: 0px;
$udollar-icon-width: 94px;
$udollar-icon-height: 94px;
$udollar-icon-total-width: 982px;
$udollar-icon-total-height: 955px;
$udollar-icon-image: '../images/sprite.png';
$udollar-icon: (804px, 0px, -804px, 0px, 94px, 94px, 982px, 955px, '../images/sprite.png', 'udollar-icon', );
$updown-name: 'updown';
$updown-x: 877px;
$updown-y: 94px;
$updown-offset-x: -877px;
$updown-offset-y: -94px;
$updown-width: 20px;
$updown-height: 42px;
$updown-total-width: 982px;
$updown-total-height: 955px;
$updown-image: '../images/sprite.png';
$updown: (877px, 94px, -877px, -94px, 20px, 42px, 982px, 955px, '../images/sprite.png', 'updown', );
$updownlist-name: 'updownlist';
$updownlist-x: 523px;
$updownlist-y: 567px;
$updownlist-offset-x: -523px;
$updownlist-offset-y: -567px;
$updownlist-width: 25px;
$updownlist-height: 25px;
$updownlist-total-width: 982px;
$updownlist-total-height: 955px;
$updownlist-image: '../images/sprite.png';
$updownlist: (523px, 567px, -523px, -567px, 25px, 25px, 982px, 955px, '../images/sprite.png', 'updownlist', );
$upig-white-l-name: 'upig-white-l';
$upig-white-l-x: 230px;
$upig-white-l-y: 344px;
$upig-white-l-offset-x: -230px;
$upig-white-l-offset-y: -344px;
$upig-white-l-width: 92px;
$upig-white-l-height: 73px;
$upig-white-l-total-width: 982px;
$upig-white-l-total-height: 955px;
$upig-white-l-image: '../images/sprite.png';
$upig-white-l: (230px, 344px, -230px, -344px, 92px, 73px, 982px, 955px, '../images/sprite.png', 'upig-white-l', );
$upig-white-name: 'upig-white';
$upig-white-x: 846px;
$upig-white-y: 745px;
$upig-white-offset-x: -846px;
$upig-white-offset-y: -745px;
$upig-white-width: 52px;
$upig-white-height: 46px;
$upig-white-total-width: 982px;
$upig-white-total-height: 955px;
$upig-white-image: '../images/sprite.png';
$upig-white: (846px, 745px, -846px, -745px, 52px, 46px, 982px, 955px, '../images/sprite.png', 'upig-white', );
$upig-name: 'upig';
$upig-x: 734px;
$upig-y: 558px;
$upig-offset-x: -734px;
$upig-offset-y: -558px;
$upig-width: 54px;
$upig-height: 48px;
$upig-total-width: 982px;
$upig-total-height: 955px;
$upig-image: '../images/sprite.png';
$upig: (734px, 558px, -734px, -558px, 54px, 48px, 982px, 955px, '../images/sprite.png', 'upig', );
$upigadd-name: 'upigadd';
$upigadd-x: 377px;
$upigadd-y: 567px;
$upigadd-offset-x: -377px;
$upigadd-offset-y: -567px;
$upigadd-width: 32px;
$upigadd-height: 32px;
$upigadd-total-width: 982px;
$upigadd-total-height: 955px;
$upigadd-image: '../images/sprite.png';
$upigadd: (377px, 567px, -377px, -567px, 32px, 32px, 982px, 955px, '../images/sprite.png', 'upigadd', );
$windowsclose-name: 'windowsclose';
$windowsclose-x: 614px;
$windowsclose-y: 522px;
$windowsclose-offset-x: -614px;
$windowsclose-offset-y: -522px;
$windowsclose-width: 34px;
$windowsclose-height: 34px;
$windowsclose-total-width: 982px;
$windowsclose-total-height: 955px;
$windowsclose-image: '../images/sprite.png';
$windowsclose: (614px, 522px, -614px, -522px, 34px, 34px, 982px, 955px, '../images/sprite.png', 'windowsclose', );
$spritesheet-width: 982px;
$spritesheet-height: 955px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($-button-atm, $-button-cash, $-button-credit-card, $-button-goback, $-drop-down, $advisory-down-w, $advisory-down, $advisoryadd, $arrow-g01, $arrow-g02, $arrow01, $arrow02, $atm-check, $bdcake, $buy-popup, $chat, $class-number, $edit-close, $edit-ok, $editmore-w, $editmore, $list-close, $list-open, $mailto, $mysearch, $notsatisfied, $order-a-01, $order-a-02, $order-b-01, $order-b-02, $order-button-add-n, $order-button-add, $order-button-alladd, $order-button-d, $order-button-like, $order-button4-1, $order-button4-2, $order-button4-2-png, $order-button4-3, $order-button4-3-png, $order-button4-4, $order-button4-4-png, $order-button4-5, $order-button4-6, $order-button4-7, $order-button4-8, $order-c-01, $order-d-01, $order-d-02, $order-e-01, $order-e-02, $orders-icon-01, $orders-icon-02, $orders-icon-03, $orders-icon-04, $ordinary, $playbn-close, $playbn-ok, $playbuttonoff, $playbuttonon, $pointmark, $popup-button-close, $popup-button-ok, $previewbuttonoff, $previewbuttonon, $receipt-02, $receipt-03, $receipt-hub, $receipt-list-close, $receipt-list-open, $receipt-number, $receipt-print, $receipt-tip, $satisfaction, $savepen, $screen-all, $screen-helf, $search-list-add, $search-list-buy, $search-list-location, $search-list-price, $search-list-saletag, $search-list-time, $service-01, $service-02, $shoppingcar, $smart-icon-class, $smart-icon-classlociton, $smart-icon-form, $smart-icon-needpay, $staff001, $staffsearch, $studylocation, $studyteacher, $studytime, $timec, $timenow, $timestardown, $toptip01, $toptip02, $trash-can, $udollar-icon, $updown, $updownlist, $upig-white-l, $upig-white, $upig, $upigadd, $windowsclose, );
$spritesheet: (982px, 955px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
