// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$-button-atm-name: 'Button-atm';
$-button-atm-x: 432px;
$-button-atm-y: 594px;
$-button-atm-offset-x: -432px;
$-button-atm-offset-y: -594px;
$-button-atm-width: 92px;
$-button-atm-height: 67px;
$-button-atm-total-width: 836px;
$-button-atm-total-height: 796px;
$-button-atm-image: '../images/sprite.png';
$-button-atm: (432px, 594px, -432px, -594px, 92px, 67px, 836px, 796px, '../images/sprite.png', 'Button-atm', );
$-button-cash-name: 'Button-cash';
$-button-cash-x: 574px;
$-button-cash-y: 228px;
$-button-cash-offset-x: -574px;
$-button-cash-offset-y: -228px;
$-button-cash-width: 95px;
$-button-cash-height: 85px;
$-button-cash-total-width: 836px;
$-button-cash-total-height: 796px;
$-button-cash-image: '../images/sprite.png';
$-button-cash: (574px, 228px, -574px, -228px, 95px, 85px, 836px, 796px, '../images/sprite.png', 'Button-cash', );
$-button-credit-card-name: 'Button-credit-card';
$-button-credit-card-x: 340px;
$-button-credit-card-y: 594px;
$-button-credit-card-offset-x: -340px;
$-button-credit-card-offset-y: -594px;
$-button-credit-card-width: 92px;
$-button-credit-card-height: 67px;
$-button-credit-card-total-width: 836px;
$-button-credit-card-total-height: 796px;
$-button-credit-card-image: '../images/sprite.png';
$-button-credit-card: (340px, 594px, -340px, -594px, 92px, 67px, 836px, 796px, '../images/sprite.png', 'Button-credit-card', );
$-button-goback-name: 'Button-goback';
$-button-goback-x: 248px;
$-button-goback-y: 594px;
$-button-goback-offset-x: -248px;
$-button-goback-offset-y: -594px;
$-button-goback-width: 92px;
$-button-goback-height: 67px;
$-button-goback-total-width: 836px;
$-button-goback-total-height: 796px;
$-button-goback-image: '../images/sprite.png';
$-button-goback: (248px, 594px, -248px, -594px, 92px, 67px, 836px, 796px, '../images/sprite.png', 'Button-goback', );
$-drop-down-name: 'Drop-down';
$-drop-down-x: 820px;
$-drop-down-y: 688px;
$-drop-down-offset-x: -820px;
$-drop-down-offset-y: -688px;
$-drop-down-width: 16px;
$-drop-down-height: 9px;
$-drop-down-total-width: 836px;
$-drop-down-total-height: 796px;
$-drop-down-image: '../images/sprite.png';
$-drop-down: (820px, 688px, -820px, -688px, 16px, 9px, 836px, 796px, '../images/sprite.png', 'Drop-down', );
$advisory-down-w-name: 'advisory-down-w';
$advisory-down-w-x: 669px;
$advisory-down-w-y: 289px;
$advisory-down-w-offset-x: -669px;
$advisory-down-w-offset-y: -289px;
$advisory-down-w-width: 28px;
$advisory-down-w-height: 15px;
$advisory-down-w-total-width: 836px;
$advisory-down-w-total-height: 796px;
$advisory-down-w-image: '../images/sprite.png';
$advisory-down-w: (669px, 289px, -669px, -289px, 28px, 15px, 836px, 796px, '../images/sprite.png', 'advisory-down-w', );
$advisory-down-name: 'advisory-down';
$advisory-down-x: 708px;
$advisory-down-y: 653px;
$advisory-down-offset-x: -708px;
$advisory-down-offset-y: -653px;
$advisory-down-width: 28px;
$advisory-down-height: 15px;
$advisory-down-total-width: 836px;
$advisory-down-total-height: 796px;
$advisory-down-image: '../images/sprite.png';
$advisory-down: (708px, 653px, -708px, -653px, 28px, 15px, 836px, 796px, '../images/sprite.png', 'advisory-down', );
$advisoryadd-name: 'advisoryadd';
$advisoryadd-x: 0px;
$advisoryadd-y: 741px;
$advisoryadd-offset-x: 0px;
$advisoryadd-offset-y: -741px;
$advisoryadd-width: 65px;
$advisoryadd-height: 55px;
$advisoryadd-total-width: 836px;
$advisoryadd-total-height: 796px;
$advisoryadd-image: '../images/sprite.png';
$advisoryadd: (0px, 741px, 0px, -741px, 65px, 55px, 836px, 796px, '../images/sprite.png', 'advisoryadd', );
$atm-check-name: 'atm-check';
$atm-check-x: 0px;
$atm-check-y: 594px;
$atm-check-offset-x: 0px;
$atm-check-offset-y: -594px;
$atm-check-width: 82px;
$atm-check-height: 82px;
$atm-check-total-width: 836px;
$atm-check-total-height: 796px;
$atm-check-image: '../images/sprite.png';
$atm-check: (0px, 594px, 0px, -594px, 82px, 82px, 836px, 796px, '../images/sprite.png', 'atm-check', );
$chat-name: 'chat';
$chat-x: 776px;
$chat-y: 649px;
$chat-offset-x: -776px;
$chat-offset-y: -649px;
$chat-width: 58px;
$chat-height: 39px;
$chat-total-width: 836px;
$chat-total-height: 796px;
$chat-image: '../images/sprite.png';
$chat: (776px, 649px, -776px, -649px, 58px, 39px, 836px, 796px, '../images/sprite.png', 'chat', );
$class-number-name: 'class-number';
$class-number-x: 352px;
$class-number-y: 262px;
$class-number-offset-x: -352px;
$class-number-offset-y: -262px;
$class-number-width: 70px;
$class-number-height: 70px;
$class-number-total-width: 836px;
$class-number-total-height: 796px;
$class-number-image: '../images/sprite.png';
$class-number: (352px, 262px, -352px, -262px, 70px, 70px, 836px, 796px, '../images/sprite.png', 'class-number', );
$edit-close-name: 'edit-close';
$edit-close-x: 708px;
$edit-close-y: 133px;
$edit-close-offset-x: -708px;
$edit-close-offset-y: -133px;
$edit-close-width: 65px;
$edit-close-height: 65px;
$edit-close-total-width: 836px;
$edit-close-total-height: 796px;
$edit-close-image: '../images/sprite.png';
$edit-close: (708px, 133px, -708px, -133px, 65px, 65px, 836px, 796px, '../images/sprite.png', 'edit-close', );
$edit-ok-name: 'edit-ok';
$edit-ok-x: 708px;
$edit-ok-y: 588px;
$edit-ok-offset-x: -708px;
$edit-ok-offset-y: -588px;
$edit-ok-width: 65px;
$edit-ok-height: 65px;
$edit-ok-total-width: 836px;
$edit-ok-total-height: 796px;
$edit-ok-image: '../images/sprite.png';
$edit-ok: (708px, 588px, -708px, -588px, 65px, 65px, 836px, 796px, '../images/sprite.png', 'edit-ok', );
$editmore-w-name: 'editmore-w';
$editmore-w-x: 668px;
$editmore-w-y: 206px;
$editmore-w-offset-x: -668px;
$editmore-w-offset-y: -206px;
$editmore-w-width: 35px;
$editmore-w-height: 12px;
$editmore-w-total-width: 836px;
$editmore-w-total-height: 796px;
$editmore-w-image: '../images/sprite.png';
$editmore-w: (668px, 206px, -668px, -206px, 35px, 12px, 836px, 796px, '../images/sprite.png', 'editmore-w', );
$editmore-name: 'editmore';
$editmore-x: 736px;
$editmore-y: 653px;
$editmore-offset-x: -736px;
$editmore-offset-y: -653px;
$editmore-width: 35px;
$editmore-height: 12px;
$editmore-total-width: 836px;
$editmore-total-height: 796px;
$editmore-image: '../images/sprite.png';
$editmore: (736px, 653px, -736px, -653px, 35px, 12px, 836px, 796px, '../images/sprite.png', 'editmore', );
$list-close-name: 'list-close';
$list-close-x: 643px;
$list-close-y: 473px;
$list-close-offset-x: -643px;
$list-close-offset-y: -473px;
$list-close-width: 30px;
$list-close-height: 30px;
$list-close-total-width: 836px;
$list-close-total-height: 796px;
$list-close-image: '../images/sprite.png';
$list-close: (643px, 473px, -643px, -473px, 30px, 30px, 836px, 796px, '../images/sprite.png', 'list-close', );
$list-open-name: 'list-open';
$list-open-x: 664px;
$list-open-y: 357px;
$list-open-offset-x: -664px;
$list-open-offset-y: -357px;
$list-open-width: 30px;
$list-open-height: 30px;
$list-open-total-width: 836px;
$list-open-total-height: 796px;
$list-open-image: '../images/sprite.png';
$list-open: (664px, 357px, -664px, -357px, 30px, 30px, 836px, 796px, '../images/sprite.png', 'list-open', );
$mailto-name: 'mailto';
$mailto-x: 260px;
$mailto-y: 676px;
$mailto-offset-x: -260px;
$mailto-offset-y: -676px;
$mailto-width: 75px;
$mailto-height: 50px;
$mailto-total-width: 836px;
$mailto-total-height: 796px;
$mailto-image: '../images/sprite.png';
$mailto: (260px, 676px, -260px, -676px, 75px, 50px, 836px, 796px, '../images/sprite.png', 'mailto', );
$mysearch-name: 'mysearch';
$mysearch-x: 0px;
$mysearch-y: 192px;
$mysearch-offset-x: 0px;
$mysearch-offset-y: -192px;
$mysearch-width: 207px;
$mysearch-height: 177px;
$mysearch-total-width: 836px;
$mysearch-total-height: 796px;
$mysearch-image: '../images/sprite.png';
$mysearch: (0px, 192px, 0px, -192px, 207px, 177px, 836px, 796px, '../images/sprite.png', 'mysearch', );
$order-a-01-name: 'order-a-01';
$order-a-01-x: 270px;
$order-a-01-y: 514px;
$order-a-01-offset-x: -270px;
$order-a-01-offset-y: -514px;
$order-a-01-width: 90px;
$order-a-01-height: 80px;
$order-a-01-total-width: 836px;
$order-a-01-total-height: 796px;
$order-a-01-image: '../images/sprite.png';
$order-a-01: (270px, 514px, -270px, -514px, 90px, 80px, 836px, 796px, '../images/sprite.png', 'order-a-01', );
$order-a-02-name: 'order-a-02';
$order-a-02-x: 360px;
$order-a-02-y: 514px;
$order-a-02-offset-x: -360px;
$order-a-02-offset-y: -514px;
$order-a-02-width: 90px;
$order-a-02-height: 80px;
$order-a-02-total-width: 836px;
$order-a-02-total-height: 796px;
$order-a-02-image: '../images/sprite.png';
$order-a-02: (360px, 514px, -360px, -514px, 90px, 80px, 836px, 796px, '../images/sprite.png', 'order-a-02', );
$order-b-01-name: 'order-b-01';
$order-b-01-x: 450px;
$order-b-01-y: 514px;
$order-b-01-offset-x: -450px;
$order-b-01-offset-y: -514px;
$order-b-01-width: 90px;
$order-b-01-height: 80px;
$order-b-01-total-width: 836px;
$order-b-01-total-height: 796px;
$order-b-01-image: '../images/sprite.png';
$order-b-01: (450px, 514px, -450px, -514px, 90px, 80px, 836px, 796px, '../images/sprite.png', 'order-b-01', );
$order-b-02-name: 'order-b-02';
$order-b-02-x: 540px;
$order-b-02-y: 514px;
$order-b-02-offset-x: -540px;
$order-b-02-offset-y: -514px;
$order-b-02-width: 90px;
$order-b-02-height: 80px;
$order-b-02-total-width: 836px;
$order-b-02-total-height: 796px;
$order-b-02-image: '../images/sprite.png';
$order-b-02: (540px, 514px, -540px, -514px, 90px, 80px, 836px, 796px, '../images/sprite.png', 'order-b-02', );
$order-button-add-n-name: 'order-button-add-n';
$order-button-add-n-x: 776px;
$order-button-add-n-y: 505px;
$order-button-add-n-offset-x: -776px;
$order-button-add-n-offset-y: -505px;
$order-button-add-n-width: 48px;
$order-button-add-n-height: 48px;
$order-button-add-n-total-width: 836px;
$order-button-add-n-total-height: 796px;
$order-button-add-n-image: '../images/sprite.png';
$order-button-add-n: (776px, 505px, -776px, -505px, 48px, 48px, 836px, 796px, '../images/sprite.png', 'order-button-add-n', );
$order-button-add-name: 'order-button-add';
$order-button-add-x: 776px;
$order-button-add-y: 601px;
$order-button-add-offset-x: -776px;
$order-button-add-offset-y: -601px;
$order-button-add-width: 48px;
$order-button-add-height: 48px;
$order-button-add-total-width: 836px;
$order-button-add-total-height: 796px;
$order-button-add-image: '../images/sprite.png';
$order-button-add: (776px, 601px, -776px, -601px, 48px, 48px, 836px, 796px, '../images/sprite.png', 'order-button-add', );
$order-button-d-name: 'order-button-d';
$order-button-d-x: 776px;
$order-button-d-y: 553px;
$order-button-d-offset-x: -776px;
$order-button-d-offset-y: -553px;
$order-button-d-width: 48px;
$order-button-d-height: 48px;
$order-button-d-total-width: 836px;
$order-button-d-total-height: 796px;
$order-button-d-image: '../images/sprite.png';
$order-button-d: (776px, 553px, -776px, -553px, 48px, 48px, 836px, 796px, '../images/sprite.png', 'order-button-d', );
$order-button-like-name: 'order-button-like';
$order-button-like-x: 669px;
$order-button-like-y: 260px;
$order-button-like-offset-x: -669px;
$order-button-like-offset-y: -260px;
$order-button-like-width: 34px;
$order-button-like-height: 29px;
$order-button-like-total-width: 836px;
$order-button-like-total-height: 796px;
$order-button-like-image: '../images/sprite.png';
$order-button-like: (669px, 260px, -669px, -260px, 34px, 29px, 836px, 796px, '../images/sprite.png', 'order-button-like', );
$order-button4-1-name: 'order-button4-1';
$order-button4-1-x: 0px;
$order-button4-1-y: 676px;
$order-button4-1-offset-x: 0px;
$order-button4-1-offset-y: -676px;
$order-button4-1-width: 65px;
$order-button4-1-height: 65px;
$order-button4-1-total-width: 836px;
$order-button4-1-total-height: 796px;
$order-button4-1-image: '../images/sprite.png';
$order-button4-1: (0px, 676px, 0px, -676px, 65px, 65px, 836px, 796px, '../images/sprite.png', 'order-button4-1', );
$order-button4-2-name: 'order-button4-2';
$order-button4-2-x: 708px;
$order-button4-2-y: 523px;
$order-button4-2-offset-x: -708px;
$order-button4-2-offset-y: -523px;
$order-button4-2-width: 65px;
$order-button4-2-height: 65px;
$order-button4-2-total-width: 836px;
$order-button4-2-total-height: 796px;
$order-button4-2-image: '../images/sprite.png';
$order-button4-2: (708px, 523px, -708px, -523px, 65px, 65px, 836px, 796px, '../images/sprite.png', 'order-button4-2', );
$order-button4-2-png-name: 'order-button4-2.png';
$order-button4-2-png-x: 708px;
$order-button4-2-png-y: 458px;
$order-button4-2-png-offset-x: -708px;
$order-button4-2-png-offset-y: -458px;
$order-button4-2-png-width: 65px;
$order-button4-2-png-height: 65px;
$order-button4-2-png-total-width: 836px;
$order-button4-2-png-total-height: 796px;
$order-button4-2-png-image: '../images/sprite.png';
$order-button4-2-png: (708px, 458px, -708px, -458px, 65px, 65px, 836px, 796px, '../images/sprite.png', 'order-button4-2.png', );
$order-button4-3-name: 'order-button4-3';
$order-button4-3-x: 708px;
$order-button4-3-y: 393px;
$order-button4-3-offset-x: -708px;
$order-button4-3-offset-y: -393px;
$order-button4-3-width: 65px;
$order-button4-3-height: 65px;
$order-button4-3-total-width: 836px;
$order-button4-3-total-height: 796px;
$order-button4-3-image: '../images/sprite.png';
$order-button4-3: (708px, 393px, -708px, -393px, 65px, 65px, 836px, 796px, '../images/sprite.png', 'order-button4-3', );
$order-button4-3-png-name: 'order-button4-3.png';
$order-button4-3-png-x: 708px;
$order-button4-3-png-y: 328px;
$order-button4-3-png-offset-x: -708px;
$order-button4-3-png-offset-y: -328px;
$order-button4-3-png-width: 65px;
$order-button4-3-png-height: 65px;
$order-button4-3-png-total-width: 836px;
$order-button4-3-png-total-height: 796px;
$order-button4-3-png-image: '../images/sprite.png';
$order-button4-3-png: (708px, 328px, -708px, -328px, 65px, 65px, 836px, 796px, '../images/sprite.png', 'order-button4-3.png', );
$order-button4-4-name: 'order-button4-4';
$order-button4-4-x: 708px;
$order-button4-4-y: 263px;
$order-button4-4-offset-x: -708px;
$order-button4-4-offset-y: -263px;
$order-button4-4-width: 65px;
$order-button4-4-height: 65px;
$order-button4-4-total-width: 836px;
$order-button4-4-total-height: 796px;
$order-button4-4-image: '../images/sprite.png';
$order-button4-4: (708px, 263px, -708px, -263px, 65px, 65px, 836px, 796px, '../images/sprite.png', 'order-button4-4', );
$order-button4-4-png-name: 'order-button4-4.png';
$order-button4-4-png-x: 708px;
$order-button4-4-png-y: 68px;
$order-button4-4-png-offset-x: -708px;
$order-button4-4-png-offset-y: -68px;
$order-button4-4-png-width: 65px;
$order-button4-4-png-height: 65px;
$order-button4-4-png-total-width: 836px;
$order-button4-4-png-total-height: 796px;
$order-button4-4-png-image: '../images/sprite.png';
$order-button4-4-png: (708px, 68px, -708px, -68px, 65px, 65px, 836px, 796px, '../images/sprite.png', 'order-button4-4.png', );
$order-button4-5-name: 'order-button4-5';
$order-button4-5-x: 195px;
$order-button4-5-y: 676px;
$order-button4-5-offset-x: -195px;
$order-button4-5-offset-y: -676px;
$order-button4-5-width: 65px;
$order-button4-5-height: 65px;
$order-button4-5-total-width: 836px;
$order-button4-5-total-height: 796px;
$order-button4-5-image: '../images/sprite.png';
$order-button4-5: (195px, 676px, -195px, -676px, 65px, 65px, 836px, 796px, '../images/sprite.png', 'order-button4-5', );
$order-button4-6-name: 'order-button4-6';
$order-button4-6-x: 130px;
$order-button4-6-y: 676px;
$order-button4-6-offset-x: -130px;
$order-button4-6-offset-y: -676px;
$order-button4-6-width: 65px;
$order-button4-6-height: 65px;
$order-button4-6-total-width: 836px;
$order-button4-6-total-height: 796px;
$order-button4-6-image: '../images/sprite.png';
$order-button4-6: (130px, 676px, -130px, -676px, 65px, 65px, 836px, 796px, '../images/sprite.png', 'order-button4-6', );
$order-button4-7-name: 'order-button4-7';
$order-button4-7-x: 65px;
$order-button4-7-y: 676px;
$order-button4-7-offset-x: -65px;
$order-button4-7-offset-y: -676px;
$order-button4-7-width: 65px;
$order-button4-7-height: 65px;
$order-button4-7-total-width: 836px;
$order-button4-7-total-height: 796px;
$order-button4-7-image: '../images/sprite.png';
$order-button4-7: (65px, 676px, -65px, -676px, 65px, 65px, 836px, 796px, '../images/sprite.png', 'order-button4-7', );
$order-button4-8-name: 'order-button4-8';
$order-button4-8-x: 708px;
$order-button4-8-y: 198px;
$order-button4-8-offset-x: -708px;
$order-button4-8-offset-y: -198px;
$order-button4-8-width: 65px;
$order-button4-8-height: 65px;
$order-button4-8-total-width: 836px;
$order-button4-8-total-height: 796px;
$order-button4-8-image: '../images/sprite.png';
$order-button4-8: (708px, 198px, -708px, -198px, 65px, 65px, 836px, 796px, '../images/sprite.png', 'order-button4-8', );
$order-c-01-name: 'order-c-01';
$order-c-01-x: 574px;
$order-c-01-y: 393px;
$order-c-01-offset-x: -574px;
$order-c-01-offset-y: -393px;
$order-c-01-width: 90px;
$order-c-01-height: 80px;
$order-c-01-total-width: 836px;
$order-c-01-total-height: 796px;
$order-c-01-image: '../images/sprite.png';
$order-c-01: (574px, 393px, -574px, -393px, 90px, 80px, 836px, 796px, '../images/sprite.png', 'order-c-01', );
$order-d-01-name: 'order-d-01';
$order-d-01-x: 180px;
$order-d-01-y: 514px;
$order-d-01-offset-x: -180px;
$order-d-01-offset-y: -514px;
$order-d-01-width: 90px;
$order-d-01-height: 80px;
$order-d-01-total-width: 836px;
$order-d-01-total-height: 796px;
$order-d-01-image: '../images/sprite.png';
$order-d-01: (180px, 514px, -180px, -514px, 90px, 80px, 836px, 796px, '../images/sprite.png', 'order-d-01', );
$order-d-02-name: 'order-d-02';
$order-d-02-x: 0px;
$order-d-02-y: 514px;
$order-d-02-offset-x: 0px;
$order-d-02-offset-y: -514px;
$order-d-02-width: 90px;
$order-d-02-height: 80px;
$order-d-02-total-width: 836px;
$order-d-02-total-height: 796px;
$order-d-02-image: '../images/sprite.png';
$order-d-02: (0px, 514px, 0px, -514px, 90px, 80px, 836px, 796px, '../images/sprite.png', 'order-d-02', );
$order-e-01-name: 'order-e-01';
$order-e-01-x: 90px;
$order-e-01-y: 514px;
$order-e-01-offset-x: -90px;
$order-e-01-offset-y: -514px;
$order-e-01-width: 90px;
$order-e-01-height: 80px;
$order-e-01-total-width: 836px;
$order-e-01-total-height: 796px;
$order-e-01-image: '../images/sprite.png';
$order-e-01: (90px, 514px, -90px, -514px, 90px, 80px, 836px, 796px, '../images/sprite.png', 'order-e-01', );
$order-e-02-name: 'order-e-02';
$order-e-02-x: 574px;
$order-e-02-y: 313px;
$order-e-02-offset-x: -574px;
$order-e-02-offset-y: -313px;
$order-e-02-width: 90px;
$order-e-02-height: 80px;
$order-e-02-total-width: 836px;
$order-e-02-total-height: 796px;
$order-e-02-image: '../images/sprite.png';
$order-e-02: (574px, 313px, -574px, -313px, 90px, 80px, 836px, 796px, '../images/sprite.png', 'order-e-02', );
$playbn-close-name: 'playbn-close';
$playbn-close-x: 708px;
$playbn-close-y: 0px;
$playbn-close-offset-x: -708px;
$playbn-close-offset-y: 0px;
$playbn-close-width: 68px;
$playbn-close-height: 68px;
$playbn-close-total-width: 836px;
$playbn-close-total-height: 796px;
$playbn-close-image: '../images/sprite.png';
$playbn-close: (708px, 0px, -708px, 0px, 68px, 68px, 836px, 796px, '../images/sprite.png', 'playbn-close', );
$playbn-ok-name: 'playbn-ok';
$playbn-ok-x: 630px;
$playbn-ok-y: 514px;
$playbn-ok-offset-x: -630px;
$playbn-ok-offset-y: -514px;
$playbn-ok-width: 68px;
$playbn-ok-height: 68px;
$playbn-ok-total-width: 836px;
$playbn-ok-total-height: 796px;
$playbn-ok-image: '../images/sprite.png';
$playbn-ok: (630px, 514px, -630px, -514px, 68px, 68px, 836px, 796px, '../images/sprite.png', 'playbn-ok', );
$playbuttonoff-name: 'playbuttonoff';
$playbuttonoff-x: 207px;
$playbuttonoff-y: 192px;
$playbuttonoff-offset-x: -207px;
$playbuttonoff-offset-y: -192px;
$playbuttonoff-width: 145px;
$playbuttonoff-height: 145px;
$playbuttonoff-total-width: 836px;
$playbuttonoff-total-height: 796px;
$playbuttonoff-image: '../images/sprite.png';
$playbuttonoff: (207px, 192px, -207px, -192px, 145px, 145px, 836px, 796px, '../images/sprite.png', 'playbuttonoff', );
$playbuttonon-name: 'playbuttonon';
$playbuttonon-x: 429px;
$playbuttonon-y: 0px;
$playbuttonon-offset-x: -429px;
$playbuttonon-offset-y: 0px;
$playbuttonon-width: 145px;
$playbuttonon-height: 145px;
$playbuttonon-total-width: 836px;
$playbuttonon-total-height: 796px;
$playbuttonon-image: '../images/sprite.png';
$playbuttonon: (429px, 0px, -429px, 0px, 145px, 145px, 836px, 796px, '../images/sprite.png', 'playbuttonon', );
$pointmark-name: 'pointmark';
$pointmark-x: 664px;
$pointmark-y: 437px;
$pointmark-offset-x: -664px;
$pointmark-offset-y: -437px;
$pointmark-width: 30px;
$pointmark-height: 30px;
$pointmark-total-width: 836px;
$pointmark-total-height: 796px;
$pointmark-image: '../images/sprite.png';
$pointmark: (664px, 437px, -664px, -437px, 30px, 30px, 836px, 796px, '../images/sprite.png', 'pointmark', );
$popup-button-close-name: 'popup-button-close';
$popup-button-close-x: 776px;
$popup-button-close-y: 244px;
$popup-button-close-offset-x: -776px;
$popup-button-close-offset-y: -244px;
$popup-button-close-width: 54px;
$popup-button-close-height: 64px;
$popup-button-close-total-width: 836px;
$popup-button-close-total-height: 796px;
$popup-button-close-image: '../images/sprite.png';
$popup-button-close: (776px, 244px, -776px, -244px, 54px, 64px, 836px, 796px, '../images/sprite.png', 'popup-button-close', );
$popup-button-ok-name: 'popup-button-ok';
$popup-button-ok-x: 776px;
$popup-button-ok-y: 180px;
$popup-button-ok-offset-x: -776px;
$popup-button-ok-offset-y: -180px;
$popup-button-ok-width: 54px;
$popup-button-ok-height: 64px;
$popup-button-ok-total-width: 836px;
$popup-button-ok-total-height: 796px;
$popup-button-ok-image: '../images/sprite.png';
$popup-button-ok: (776px, 180px, -776px, -180px, 54px, 64px, 836px, 796px, '../images/sprite.png', 'popup-button-ok', );
$previewbuttonoff-name: 'previewbuttonoff';
$previewbuttonoff-x: 429px;
$previewbuttonoff-y: 145px;
$previewbuttonoff-offset-x: -429px;
$previewbuttonoff-offset-y: -145px;
$previewbuttonoff-width: 145px;
$previewbuttonoff-height: 145px;
$previewbuttonoff-total-width: 836px;
$previewbuttonoff-total-height: 796px;
$previewbuttonoff-image: '../images/sprite.png';
$previewbuttonoff: (429px, 145px, -429px, -145px, 145px, 145px, 836px, 796px, '../images/sprite.png', 'previewbuttonoff', );
$previewbuttonon-name: 'previewbuttonon';
$previewbuttonon-x: 0px;
$previewbuttonon-y: 369px;
$previewbuttonon-offset-x: 0px;
$previewbuttonon-offset-y: -369px;
$previewbuttonon-width: 145px;
$previewbuttonon-height: 145px;
$previewbuttonon-total-width: 836px;
$previewbuttonon-total-height: 796px;
$previewbuttonon-image: '../images/sprite.png';
$previewbuttonon: (0px, 369px, 0px, -369px, 145px, 145px, 836px, 796px, '../images/sprite.png', 'previewbuttonon', );
$receipt-list-close-name: 'receipt-list-close';
$receipt-list-close-x: 233px;
$receipt-list-close-y: 337px;
$receipt-list-close-offset-x: -233px;
$receipt-list-close-offset-y: -337px;
$receipt-list-close-width: 26px;
$receipt-list-close-height: 26px;
$receipt-list-close-total-width: 836px;
$receipt-list-close-total-height: 796px;
$receipt-list-close-image: '../images/sprite.png';
$receipt-list-close: (233px, 337px, -233px, -337px, 26px, 26px, 836px, 796px, '../images/sprite.png', 'receipt-list-close', );
$receipt-list-open-name: 'receipt-list-open';
$receipt-list-open-x: 207px;
$receipt-list-open-y: 337px;
$receipt-list-open-offset-x: -207px;
$receipt-list-open-offset-y: -337px;
$receipt-list-open-width: 26px;
$receipt-list-open-height: 26px;
$receipt-list-open-total-width: 836px;
$receipt-list-open-total-height: 796px;
$receipt-list-open-image: '../images/sprite.png';
$receipt-list-open: (207px, 337px, -207px, -337px, 26px, 26px, 836px, 796px, '../images/sprite.png', 'receipt-list-open', );
$receipt-number-name: 'receipt-number';
$receipt-number-x: 352px;
$receipt-number-y: 192px;
$receipt-number-offset-x: -352px;
$receipt-number-offset-y: -192px;
$receipt-number-width: 70px;
$receipt-number-height: 70px;
$receipt-number-total-width: 836px;
$receipt-number-total-height: 796px;
$receipt-number-image: '../images/sprite.png';
$receipt-number: (352px, 192px, -352px, -192px, 70px, 70px, 836px, 796px, '../images/sprite.png', 'receipt-number', );
$receipt-print-name: 'receipt-print';
$receipt-print-x: 776px;
$receipt-print-y: 120px;
$receipt-print-offset-x: -776px;
$receipt-print-offset-y: -120px;
$receipt-print-width: 60px;
$receipt-print-height: 60px;
$receipt-print-total-width: 836px;
$receipt-print-total-height: 796px;
$receipt-print-image: '../images/sprite.png';
$receipt-print: (776px, 120px, -776px, -120px, 60px, 60px, 836px, 796px, '../images/sprite.png', 'receipt-print', );
$receipt-tip-name: 'receipt-tip';
$receipt-tip-x: 776px;
$receipt-tip-y: 308px;
$receipt-tip-offset-x: -776px;
$receipt-tip-offset-y: -308px;
$receipt-tip-width: 55px;
$receipt-tip-height: 55px;
$receipt-tip-total-width: 836px;
$receipt-tip-total-height: 796px;
$receipt-tip-image: '../images/sprite.png';
$receipt-tip: (776px, 308px, -776px, -308px, 55px, 55px, 836px, 796px, '../images/sprite.png', 'receipt-tip', );
$savepen-name: 'savepen';
$savepen-x: 673px;
$savepen-y: 473px;
$savepen-offset-x: -673px;
$savepen-offset-y: -473px;
$savepen-width: 30px;
$savepen-height: 30px;
$savepen-total-width: 836px;
$savepen-total-height: 796px;
$savepen-image: '../images/sprite.png';
$savepen: (673px, 473px, -673px, -473px, 30px, 30px, 836px, 796px, '../images/sprite.png', 'savepen', );
$screen-all-name: 'screen-all';
$screen-all-x: 776px;
$screen-all-y: 60px;
$screen-all-offset-x: -776px;
$screen-all-offset-y: -60px;
$screen-all-width: 60px;
$screen-all-height: 60px;
$screen-all-total-width: 836px;
$screen-all-total-height: 796px;
$screen-all-image: '../images/sprite.png';
$screen-all: (776px, 60px, -776px, -60px, 60px, 60px, 836px, 796px, '../images/sprite.png', 'screen-all', );
$screen-helf-name: 'screen-helf';
$screen-helf-x: 776px;
$screen-helf-y: 0px;
$screen-helf-offset-x: -776px;
$screen-helf-offset-y: 0px;
$screen-helf-width: 60px;
$screen-helf-height: 60px;
$screen-helf-total-width: 836px;
$screen-helf-total-height: 796px;
$screen-helf-image: '../images/sprite.png';
$screen-helf: (776px, 0px, -776px, 0px, 60px, 60px, 836px, 796px, '../images/sprite.png', 'screen-helf', );
$search-list-add-name: 'search-list-add';
$search-list-add-x: 594px;
$search-list-add-y: 594px;
$search-list-add-offset-x: -594px;
$search-list-add-offset-y: -594px;
$search-list-add-width: 70px;
$search-list-add-height: 65px;
$search-list-add-total-width: 836px;
$search-list-add-total-height: 796px;
$search-list-add-image: '../images/sprite.png';
$search-list-add: (594px, 594px, -594px, -594px, 70px, 65px, 836px, 796px, '../images/sprite.png', 'search-list-add', );
$search-list-buy-name: 'search-list-buy';
$search-list-buy-x: 524px;
$search-list-buy-y: 594px;
$search-list-buy-offset-x: -524px;
$search-list-buy-offset-y: -594px;
$search-list-buy-width: 70px;
$search-list-buy-height: 65px;
$search-list-buy-total-width: 836px;
$search-list-buy-total-height: 796px;
$search-list-buy-image: '../images/sprite.png';
$search-list-buy: (524px, 594px, -524px, -594px, 70px, 65px, 836px, 796px, '../images/sprite.png', 'search-list-buy', );
$search-list-location-name: 'search-list-location';
$search-list-location-x: 776px;
$search-list-location-y: 688px;
$search-list-location-offset-x: -776px;
$search-list-location-offset-y: -688px;
$search-list-location-width: 44px;
$search-list-location-height: 44px;
$search-list-location-total-width: 836px;
$search-list-location-total-height: 796px;
$search-list-location-image: '../images/sprite.png';
$search-list-location: (776px, 688px, -776px, -688px, 44px, 44px, 836px, 796px, '../images/sprite.png', 'search-list-location', );
$search-list-price-name: 'search-list-price';
$search-list-price-x: 664px;
$search-list-price-y: 393px;
$search-list-price-offset-x: -664px;
$search-list-price-offset-y: -393px;
$search-list-price-width: 44px;
$search-list-price-height: 44px;
$search-list-price-total-width: 836px;
$search-list-price-total-height: 796px;
$search-list-price-image: '../images/sprite.png';
$search-list-price: (664px, 393px, -664px, -393px, 44px, 44px, 836px, 796px, '../images/sprite.png', 'search-list-price', );
$search-list-saletag-name: 'search-list-saletag';
$search-list-saletag-x: 574px;
$search-list-saletag-y: 473px;
$search-list-saletag-offset-x: -574px;
$search-list-saletag-offset-y: -473px;
$search-list-saletag-width: 69px;
$search-list-saletag-height: 36px;
$search-list-saletag-total-width: 836px;
$search-list-saletag-total-height: 796px;
$search-list-saletag-image: '../images/sprite.png';
$search-list-saletag: (574px, 473px, -574px, -473px, 69px, 36px, 836px, 796px, '../images/sprite.png', 'search-list-saletag', );
$search-list-time-name: 'search-list-time';
$search-list-time-x: 664px;
$search-list-time-y: 313px;
$search-list-time-offset-x: -664px;
$search-list-time-offset-y: -313px;
$search-list-time-width: 44px;
$search-list-time-height: 44px;
$search-list-time-total-width: 836px;
$search-list-time-total-height: 796px;
$search-list-time-image: '../images/sprite.png';
$search-list-time: (664px, 313px, -664px, -313px, 44px, 44px, 836px, 796px, '../images/sprite.png', 'search-list-time', );
$shoppingcar-name: 'shoppingcar';
$shoppingcar-x: 162px;
$shoppingcar-y: 594px;
$shoppingcar-offset-x: -162px;
$shoppingcar-offset-y: -594px;
$shoppingcar-width: 86px;
$shoppingcar-height: 73px;
$shoppingcar-total-width: 836px;
$shoppingcar-total-height: 796px;
$shoppingcar-image: '../images/sprite.png';
$shoppingcar: (162px, 594px, -162px, -594px, 86px, 73px, 836px, 796px, '../images/sprite.png', 'shoppingcar', );
$smart-icon-class-name: 'smart-icon-class';
$smart-icon-class-x: 413px;
$smart-icon-class-y: 369px;
$smart-icon-class-offset-x: -413px;
$smart-icon-class-offset-y: -369px;
$smart-icon-class-width: 134px;
$smart-icon-class-height: 134px;
$smart-icon-class-total-width: 836px;
$smart-icon-class-total-height: 796px;
$smart-icon-class-image: '../images/sprite.png';
$smart-icon-class: (413px, 369px, -413px, -369px, 134px, 134px, 836px, 796px, '../images/sprite.png', 'smart-icon-class', );
$smart-icon-classlociton-name: 'smart-icon-classlociton';
$smart-icon-classlociton-x: 279px;
$smart-icon-classlociton-y: 369px;
$smart-icon-classlociton-offset-x: -279px;
$smart-icon-classlociton-offset-y: -369px;
$smart-icon-classlociton-width: 134px;
$smart-icon-classlociton-height: 134px;
$smart-icon-classlociton-total-width: 836px;
$smart-icon-classlociton-total-height: 796px;
$smart-icon-classlociton-image: '../images/sprite.png';
$smart-icon-classlociton: (279px, 369px, -279px, -369px, 134px, 134px, 836px, 796px, '../images/sprite.png', 'smart-icon-classlociton', );
$smart-icon-form-name: 'smart-icon-form';
$smart-icon-form-x: 145px;
$smart-icon-form-y: 369px;
$smart-icon-form-offset-x: -145px;
$smart-icon-form-offset-y: -369px;
$smart-icon-form-width: 134px;
$smart-icon-form-height: 134px;
$smart-icon-form-total-width: 836px;
$smart-icon-form-total-height: 796px;
$smart-icon-form-image: '../images/sprite.png';
$smart-icon-form: (145px, 369px, -145px, -369px, 134px, 134px, 836px, 796px, '../images/sprite.png', 'smart-icon-form', );
$smart-icon-needpay-name: 'smart-icon-needpay';
$smart-icon-needpay-x: 574px;
$smart-icon-needpay-y: 0px;
$smart-icon-needpay-offset-x: -574px;
$smart-icon-needpay-offset-y: 0px;
$smart-icon-needpay-width: 134px;
$smart-icon-needpay-height: 134px;
$smart-icon-needpay-total-width: 836px;
$smart-icon-needpay-total-height: 796px;
$smart-icon-needpay-image: '../images/sprite.png';
$smart-icon-needpay: (574px, 0px, -574px, 0px, 134px, 134px, 836px, 796px, '../images/sprite.png', 'smart-icon-needpay', );
$staff001-name: 'staff001';
$staff001-x: 0px;
$staff001-y: 0px;
$staff001-offset-x: 0px;
$staff001-offset-y: 0px;
$staff001-width: 429px;
$staff001-height: 192px;
$staff001-total-width: 836px;
$staff001-total-height: 796px;
$staff001-image: '../images/sprite.png';
$staff001: (0px, 0px, 0px, 0px, 429px, 192px, 836px, 796px, '../images/sprite.png', 'staff001', );
$staffsearch-name: 'staffsearch';
$staffsearch-x: 82px;
$staffsearch-y: 594px;
$staffsearch-offset-x: -82px;
$staffsearch-offset-y: -594px;
$staffsearch-width: 80px;
$staffsearch-height: 80px;
$staffsearch-total-width: 836px;
$staffsearch-total-height: 796px;
$staffsearch-image: '../images/sprite.png';
$staffsearch: (82px, 594px, -82px, -594px, 80px, 80px, 836px, 796px, '../images/sprite.png', 'staffsearch', );
$studylocation-name: 'studylocation';
$studylocation-x: 335px;
$studylocation-y: 676px;
$studylocation-offset-x: -335px;
$studylocation-offset-y: -676px;
$studylocation-width: 42px;
$studylocation-height: 42px;
$studylocation-total-width: 836px;
$studylocation-total-height: 796px;
$studylocation-image: '../images/sprite.png';
$studylocation: (335px, 676px, -335px, -676px, 42px, 42px, 836px, 796px, '../images/sprite.png', 'studylocation', );
$studyteacher-name: 'studyteacher';
$studyteacher-x: 664px;
$studyteacher-y: 594px;
$studyteacher-offset-x: -664px;
$studyteacher-offset-y: -594px;
$studyteacher-width: 42px;
$studyteacher-height: 42px;
$studyteacher-total-width: 836px;
$studyteacher-total-height: 796px;
$studyteacher-image: '../images/sprite.png';
$studyteacher: (664px, 594px, -664px, -594px, 42px, 42px, 836px, 796px, '../images/sprite.png', 'studyteacher', );
$studytime-name: 'studytime';
$studytime-x: 521px;
$studytime-y: 290px;
$studytime-offset-x: -521px;
$studytime-offset-y: -290px;
$studytime-width: 42px;
$studytime-height: 42px;
$studytime-total-width: 836px;
$studytime-total-height: 796px;
$studytime-image: '../images/sprite.png';
$studytime: (521px, 290px, -521px, -290px, 42px, 42px, 836px, 796px, '../images/sprite.png', 'studytime', );
$timenow-name: 'timenow';
$timenow-x: 668px;
$timenow-y: 134px;
$timenow-offset-x: -668px;
$timenow-offset-y: -134px;
$timenow-width: 38px;
$timenow-height: 38px;
$timenow-total-width: 836px;
$timenow-total-height: 796px;
$timenow-image: '../images/sprite.png';
$timenow: (668px, 134px, -668px, -134px, 38px, 38px, 836px, 796px, '../images/sprite.png', 'timenow', );
$timestardown-name: 'timestardown';
$timestardown-x: 521px;
$timestardown-y: 332px;
$timestardown-offset-x: -521px;
$timestardown-offset-y: -332px;
$timestardown-width: 28px;
$timestardown-height: 28px;
$timestardown-total-width: 836px;
$timestardown-total-height: 796px;
$timestardown-image: '../images/sprite.png';
$timestardown: (521px, 332px, -521px, -332px, 28px, 28px, 836px, 796px, '../images/sprite.png', 'timestardown', );
$trash-can-name: 'trash-can';
$trash-can-x: 776px;
$trash-can-y: 457px;
$trash-can-offset-x: -776px;
$trash-can-offset-y: -457px;
$trash-can-width: 48px;
$trash-can-height: 48px;
$trash-can-total-width: 836px;
$trash-can-total-height: 796px;
$trash-can-image: '../images/sprite.png';
$trash-can: (776px, 457px, -776px, -457px, 48px, 48px, 836px, 796px, '../images/sprite.png', 'trash-can', );
$udollar-icon-name: 'udollar-icon';
$udollar-icon-x: 574px;
$udollar-icon-y: 134px;
$udollar-icon-offset-x: -574px;
$udollar-icon-offset-y: -134px;
$udollar-icon-width: 94px;
$udollar-icon-height: 94px;
$udollar-icon-total-width: 836px;
$udollar-icon-total-height: 796px;
$udollar-icon-image: '../images/sprite.png';
$udollar-icon: (574px, 134px, -574px, -134px, 94px, 94px, 836px, 796px, '../images/sprite.png', 'udollar-icon', );
$updownlist-name: 'updownlist';
$updownlist-x: 549px;
$updownlist-y: 332px;
$updownlist-offset-x: -549px;
$updownlist-offset-y: -332px;
$updownlist-width: 25px;
$updownlist-height: 25px;
$updownlist-total-width: 836px;
$updownlist-total-height: 796px;
$updownlist-image: '../images/sprite.png';
$updownlist: (549px, 332px, -549px, -332px, 25px, 25px, 836px, 796px, '../images/sprite.png', 'updownlist', );
$upig-white-l-name: 'upig-white-l';
$upig-white-l-x: 429px;
$upig-white-l-y: 290px;
$upig-white-l-offset-x: -429px;
$upig-white-l-offset-y: -290px;
$upig-white-l-width: 92px;
$upig-white-l-height: 73px;
$upig-white-l-total-width: 836px;
$upig-white-l-total-height: 796px;
$upig-white-l-image: '../images/sprite.png';
$upig-white-l: (429px, 290px, -429px, -290px, 92px, 73px, 836px, 796px, '../images/sprite.png', 'upig-white-l', );
$upig-white-name: 'upig-white';
$upig-white-x: 776px;
$upig-white-y: 411px;
$upig-white-offset-x: -776px;
$upig-white-offset-y: -411px;
$upig-white-width: 52px;
$upig-white-height: 46px;
$upig-white-total-width: 836px;
$upig-white-total-height: 796px;
$upig-white-image: '../images/sprite.png';
$upig-white: (776px, 411px, -776px, -411px, 52px, 46px, 836px, 796px, '../images/sprite.png', 'upig-white', );
$upig-name: 'upig';
$upig-x: 776px;
$upig-y: 363px;
$upig-offset-x: -776px;
$upig-offset-y: -363px;
$upig-width: 54px;
$upig-height: 48px;
$upig-total-width: 836px;
$upig-total-height: 796px;
$upig-image: '../images/sprite.png';
$upig: (776px, 363px, -776px, -363px, 54px, 48px, 836px, 796px, '../images/sprite.png', 'upig', );
$upigadd-name: 'upigadd';
$upigadd-x: 669px;
$upigadd-y: 228px;
$upigadd-offset-x: -669px;
$upigadd-offset-y: -228px;
$upigadd-width: 32px;
$upigadd-height: 32px;
$upigadd-total-width: 836px;
$upigadd-total-height: 796px;
$upigadd-image: '../images/sprite.png';
$upigadd: (669px, 228px, -669px, -228px, 32px, 32px, 836px, 796px, '../images/sprite.png', 'upigadd', );
$windowsclose-name: 'windowsclose';
$windowsclose-x: 668px;
$windowsclose-y: 172px;
$windowsclose-offset-x: -668px;
$windowsclose-offset-y: -172px;
$windowsclose-width: 34px;
$windowsclose-height: 34px;
$windowsclose-total-width: 836px;
$windowsclose-total-height: 796px;
$windowsclose-image: '../images/sprite.png';
$windowsclose: (668px, 172px, -668px, -172px, 34px, 34px, 836px, 796px, '../images/sprite.png', 'windowsclose', );
$spritesheet-width: 836px;
$spritesheet-height: 796px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($-button-atm, $-button-cash, $-button-credit-card, $-button-goback, $-drop-down, $advisory-down-w, $advisory-down, $advisoryadd, $atm-check, $chat, $class-number, $edit-close, $edit-ok, $editmore-w, $editmore, $list-close, $list-open, $mailto, $mysearch, $order-a-01, $order-a-02, $order-b-01, $order-b-02, $order-button-add-n, $order-button-add, $order-button-d, $order-button-like, $order-button4-1, $order-button4-2, $order-button4-2-png, $order-button4-3, $order-button4-3-png, $order-button4-4, $order-button4-4-png, $order-button4-5, $order-button4-6, $order-button4-7, $order-button4-8, $order-c-01, $order-d-01, $order-d-02, $order-e-01, $order-e-02, $playbn-close, $playbn-ok, $playbuttonoff, $playbuttonon, $pointmark, $popup-button-close, $popup-button-ok, $previewbuttonoff, $previewbuttonon, $receipt-list-close, $receipt-list-open, $receipt-number, $receipt-print, $receipt-tip, $savepen, $screen-all, $screen-helf, $search-list-add, $search-list-buy, $search-list-location, $search-list-price, $search-list-saletag, $search-list-time, $shoppingcar, $smart-icon-class, $smart-icon-classlociton, $smart-icon-form, $smart-icon-needpay, $staff001, $staffsearch, $studylocation, $studyteacher, $studytime, $timenow, $timestardown, $trash-can, $udollar-icon, $updownlist, $upig-white-l, $upig-white, $upig, $upigadd, $windowsclose, );
$spritesheet: (836px, 796px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
