.icon {
  display: inline-block;
  overflow: hidden; }

.icon-Button-atm {
  background-image: url(../images/sprite.png);
  background-position: -432px -594px;
  width: 92px;
  height: 67px; }

.icon-Button-cash {
  background-image: url(../images/sprite.png);
  background-position: -574px -228px;
  width: 95px;
  height: 85px; }

.icon-Button-credit-card {
  background-image: url(../images/sprite.png);
  background-position: -340px -594px;
  width: 92px;
  height: 67px; }

.icon-Button-goback {
  background-image: url(../images/sprite.png);
  background-position: -248px -594px;
  width: 92px;
  height: 67px; }

.icon-Drop-down {
  background-image: url(../images/sprite.png);
  background-position: -820px -688px;
  width: 16px;
  height: 9px; }

.icon-advisory-down-w {
  background-image: url(../images/sprite.png);
  background-position: -669px -289px;
  width: 28px;
  height: 15px; }

.icon-advisory-down {
  background-image: url(../images/sprite.png);
  background-position: -708px -653px;
  width: 28px;
  height: 15px; }

.icon-advisoryadd {
  background-image: url(../images/sprite.png);
  background-position: 0px -741px;
  width: 65px;
  height: 55px; }

.icon-atm-check {
  background-image: url(../images/sprite.png);
  background-position: 0px -594px;
  width: 82px;
  height: 82px; }

.icon-chat {
  background-image: url(../images/sprite.png);
  background-position: -776px -649px;
  width: 58px;
  height: 39px; }

.icon-class-number {
  background-image: url(../images/sprite.png);
  background-position: -352px -262px;
  width: 70px;
  height: 70px; }

.icon-edit-close {
  background-image: url(../images/sprite.png);
  background-position: -708px -133px;
  width: 65px;
  height: 65px; }

.icon-edit-ok {
  background-image: url(../images/sprite.png);
  background-position: -708px -588px;
  width: 65px;
  height: 65px; }

.icon-editmore-w {
  background-image: url(../images/sprite.png);
  background-position: -668px -206px;
  width: 35px;
  height: 12px; }

.icon-editmore {
  background-image: url(../images/sprite.png);
  background-position: -736px -653px;
  width: 35px;
  height: 12px; }

.icon-list-close {
  background-image: url(../images/sprite.png);
  background-position: -643px -473px;
  width: 30px;
  height: 30px; }

.icon-list-open {
  background-image: url(../images/sprite.png);
  background-position: -664px -357px;
  width: 30px;
  height: 30px; }

.icon-mailto {
  background-image: url(../images/sprite.png);
  background-position: -260px -676px;
  width: 75px;
  height: 50px; }

.icon-mysearch {
  background-image: url(../images/sprite.png);
  background-position: 0px -192px;
  width: 207px;
  height: 177px; }

.icon-order-a-01 {
  background-image: url(../images/sprite.png);
  background-position: -270px -514px;
  width: 90px;
  height: 80px; }

.icon-order-a-02 {
  background-image: url(../images/sprite.png);
  background-position: -360px -514px;
  width: 90px;
  height: 80px; }

.icon-order-b-01 {
  background-image: url(../images/sprite.png);
  background-position: -450px -514px;
  width: 90px;
  height: 80px; }

.icon-order-b-02 {
  background-image: url(../images/sprite.png);
  background-position: -540px -514px;
  width: 90px;
  height: 80px; }

.icon-order-button-add-n {
  background-image: url(../images/sprite.png);
  background-position: -776px -505px;
  width: 48px;
  height: 48px; }

.icon-order-button-add {
  background-image: url(../images/sprite.png);
  background-position: -776px -601px;
  width: 48px;
  height: 48px; }

.icon-order-button-d {
  background-image: url(../images/sprite.png);
  background-position: -776px -553px;
  width: 48px;
  height: 48px; }

.icon-order-button-like {
  background-image: url(../images/sprite.png);
  background-position: -669px -260px;
  width: 34px;
  height: 29px; }

.icon-order-button4-1 {
  background-image: url(../images/sprite.png);
  background-position: 0px -676px;
  width: 65px;
  height: 65px; }

.icon-order-button4-2 {
  background-image: url(../images/sprite.png);
  background-position: -708px -523px;
  width: 65px;
  height: 65px; }

.icon-order-button4-2.png {
  background-image: url(../images/sprite.png);
  background-position: -708px -458px;
  width: 65px;
  height: 65px; }

.icon-order-button4-3 {
  background-image: url(../images/sprite.png);
  background-position: -708px -393px;
  width: 65px;
  height: 65px; }

.icon-order-button4-3.png {
  background-image: url(../images/sprite.png);
  background-position: -708px -328px;
  width: 65px;
  height: 65px; }

.icon-order-button4-4 {
  background-image: url(../images/sprite.png);
  background-position: -708px -263px;
  width: 65px;
  height: 65px; }

.icon-order-button4-4.png {
  background-image: url(../images/sprite.png);
  background-position: -708px -68px;
  width: 65px;
  height: 65px; }

.icon-order-button4-5 {
  background-image: url(../images/sprite.png);
  background-position: -195px -676px;
  width: 65px;
  height: 65px; }

.icon-order-button4-6 {
  background-image: url(../images/sprite.png);
  background-position: -130px -676px;
  width: 65px;
  height: 65px; }

.icon-order-button4-7 {
  background-image: url(../images/sprite.png);
  background-position: -65px -676px;
  width: 65px;
  height: 65px; }

.icon-order-button4-8 {
  background-image: url(../images/sprite.png);
  background-position: -708px -198px;
  width: 65px;
  height: 65px; }

.icon-order-c-01 {
  background-image: url(../images/sprite.png);
  background-position: -574px -393px;
  width: 90px;
  height: 80px; }

.icon-order-d-01 {
  background-image: url(../images/sprite.png);
  background-position: -180px -514px;
  width: 90px;
  height: 80px; }

.icon-order-d-02 {
  background-image: url(../images/sprite.png);
  background-position: 0px -514px;
  width: 90px;
  height: 80px; }

.icon-order-e-01 {
  background-image: url(../images/sprite.png);
  background-position: -90px -514px;
  width: 90px;
  height: 80px; }

.icon-order-e-02 {
  background-image: url(../images/sprite.png);
  background-position: -574px -313px;
  width: 90px;
  height: 80px; }

.icon-playbn-close {
  background-image: url(../images/sprite.png);
  background-position: -708px 0px;
  width: 68px;
  height: 68px; }

.icon-playbn-ok {
  background-image: url(../images/sprite.png);
  background-position: -630px -514px;
  width: 68px;
  height: 68px; }

.icon-playbuttonoff {
  background-image: url(../images/sprite.png);
  background-position: -207px -192px;
  width: 145px;
  height: 145px; }

.icon-playbuttonon {
  background-image: url(../images/sprite.png);
  background-position: -429px 0px;
  width: 145px;
  height: 145px; }

.icon-pointmark {
  background-image: url(../images/sprite.png);
  background-position: -664px -437px;
  width: 30px;
  height: 30px; }

.icon-popup-button-close {
  background-image: url(../images/sprite.png);
  background-position: -776px -244px;
  width: 54px;
  height: 64px; }

.icon-popup-button-ok {
  background-image: url(../images/sprite.png);
  background-position: -776px -180px;
  width: 54px;
  height: 64px; }

.icon-previewbuttonoff {
  background-image: url(../images/sprite.png);
  background-position: -429px -145px;
  width: 145px;
  height: 145px; }

.icon-previewbuttonon {
  background-image: url(../images/sprite.png);
  background-position: 0px -369px;
  width: 145px;
  height: 145px; }

.icon-receipt-list-close {
  background-image: url(../images/sprite.png);
  background-position: -233px -337px;
  width: 26px;
  height: 26px; }

.icon-receipt-list-open {
  background-image: url(../images/sprite.png);
  background-position: -207px -337px;
  width: 26px;
  height: 26px; }

.icon-receipt-number {
  background-image: url(../images/sprite.png);
  background-position: -352px -192px;
  width: 70px;
  height: 70px; }

.icon-receipt-print {
  background-image: url(../images/sprite.png);
  background-position: -776px -120px;
  width: 60px;
  height: 60px; }

.icon-receipt-tip {
  background-image: url(../images/sprite.png);
  background-position: -776px -308px;
  width: 55px;
  height: 55px; }

.icon-savepen {
  background-image: url(../images/sprite.png);
  background-position: -673px -473px;
  width: 30px;
  height: 30px; }

.icon-screen-all {
  background-image: url(../images/sprite.png);
  background-position: -776px -60px;
  width: 60px;
  height: 60px; }

.icon-screen-helf {
  background-image: url(../images/sprite.png);
  background-position: -776px 0px;
  width: 60px;
  height: 60px; }

.icon-search-list-add {
  background-image: url(../images/sprite.png);
  background-position: -594px -594px;
  width: 70px;
  height: 65px; }

.icon-search-list-buy {
  background-image: url(../images/sprite.png);
  background-position: -524px -594px;
  width: 70px;
  height: 65px; }

.icon-search-list-location {
  background-image: url(../images/sprite.png);
  background-position: -776px -688px;
  width: 44px;
  height: 44px; }

.icon-search-list-price {
  background-image: url(../images/sprite.png);
  background-position: -664px -393px;
  width: 44px;
  height: 44px; }

.icon-search-list-saletag {
  background-image: url(../images/sprite.png);
  background-position: -574px -473px;
  width: 69px;
  height: 36px; }

.icon-search-list-time {
  background-image: url(../images/sprite.png);
  background-position: -664px -313px;
  width: 44px;
  height: 44px; }

.icon-shoppingcar {
  background-image: url(../images/sprite.png);
  background-position: -162px -594px;
  width: 86px;
  height: 73px; }

.icon-smart-icon-class {
  background-image: url(../images/sprite.png);
  background-position: -413px -369px;
  width: 134px;
  height: 134px; }

.icon-smart-icon-classlociton {
  background-image: url(../images/sprite.png);
  background-position: -279px -369px;
  width: 134px;
  height: 134px; }

.icon-smart-icon-form {
  background-image: url(../images/sprite.png);
  background-position: -145px -369px;
  width: 134px;
  height: 134px; }

.icon-smart-icon-needpay {
  background-image: url(../images/sprite.png);
  background-position: -574px 0px;
  width: 134px;
  height: 134px; }

.icon-staff001 {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 429px;
  height: 192px; }

.icon-staffsearch {
  background-image: url(../images/sprite.png);
  background-position: -82px -594px;
  width: 80px;
  height: 80px; }

.icon-studylocation {
  background-image: url(../images/sprite.png);
  background-position: -335px -676px;
  width: 42px;
  height: 42px; }

.icon-studyteacher {
  background-image: url(../images/sprite.png);
  background-position: -664px -594px;
  width: 42px;
  height: 42px; }

.icon-studytime {
  background-image: url(../images/sprite.png);
  background-position: -521px -290px;
  width: 42px;
  height: 42px; }

.icon-timenow {
  background-image: url(../images/sprite.png);
  background-position: -668px -134px;
  width: 38px;
  height: 38px; }

.icon-timestardown {
  background-image: url(../images/sprite.png);
  background-position: -521px -332px;
  width: 28px;
  height: 28px; }

.icon-trash-can {
  background-image: url(../images/sprite.png);
  background-position: -776px -457px;
  width: 48px;
  height: 48px; }

.icon-udollar-icon {
  background-image: url(../images/sprite.png);
  background-position: -574px -134px;
  width: 94px;
  height: 94px; }

.icon-updownlist {
  background-image: url(../images/sprite.png);
  background-position: -549px -332px;
  width: 25px;
  height: 25px; }

.icon-upig-white-l {
  background-image: url(../images/sprite.png);
  background-position: -429px -290px;
  width: 92px;
  height: 73px; }

.icon-upig-white {
  background-image: url(../images/sprite.png);
  background-position: -776px -411px;
  width: 52px;
  height: 46px; }

.icon-upig {
  background-image: url(../images/sprite.png);
  background-position: -776px -363px;
  width: 54px;
  height: 48px; }

.icon-upigadd {
  background-image: url(../images/sprite.png);
  background-position: -669px -228px;
  width: 32px;
  height: 32px; }

.icon-windowsclose {
  background-image: url(../images/sprite.png);
  background-position: -668px -172px;
  width: 34px;
  height: 34px; }
