* {
  font-size: 33px; }

a {
  color: #ffffff; }

.pages {
  background-color: #ffffff; }
  .pages .page {
    background-color: #ffffff; }
    .pages .page.page-center .page-content {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      margin-left: auto;
      margin-right: auto; }

.content-block-title {
  color: #ffffff; }

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 31px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 50px; }
  .btn.btn-default {
    color: #fff; }
  .btn.btn-danger {
    color: #1871c0;
    background-color: #ffffff !important;
    border-color: #ffffff !important; }

.text {
  color: #ffffff; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #AFD4F1; }

.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-top: 1px; }
  .btn-group .btn {
    position: relative;
    float: left;
    outline: none !important;
    padding: 20px 40px;
    background-color: transparent;
    border: 4px solid #ffffff;
    margin-left: 0;
    margin-right: 0;
    border-radius: 16px; }
    .btn-group .btn:not(:first-child):not(:last-child) {
      border-radius: 0;
      border-left: 0;
      border-right: 0; }
    .btn-group .btn:first-child {
      margin-left: 0; }
      .btn-group .btn:first-child:not(:last-child) {
        border-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0; }
    .btn-group .btn:last-child:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: 0; }

.radio-group .radio-item {
  display: inline-block;
  margin-right: 35px; }
  .radio-group .radio-item:last-child {
    margin-right: 0; }
  .radio-group .radio-item input {
    display: none; }
  .radio-group .radio-item label {
    font-size: 36px;
    color: #ffffff;
    display: inline-block;
    padding: 0 20px 0 15px; }
  .radio-group .radio-item label:before {
    content: '';
    display: inline-block;
    position: relative;
    top: 5px;
    background: #dddddd;
    height: 30px;
    width: 30px;
    margin-top: 3px;
    margin-right: 12px;
    border-radius: 80%;
    box-shadow: 0px 1px 0 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border: 6px solid #ffffff;
    transition: background-color .3s ease; }
  .radio-group .radio-item input:checked + label:before {
    background: #00496f;
    border-color: #fff;
    border-width: 6px; }
  .radio-group .radio-item input + label {
    transition: color .7s ease; }

.loading-spinner.backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 13000;
  visibility: hidden;
  opacity: 0;
  -webkit-transition-duration: .4s;
  transition-duration: .4s; }
  .loading-spinner.backdrop.visible {
    visibility: visible;
    opacity: 1; }
  .loading-spinner.backdrop .spinner-container, .loading-spinner.backdrop .spinner {
    position: absolute; }
  .loading-spinner.backdrop .spinner-container {
    width: 100px;
    height: 100px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }

.datetime {
  position: absolute;
  top: 58px;
  left: 58px;
  font-size: 31px;
  color: #ffffff;
  z-index: 9999999; }

.login-view {
  height: 100%;
  padding-left: 58px;
  padding-right: 58px;
  padding-top: 490px; }
  .login-view.page {
    background-color: #1871c0; }
  .login-view .login-title {
    color: #ffffff;
    font-size: 66px;
    margin-top: 20px; }
  .login-view .btn-group {
    margin-top: 50px; }
    .login-view .btn-group .btn {
      font-size: 36px; }
  .login-view .submit-btn {
    color: #1871c0;
    width: 785px;
    height: 85px;
    margin-top: 35px;
    background-color: #ffffff;
    -webkit-appearance: none; }
  .login-view .radio-group {
    margin-top: 35px;
    margin-bottom: 40px; }
  .login-view .text {
    font-size: 31px;
    border: 1px solid #ffffff;
    background-color: #1871c0;
    border-radius: 50px;
    padding: 16px 30px;
    width: 718px;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif; }
  .login-view .link {
    display: inline-block;
    margin-top: 20px;
    padding: 30px; }

.person_header {
  width: 2730px;
  height: 550px;
  margin: 0 auto;
  overflow: hidden;
  border-bottom: 1px solid #cccccc; }
  .person_header .person_card {
    position: relative;
    float: left;
    height: 100%;
    width: 910px; }
    .person_header .person_card .p_basetitle_div {
      display: inline-block;
      width: 100%;
      margin-top: 50px; }
      .person_header .person_card .p_basetitle_div .p_bt_title {
        font-size: 24px;
        color: #adadad;
        float: left;
        padding-left: 30px; }
      .person_header .person_card .p_basetitle_div .p_bt_more {
        font-size: 24px;
        color: #adadad;
        float: right;
        padding-right: 30px;
        width: 35px; }
    .person_header .person_card .person_content_div {
      position: relative;
      display: inline-block;
      width: 100%;
      margin-top: 25px; }
      .person_header .person_card .person_content_div .p_type {
        position: relative;
        float: left;
        width: 185px;
        height: 185px;
        border-radius: 50%;
        background-color: #1871c0;
        margin-left: 90px;
        /*span > img{
					width: 30px;
					height: auto;
				}*/ }
        .person_header .person_card .person_content_div .p_type .p_type_name {
          font-size: 50px;
          color: #ffffff;
          letter-spacing: 14px;
          line-height: 60px;
          padding: 30px 0px 0px 12px;
          height: 120px;
          width: 185px;
          display: table-cell;
          vertical-align: middle;
          text-align: center; }
        .person_header .person_card .person_content_div .p_type span {
          position: absolute;
          height: 36px;
          width: 30px;
          background-color: #fcee21;
          border-radius: 50%;
          top: 8px;
          right: 0px;
          font-size: 12px;
          text-align: center;
          letter-spacing: 0px !important;
          padding: 0px 5px 0px 5px; }
      .person_header .person_card .person_content_div .p_content {
        position: relative;
        float: left; }
        .person_header .person_card .person_content_div .p_content .p_ct_id {
          margin: 35px 0px 0px 25px;
          font-size: 31px;
          color: #575756;
          text-align: left; }
          .person_header .person_card .person_content_div .p_content .p_ct_id span {
            margin-left: 20px;
            font-size: 24px;
            color: #ff0000; }
        .person_header .person_card .person_content_div .p_content .p_ct_name_div {
          position: relative;
          float: left;
          margin: 0px 0px 0px 20px; }
          .person_header .person_card .person_content_div .p_content .p_ct_name_div .ct_name {
            position: relative;
            float: left;
            font-size: 73px;
            color: #1d1d1b; }
          .person_header .person_card .person_content_div .p_content .p_ct_name_div .ct_name_sex {
            position: relative;
            float: left;
            font-size: 28px;
            color: #1d1d1b;
            margin: 50px 15px 0px 20px; }
          .person_header .person_card .person_content_div .p_content .p_ct_name_div .p_ct_dollor {
            position: relative;
            float: left;
            background-color: #eef2f6;
            border-radius: 50px;
            margin-top: 20px;
            padding: 10px 10px 5px 10px; }
            .person_header .person_card .person_content_div .p_content .p_ct_name_div .p_ct_dollor .icon-upig {
              width: 54px;
              height: 48px; }
            .person_header .person_card .person_content_div .p_content .p_ct_name_div .p_ct_dollor .ct_price {
              font-size: 28px;
              color: #1871c0;
              vertical-align: super;
              margin: 0px 10px 0px 10px; }
            .person_header .person_card .person_content_div .p_content .p_ct_name_div .p_ct_dollor .ct_add {
              position: absolute;
              top: -10px;
              right: -10px;
              font-size: 28px;
              width: 32px;
              height: 32px;
              border-radius: 18px;
              color: #ffffff;
              background-color: #1871c0;
              vertical-align: super;
              text-align: center; }
    .person_header .person_card .p_phone_div, .person_header .person_card .p_mail_div {
      clear: both;
      float: left;
      position: relative;
      display: table;
      width: 70%;
      margin-top: 20px;
      margin-left: 140px;
      padding: 10px 0px 0px 0px;
      vertical-align: super; }
    .person_header .person_card .p_phone_div > span:first-child, .person_header .person_card .p_mail_div > span:first-child {
      font-size: 24px;
      color: #1871c0;
      float: left;
      line-height: 40px;
      margin: 3px 10px 0px 15px; }
    .person_header .person_card .p_phone_div > div, .person_header .person_card .p_mail_div > div {
      font-size: 36px;
      line-height: 45px;
      color: #4d4d4d;
      float: left;
      height: 45px;
      width: 460px;
      text-align: justify;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-right: 10px;
      text-overflow: ellipsis; }
    .person_header .person_card .p_mail_div {
      background-color: #eef2f6;
      border-radius: 40px; }
      .person_header .person_card .p_mail_div .p_mail_icon {
        display: table;
        width: 75px;
        height: 50px; }
  .person_header .person_hsider {
    position: relative;
    float: left;
    display: block;
    height: 100%;
    width: 1819px;
    text-align: initial;
    overflow: hidden;
    background-color: #eef2f6;
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc; }
    .person_header .person_hsider .hsider_t {
      font-size: 24px;
      color: #adadad;
      padding: 30px 0px 0px 20px; }
    .person_header .person_hsider .hsider_div {
      /*display: -webkit-box;*/
      width: 1800px;
      height: 480px;
      overflow-x: scroll;
      overflow-y: hidden; }
      .person_header .person_hsider .hsider_div ul {
        display: inline-flex; }
      .person_header .person_hsider .hsider_div ul li {
        list-style-type: none;
        margin: 0px 15px 0px 15px; }
      .person_header .person_hsider .hsider_div .hsider_item_div {
        display: block;
        position: relative;
        float: left;
        height: 406px;
        width: 493px;
        background-color: #ffffff; }
        .person_header .person_hsider .hsider_div .hsider_item_div .hsider_item_more {
          position: relative;
          float: left;
          width: 100%; }
        .person_header .person_hsider .hsider_div .hsider_item_div .hsider_item_more .icon {
          float: right;
          margin: 20px 10px 20px 0px; }
        .person_header .person_hsider .hsider_div .hsider_item_div .hsider_item_icon {
          position: relative;
          width: 100%;
          height: 170px;
          display: inline-flex; }
          .person_header .person_hsider .hsider_div .hsider_item_div .hsider_item_icon .icon {
            margin: 0 auto;
            margin-top: 20px;
            margin-bottom: 20px;
            max-width: 134px; }
        .person_header .person_hsider .hsider_div .hsider_item_div .hsider_item_status {
          position: relative;
          width: 100%;
          text-align: center;
          font-size: 24px;
          color: #736357; }
        .person_header .person_hsider .hsider_div .hsider_item_div .hsider_item_detail {
          font-size: 28px;
          color: #808080;
          margin-top: 30px;
          line-height: 36px;
          height: 75px;
          padding: 0px 40px 0px 40px;
          text-align: justify;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden; }
        .person_header .person_hsider .hsider_div .hsider_item_div .hs_has_class {
          -webkit-line-clamp: 1;
          height: 38px; }
        .person_header .person_hsider .hsider_div .hsider_item_div .hsider_item_room .hs_local {
          color: #1871c0;
          font-size: 28px;
          background-color: #ffffff;
          border-radius: 20px;
          padding: 5px 10px 5px 10px;
          margin-left: 40px; }
        .person_header .person_hsider .hsider_div .hsider_item_div .hsider_item_room .hs_classroom {
          color: #ffffff;
          font-size: 35px; }
      .person_header .person_hsider .hsider_div .item_bg_blue {
        background-color: #1871c0; }
        .person_header .person_hsider .hsider_div .item_bg_blue .hsider_item_status {
          color: #ffffff; }
        .person_header .person_hsider .hsider_div .item_bg_blue .hsider_item_detail {
          font-size: 28px;
          color: #ffffff;
          margin-top: 30px;
          line-height: 36px;
          padding: 0px 40px 0px 40px;
          text-align: justify;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden; }

.person_order {
  background-color: #eef2f6; }
  .person_order .od_title_div {
    position: relative;
    display: inline-block;
    width: 100%; }
    .person_order .od_title_div .od_title {
      position: relative;
      width: auto;
      float: left;
      margin: 30px;
      font-size: 24px;
      line-height: 30px;
      color: #adadad; }
    .person_order .od_title_div .od_more {
      position: relative;
      width: auto;
      float: right;
      margin: 30px; }
