$this-order-blue: $order-blue;
$this-pay-green: $pay-green;
$this-history-pinky: $history-pinky;
$this-contact-violet: $contact-violet;

.person_order{
	background-color: #eef2f6;
	width: 2730px;
	margin: 0 auto;
	padding-bottom: 120px;

	.od_title_div{
			position: relative;
			display: inline-block;
			width: 100%;
		.od_title{
			position: relative;
			width: auto;
			float: left;
			margin: 30px;
			font-size: 24px;
			line-height: 46px;
			color: #adadad;
		}
		.od_more{
			position: relative;
			width: auto;
			float: right;
			margin: 30px;
		}
		.od_more .icon{
			width: 35px;
		}
	}

	.or_tab{
		width: 2462px;
		margin: 0 auto;
		background-color: #2f3143;
		display: table;
		.or_tab_left{
			position: relative;
			float: left;
			.or_tab_hide{
				color: #6e6f7c;
			}
		}
		.or_tab_right{
			position: relative;
			float: right;
			.or_tab_hide{
				color: #6e6f7c;
			}
		}
		.or_tab_left ul, .or_tab_right ul{
			display: inline-block;
			margin-top: 20px;
			margin-bottom: 15px;
		}
		.or_tab_left ul li, .or_tab_right ul li{
			margin-right: 50px;
		}
		.or_tab_left ul li .icon, .or_tab_right ul li .icon{
			width: 90px;
		}
		.or_tab_left ul li, .or_tab_right ul li, .or_tab_left ul li > div, .or_tab_right ul li > div{
			display: block;
			position: relative;
			float: left;
			font-size: 38px;
			line-height: 80px;
			color: #ffffff;
			letter-spacing: 2px;
		}
	}

	/* order list */
	.or_list_div{
		width: 2462px;
		margin: 0 auto;
		background-color: #ffffff;
		display: table;
		.or_list_t{
			width: 95%;
			margin: 0 auto;
			margin-top: 20px;
			text-align: left;
			font-size: 42px;
			color: $this-order-blue;
			font-weight: 600;
			line-height: 80px;
			text-indent: 20px;
			border-bottom: 4px solid $this-order-blue;
		}
	}

	.or_list{
		width: 95%;
		margin: 0 auto;
		display: inline-block;
		ul{
			padding: 0px;
		}
		.or_list_name{
			display: inline-block;
			border-bottom: 1px solid #cccccc; 
			width: 100%;
			padding-bottom: 5px;
			.or_name_left{
				position: relative;
				float: left;
				span:first-child{
					margin-left: 20px;
				}
				span{
					line-height: 50px;
					font-size: 24px;
				}
				.or_list_id{
					background-color: #ececec;
					padding: 2px 10px 2px 10px;
				}
				.or_list_s{
					color: $this-order-blue;
				}
				.or_list_status{
					color: #ffffff;
					background-color: $this-order-blue;
					padding: 2px 10px 2px 10px;
				}
			}
			.or_name_right{
				position: relative;
				float: right;
				margin-right: 40px;
			}
		}
		.or_list_detail{
			position: relative;
			display: inline-block;
			.cls_preview_icon{
				position: absolute;
				right: -130px;
				top: 60px;
			}
			.cls_push_icon{
				position: absolute;
				right: -130px;
				top: 240px;
			}
			.or_ft_t{
				text-align: left;
				font-size: 24px;
				color: #575756;
				padding-left: 20px;
				margin: 20px 0px 15px 0px;
			}
			.or_ft_div{
				display: inline-block;
				width: 100%;
				border-bottom: 1px solid #cccccc;
				padding-bottom: 30px;
				.or_ft_left{
					position: relative;
					float: left;
					width: 70%;
					a{
						display: block;
						color: #1d1d1b;
						font-size: 40px;
						text-align: left;
						padding-left: 20px;
					}
				}
				.or_ft_right{
					position: relative;
					float: right;
					width: 28%;
					font-size: 40px;
					color: #1871c0;
					text-align: right;
					padding-right: 30px;
				}
			}
			.or_class_owner{
				margin: 20px 0px 15px 0px;
				padding-left: 20px;
				display: inline-block;
				width: 100%;
				.or_owner_left{
					position: relative;
					float: left;
					span{
						font-size: 24px;
						color: #575756;
					}
					.or_owner_email{
						font-size: 24px;
						color: #575756;
					}
				}
				.or_owner_right{
					position: relative;
					float: right;
					margin-right: 40px;
					span{
						font-size: 24px;
						color: #575756;
					}
				}
			}
			.or_material_div{
				margin: 10px 0px 10px 0px;
				padding-left: 20px;
				display: inline-block;
				width: 100%;
				.or_material_t{
					position: relative;
					float: left;
					font-size: 40px;
					color: #1d1d1b;
				}
				.or_material_price{
					position: relative;
					float: right;
					margin-right: 40px;
					font-size: 40px;
					color: #1871c0;
					padding-right: 10px;
				}
			}
			.or_class_title{
				margin: 0px 0px 10px 0px;
				padding-left: 20px;
				display: inline-block;
				width: 100%;
				.or_class_name{
					position: relative;
					float: left;
					font-size: 40px;
					color: #1d1d1d;
					width: 70%;
					text-align: left;
				}
				.or_class_price{
					position: relative;
					float: left;
					width: 28%;
					font-size: 40px;
					color: $this-order-blue;
					text-align: right;
					padding-right: 20px;
				}
			}
			.or_class_people{
				margin: 0px 0px 10px 0px;
				padding-left: 20px;
				display: inline-block;
				width: 100%;
				text-align: left;
				font-size: 25px;
				color: #666666;
				.or_class_status{
					font-size: 40px;
					margin-right: 30px;
					line-height: 50px;
				}
				span{
					padding: 0px 5px 0px 5px;
					color: $this-order-blue;
					vertical-align: middle;
				}
			}
			.or_txt_div{
				margin: 0px 0px 10px 0px;
				margin-left: 20px;
				margin-top: 10px;
				width: 78%;
				position: relative;
				float: left;
				.or_txt_detail{
					border: 1px solid #999999;
					text-align: left;
					font-size: 26px;
					color: #575756;
					width: 100%;
					line-height: 34px;
					padding: 20px 170px 20px 20px;
				}
				.or_txt_save{
					position: absolute;
					right: -160px;
					top: 30px;
					background-color: #b3b3b3;
					font-size: 28px;
					color: #ffffff;
					width: 136px;
					line-height: 50px;
					text-align: center;
					border-radius: 25px;
					z-index: 10;
					display: block;
				}
				.or_txt_save_click{
					background-color: $this-order-blue;
				}
			}
			.or_timeline_div{
				margin: 10px 20px 20px 20px;
				position: relative;
				display: inline-block;
				float: left;
				width: 2200px;
				padding-top: 30px;
				height: auto;
				overflow: scroll;
				.or_timeline {
					margin: 0;
					list-style-type: none;
					display: -webkit-box;
					align-items: center;
					justify-content: center;
					float: left;
					width: auto;
					border-top: 8px solid $this-order-blue;
					&:before {
						content: "";
						width: 100%;
						height: 8px;
						background-color: $this-order-blue;
						position: absolute;
						top: 30px;
						left: 0px;
					}
					.li {
						width: 400px;
						display: inline-block;
    					float: left;
						justify-content: center;
						position: relative;
						transition: all 200ms ease-in;
						.or_timeline_status{
							text-align: left;
							margin-top: 20px;
							.or_timeline_t{
								font-size: 24px;
								line-height: 30px;
								color: #575756;
							}
							.or_timeline_no{
								font-size: 24px;
								line-height: 30px;
								color: #1d1d1b;
								background-color: #ececec;
								padding: 2px;
							}
							.or_timeline_method{
								margin-left: 10px;
								border: 1px solid #b3b3b3;
								font-size: 24px;
								padding: 2px 5px;
								line-height: 30px;
								color: #b3b3b3;
								vertical-align: middle;
							}
						}
						.or_timeline_price{
							text-align: left;
							color: $this-order-blue;
							font-size: 40px;
							line-height: 65px;
						}
					}
					.li:before {
						content: "";
						width: 30px;
						height: 30px;
						background-color: $this-order-blue;
						border-radius: 25px;
						border: 1px solid $this-order-blue;
						position: absolute;
						top: -20px;
						left: 0px;
						transition: all 200ms ease-in;
					}
				}
			}
			.or_process_div{
				clear: both;
				position: relative;
				float: left;
				margin: 15px 0px 50px 20px;
				border: 1px solid #999999;
				.or_process_status{
					background-color: #ececec;
					font-size: 60px;
					vertical-align: middle;
					line-height: 190px;
					color: $this-order-blue;
					padding: 0px 90px 0px 80px;
					margin-right: 2px;
					float: left;
					.icon{
						margin-right: 10px;
					}
				}
				.or_process_status:last-child{
					margin-right: 0px;
				}
			}
		}
	}

	/* to pay list */
	.tp_list_div{
		width: 2462px;
		margin: 0 auto;
		background-color: #ffffff;
		display: table;
		.tp_list_t{
			width: 95%;
			margin: 0 auto;
			margin-top: 20px;
			text-align: left;
			font-size: 42px;
			color: $this-pay-green;
			font-weight: 600;
			line-height: 80px;
			text-indent: 20px;
			border-bottom: 4px solid $this-pay-green;
		}
	}

	.tp_list{
		width: 95%;
		margin: 0 auto;
		display: inline-block;
		ul{
			padding: 0px;
		}
		.tp_list_name{
			display: inline-block;
			border-bottom: 1px solid #cccccc; 
			width: 100%;
			padding-bottom: 5px;
			.tp_name_left{
				position: relative;
				float: left;
				span:first-child{
					margin-left: 20px;
				}
				span{
					line-height: 50px;
					font-size: 24px;
				}
				.tp_list_id{
					background-color: #ececec;
					padding: 2px 10px 2px 10px;
				}
				.tp_list_s{
					color: $this-pay-green;
				}
				.tp_list_status{
					color: #ffffff;
					background-color: $this-pay-green;
					padding: 2px 10px 2px 10px;
				}
			}
			.tp_name_right{
				position: relative;
				float: right;
				margin-right: 40px;
				.tp_now_t{
					font-size: 24px;
					color: $this-pay-green;
					line-height: 50px;
				}
				.tp_now_status{
					font-size: 24px;
					color: #575756;
					line-height: 50px;
				}
				.icon{
					vertical-align: middle;
				}
			}
		}
		.tp_list_detail{
			position: relative;
			display: inline-block;
			.cls_preview_icon{
				position: absolute;
				right: -130px;
				top: 60px;
			}
			.cls_push_icon{
				position: absolute;
				right: -130px;
				top: 240px;
			}
			.tp_class_owner{
				margin: 20px 0px 15px 0px;
				padding-left: 20px;
				display: inline-block;
				width: 100%;
				.tp_owner_left{
					position: relative;
					float: left;
					span{
						font-size: 24px;
						color: #575756;
					}
					.tp_owner_email{
						font-size: 24px;
						color: #575756;
					}
				}
				.tp_owner_right{
					position: relative;
					float: right;
					margin-right: 40px;
					span{
						font-size: 24px;
						color: #575756;
					}
				}
			}
			.tp_class_title{
				margin: 0px 0px 10px 0px;
				padding-left: 20px;
				display: inline-block;
				width: 100%;
				.tp_class_name{
					position: relative;
					float: left;
					font-size: 40px;
					color: #1d1d1d;
					width: 70%;
					text-align: left;
				}
				.tp_class_price{
					position: relative;
					float: left;
					width: 28%;
					font-size: 40px;
					color: $this-pay-green;
					text-align: right;
					padding-right: 20px;
				}
			}
			.tp_class_people{
				margin: 0px 0px 10px 0px;
				padding-left: 20px;
				display: inline-block;
				width: 100%;
				text-align: left;
				font-size: 25px;
				color: #666666;
				.tp_class_status{
					font-size: 40px;
					margin-right: 30px;
					line-height: 50px;
				}
				span{
					padding: 0px 5px 0px 5px;
					color: $this-pay-green;
					vertical-align: middle;
				}
			}
			.tp_txt_div{
				margin: 0px 0px 10px 0px;
				margin-left: 20px;
				margin-top: 10px;
				width: 78%;
				position: relative;
				float: left;
				.tp_txt_detail{
					border: 1px solid #999999;
					text-align: left;
					font-size: 26px;
					color: #575756;
					width: 100%;
					line-height: 34px;
					padding: 20px 170px 20px 20px;
				}
				.tp_txt_save{
					position: absolute;
					right: -160px;
					top: 30px;
					background-color: #b3b3b3;
					font-size: 28px;
					color: #ffffff;
					width: 136px;
					line-height: 50px;
					text-align: center;
					border-radius: 25px;
					z-index: 10;
					display: block;
				}
				.tp_txt_save_click{
					background-color: $this-pay-green;
				}
			}
			.tp_pay_div{
				clear: both;
				position: relative;
				float: left;
				padding-left: 20px;
				text-align: left;
				.tp_pay_t{
					color: #575756;
					font-size: 24px;
				}
				.tp_pay_price{
					color: #ed1c24;
					font-size: 65px;
				}
			}
			.tp_process_div{
				clear: both;
				position: relative;
				float: left;
				margin: 15px 0px 50px 20px;
				border: 1px solid #999999;
				.tp_process_status{
					background-color: #ececec;
					font-size: 60px;
					vertical-align: middle;
					line-height: 190px;
					color: $this-pay-green;
					padding: 0px 90px 0px 80px;
					margin-right: 2px;
					float: left;
					.icon{
						margin-right: 10px;
					}
				}
				.tp_process_status:last-child{
					margin-right: 0px;
				}
			}
		}
	}

	/* history list*/
	.htr_list_div{
		width: 2462px;
		margin: 0 auto;
		background-color: #ffffff;
		display: table;
		.htr_list_t{
			width: 95%;
			margin: 0 auto;
			margin-top: 20px;
			text-align: left;
			font-size: 42px;
			color: $this-history-pinky;
			font-weight: 600;
			line-height: 80px;
			text-indent: 20px;
			border-bottom: 4px solid $this-history-pinky;
		}
	}

	.htr_list{
		width: 95%;
		margin: 0 auto;
		display: inline-block;
		ul{
			padding: 0px;
		}
		.htr_list_name{
			display: inline-block;
			border-bottom: 1px solid #cccccc; 
			width: 100%;
			padding-bottom: 5px;
			.htr_name_left{
				position: relative;
				float: left;
				span:first-child{
					margin-left: 20px;
				}
				span{
					line-height: 50px;
					font-size: 24px;
				}
				.htr_list_id{
					background-color: #ececec;
					padding: 2px 10px 2px 10px;
				}
				.htr_list_s{
					color: $this-history-pinky;
				}
				.htr_list_status{
					color: #ffffff;
					background-color: $this-history-pinky;
					padding: 2px 10px 2px 10px;
				}
			}
			.htr_name_right{
				position: relative;
				float: right;
				margin-right: 40px;
				.htr_now_t{
					font-size: 24px;
					color: $this-history-pinky;
					line-height: 50px;
				}
				.htr_now_status{
					font-size: 24px;
					color: #575756;
					line-height: 50px;
				}
				.icon{
					vertical-align: middle;
				}
			}
		}
		.htr_list_detail{
			position: relative;
			display: inline-block;
			.cls_preview_icon{
				position: absolute;
				right: -130px;
				top: 60px;
			}
			.cls_push_icon{
				position: absolute;
				right: -130px;
				top: 240px;
			}
			.htr_class_owner{
				margin: 20px 0px 15px 0px;
				padding-left: 20px;
				display: inline-block;
				width: 100%;
				.htr_owner_left{
					position: relative;
					float: left;
					span{
						font-size: 24px;
						color: #575756;
					}
					.htr_owner_email{
						font-size: 24px;
						color: #575756;
					}
				}
				.htr_owner_right{
					position: relative;
					float: right;
					margin-right: 40px;
					span{
						font-size: 24px;
						color: #575756;
					}
				}
			}
			.htr_class_title{
				margin: 0px 0px 10px 0px;
				padding-left: 20px;
				display: inline-block;
				width: 100%;
				.htr_class_name{
					position: relative;
					float: left;
					font-size: 40px;
					color: #1d1d1d;
					width: 70%;
					text-align: left;
				}
				.htr_class_price{
					position: relative;
					float: left;
					width: 28%;
					font-size: 40px;
					color: $this-history-pinky;
					text-align: right;
					padding-right: 20px;
				}
			}
			.htr_class_people{
				margin: 0px 0px 10px 0px;
				padding-left: 20px;
				display: inline-block;
				width: 100%;
				text-align: left;
				font-size: 25px;
				color: #666666;
				.htr_class_status{
					font-size: 40px;
					margin-right: 30px;
					line-height: 50px;
				}
				span{
					padding: 0px 5px 0px 5px;
					color: $this-history-pinky;
					vertical-align: middle;
				}
			}
			.htr_txt_div{
				margin: 0px 0px 10px 0px;
				margin-left: 20px;
				margin-top: 10px;
				width: 78%;
				position: relative;
				float: left;
				.htr_txt_detail{
					border: 1px solid #999999;
					text-align: left;
					font-size: 26px;
					color: #575756;
					width: 100%;
					line-height: 34px;
					padding: 20px 170px 20px 20px;
				}
				.htr_txt_save{
					position: absolute;
					right: -160px;
					top: 30px;
					background-color: #b3b3b3;
					font-size: 28px;
					color: #ffffff;
					width: 136px;
					line-height: 50px;
					text-align: center;
					border-radius: 25px;
					z-index: 10;
					display: block;
				}
				.htr_txt_save_click{
					background-color: $this-history-pinky;
				}
			}
			.htr_process_div{
				clear: both;
				position: relative;
				float: left;
				margin: 15px 0px 50px 20px;
				border: 1px solid #999999;
				.htr_process_status{
					background-color: #ececec;
					font-size: 60px;
					vertical-align: middle;
					line-height: 190px;
					color: $this-history-pinky;
					padding: 0px 90px 0px 80px;
					margin-right: 2px;
					float: left;
					.icon{
						margin-right: 10px;
					}
				}
				.htr_process_status:last-child{
					margin-right: 0px;
				}
			}
		}
	}

	/* contact list*/
	.contact_div{
		width: 2462px;
		margin: 0 auto;
		background-color: #ffffff;
		display: table;
		.cnt_list_t{
			width: 95%;
			margin: 0 auto;
			margin-top: 20px;
			text-align: left;
			font-size: 42px;
			color: $this-contact-violet;
			font-weight: 600;
			line-height: 80px;
			text-indent: 20px;
			border-bottom: 4px solid $this-contact-violet;
		}
		.cnt_table{
			position: relative;
			float: left;
			padding: 0px 60px 0px 60px;
			width: 95%;
			text-align: left;
			margin-bottom: 40px;
			border-spacing: none;
			display: initial;
		}
		.cnt_table thead tr{
			color: $this-contact-violet;
			line-height: 70px;
			font-size: 28px;
		}
		.cnt_table thead tr th{
			border-bottom: 4px solid $this-contact-violet;
		}
		.cnt_table thead tr th:nth-child(1){
			width: 3%;
		}
		.cnt_table thead tr th:nth-child(2){
			width: 10%;
		}
		.cnt_table thead tr th:nth-child(3){
			width: 10%;
		}
		.cnt_table thead tr th:nth-child(4){
			width: 33%;
		}
		.cnt_table thead tr th:nth-child(5){
			width: 10%;
		}
		.cnt_table thead tr th:nth-child(6){
			width: 18%;
		}
		.cnt_table thead tr th:nth-child(7){
			width: 8%;
			text-align: center;
			margin: 0 auto;
		}
		.cnt_table thead tr th:nth-child(8){
			width: 8%;
			text-align: center;
			margin: 0 auto;
		}
		.cnt_table tbody tr td{
			border-bottom: 1px solid $this-contact-violet;
		}
		.cnt_table tbody tr td:nth-child(1){
			text-align: center;
			margin: 0 auto;
		}
		.cnt_table tbody tr td:nth-child(2){
			color: $this-contact-violet;
		}
		.cnt_table tbody tr td:nth-child(3), .cnt_table tbody tr td:nth-child(5), .cnt_table tbody tr td:nth-child(6){
			font-size: 28px;
			color: #1a1a1a;
		}
		.cnt_table tbody tr td:nth-child(4){
			padding: 5px 10px 5px 0px;
			a{
				display: block;
				font-size: 36px;
				line-height: 56px;
				color: #1a1a1a;
			}
		}
		.cnt_table tbody tr td:nth-child(7), .cnt_table tbody tr td:nth-child(8){
			text-align: center;
			margin: 0 auto;
		}
		.cnt_table tbody tr:nth-child(odd){
			border: none !important;
			background-color: #e3e8f4;
		}
		.cnt_list_opacity{
			opacity: 0.3;
		}
	}
}