ul{
	font-size: initial;
}
ul li{
	list-style: none;
}
table{ 
	border-collapse:collapse; 
	border-spacing:0; 
} 
th,td { 
	margin:0; 
	padding:0; 
} 

@mixin g_header_tab {
	.header_tab{
		width: 2462px;
		margin: 0 auto;
		background-color: #2f3143;
		display: table;
		.header_tab_left{
			position: relative;
			float: left;
			.header_tab_hide{
				color: #6e6f7c;
			}
		}
		.header_tab_right{
			position: relative;
			float: right;
			.header_tab_hide{
				color: #6e6f7c;
			}
		}
		.header_tab_left ul, .header_tab_right ul{
			display: inline-block;
			margin-top: 20px;
			margin-bottom: 15px;
		}
		.header_tab_left ul li, .header_tab_right ul li{
			margin-right: 50px;
		}
		.header_tab_left ul li .icon, .header_tab_right ul li .icon{
			width: 90px;
		}
		.header_tab_left ul li, .header_tab_right ul li, .header_tab_left ul li > div, .header_tab_right ul li > div{
			display: block;
			position: relative;
			float: left;
			font-size: 38px;
			line-height: 80px;
			color: #ffffff;
			letter-spacing: 2px;
		}
	}
}

@mixin g_list_title {
	width: 95%;
	margin: 0 auto;
	margin-top: 20px;
	text-align: left;
	font-size: 42px;
	font-weight: 600;
	line-height: 80px;
	text-indent: 20px;
}

@mixin g_radio_style($color1,$color2,$size) {
	.radio {
		margin: 0.5rem;
		input[type="radio"] {
			opacity: 0;
			+ .radio-label {
				margin-left: -30px;
				&:before {
					content: '';
					background: $color1;
					border-radius: 100%;
					border: 1px solid darken($color1, 25%);
					display: inline-block;
					width: $size;
					height: $size;
					position: relative;
					margin-right: 0.5em; 
					vertical-align: middle;
					cursor: pointer;
					text-align: center;
					transition: all 250ms ease;
				}
			}
			&:checked {
				+ .radio-label {
					&:before {
					background-color: $color2;
					box-shadow: inset 0 0 0 4px $color1;
					}
				}
			}
			&:focus {
				+ .radio-label {
					&:before {
					outline: none;
					border-color: $color2;
					}
				}
			}
			&:disabled {
				+ .radio-label {
					&:before {
					box-shadow: inset 0 0 0 4px $color1;
					border-color: darken($color1, 25%);
					background: darken($color1, 25%);
					}
				}
			}
			+ .radio-label {
				&:empty {
					&:before {
					margin-right: 0;
					}
				}
			}
		}
	}
}
@mixin g_select($s_color, $font_color, $font_size) {
	select {
		line-height: normal;
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		outline: 0;
		box-shadow: none;
		border: 0 !important;
		background: $s_color;
		background-image: none;
		font-size: $font_size;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0 0 0 .5em;
		color: $font_color;
		cursor: pointer;
	}
	select::-ms-expand {
		display: none;
	}
	select option {
		font-size: $font_size !important;
		font-weight: normal;
		display: block;
		height: auto;
		min-height: $font_size;
		line-height: 90px;
		background-color: #ffffff;
	}
}
@mixin g_popup_bg($p_color, $p_index) {
	top: 0;
    left: 0;
	position: fixed;
	background-color: $p_color;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	z-index: $p_index;
	overflow-y: scroll;
}
@mixin g_student_view($s_color) {
	.student_class_post{
		font-size: 26px;
		line-height: 28px;
		color: #808080;
		text-align: right;
	}
	.student_class_no{
		font-size: 40px;
		line-height: 60px;
		color: #575756;
		text-align: left;
	}
	.student_class_name{
		font-size: 120px;
		line-height: 140px;
		color: #000000;
		text-align: left;
		font-weight: 700;
	}
	.student_class_sub{
		font-size: 50px;
		line-height: 68px;
		margin-top: 15px;
		color: $s_color;
		text-align: left;
	}
	.student_class_detail{
		margin-top: 80px;
		table tr td:nth-child(1){
			font-size: 26px;
			color: #b3b3b3;
			vertical-align: middle;
			line-height: 32px;
			padding: 70px 60px 70px 10px;
			text-align: left;
			min-width: 200px;
			.icon{
				vertical-align: middle;
				margin-right: 15px;
			}
		}
		table tr td:nth-child(2){
			border-left: 1px solid #cccccc;
			color: $s_color;
			vertical-align: middle;
			text-align: left;
			padding-left: 70px;
			font-size: 59px;				
			.week_span{
				background-color: $s_color;
				font-size: 37px;
				line-height: 40px;
				color: #ffffff;
				padding: 16px 20px;
				border-radius: 40px;
				vertical-align: middle;
			}
			.week_time{
				font-size: 80px;
				color: $s_color;
				vertical-align: middle;
				margin-right: 40px;
			}
		}
	}
	.student_class_money{
		display: inline-block;
		width: 100%;
		.class_money_right{
			float: right;
			.class_money_title{
				font-size: 37px;
				color: #575756;
				text-align: left;
				line-height: 45px;
			}
			.class_money{
				font-size: 100px;
				line-height: 140px;
				color: #ed1c24;
				text-align: left;
			}
			.class_money_org{
				font-size: 28px;
				line-height: 36px;
				color: #808080;
				text-align: right;
				text-decoration:line-through;
			}
		}
	}
}