.stdata_section{
	height: auto;
	min-height: 100vh;
	width: 2730px;
	margin: 0 auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #1871c0;
	overflow: hidden;
	.stdata_day_div{
			position: relative;
			display: inline-block;
			width: 100%;
		.stdata_day{
			position: relative;
			width: auto;
			float: right;
			margin: 30px 50px 0px 0px;
			font-size: 30px;
			line-height: 50px;
			color: #eeeeee;
			.wsize{
				float: right;
				height: 50px;
				width: 50px;
				margin-left: 10px;
			}
		}
	}
	.stdata_bg{
		.stdata_left{
			position: relative;
			margin: 20px 0px 0px 135px;
			width: 1760px;
			min-height: 1935px;
			background-color: #ffffff;
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
			-webkit-box-shadow: 2px 0px 5px 0px rgba(170, 170, 170, 0.6);
    		-moz-box-shadow: 2px 0px 5px 0px rgba(170, 170, 170, 0.6);
			box-shadow: 2px 0px 5px 0px rgba(170, 170, 170, 0.6);
			z-index: 10;
			.stdata_left_t{
				font-size: 90px;
				color: #1871c0;
				text-align: left;
				line-height: 200px;
				border-bottom: 1px solid #cccccc;
				margin: 20px 50px 0px 50px;
				padding-left: 50px;
				.icon{
					vertical-align: sub;
				}
			}
			.stdata_left_pid{
				text-align: left;
				margin-left: 140px;
				margin-top: 30px;
				span{
					font-size: 33px;
					color: #575756;
					line-height: 80px;
				}
				.stdata_left_pid_tip{
					font-size: 26px;
					color: #ff0000;
					line-height: 80px;
				}
				.btn_person_data{
					text-shadow: none;
					outline: 0;
					border: none;
					position: relative;
					float: right;
					color: #e9f2fa;
					font-size: 40px;
					background-color: #2480d1;
					width: 150px;
					height: 75px;
					margin: 0px 50px 0px 0px;
					text-align: center;
					line-height: 70px;
					z-index: 5;
				}
			}
			.stdata_left_name{
				text-align: left;
				margin-left: 140px;
				span{
					font-size: 78px;
					color: #1d1d1b;
					line-height: 90px;
				}
				.stdata_left_sex{
					font-size: 30px;
					color: #1d1d1b;
					margin-left: 10px;
				}
				.icon{
					margin-left: 80px;
				}
				.stdata_left_bday{
					span{
						font-size: 50px;
						color: #1d1d1b;
						line-height: 60px;
					}
					.bday_small{
						font-size: 30px;
						color: #808080;
						margin-left: 10px;
					}
				}
			}
			.stdata_span_t{
				line-height: 80px;
				font-size: 31px;
				color: #1871c0;
				margin: 0px 30px 0px 30px;
				vertical-align: top;
			}
			.stdata_text{
				outline: none;
				background-color: transparent;
				border: none;
				line-height: 80px;
				font-size: 45px;
				color: #4d4d4d;
			}
			@mixin stdata_text_bg {
				clear: both;
				float: left;
				margin-left: 140px;
				background-color: #eef2f6;
				border-radius: 40px;
				text-align: left;
			}
			.stdata_phone{
				@include stdata_text_bg;
				margin-top: 30px;
				width: 35%;
				input{
					width: 60%;
				}
			}
			.stdata_email{
				@include stdata_text_bg;
				margin-top: 30px;
				width: 80%;
				input{
					width: 80%;
				}
			}
			.stdata_address{
				@include stdata_text_bg;
				margin-top: 30px;
				width: 80%;
				input{
					width: 80%;
				}
			}
			.stdata_slideup{
				clear: both;
				display: inline-block;
				width: 94%;
				border-top: 1px solid #cccccc;
				margin: 60px 0px 0px 0px;
				margin-bottom: 10px;
				.icon{
					display: table;
					float: right;
					margin-top: 25px;
					margin-right: 20px;
				}
			}
			.stdata_foreign{
				width: 94%;
				margin: 0 auto;
				display: table;
				border-bottom: 1px solid #cccccc;
				.stdata_en_name{
					@include stdata_text_bg;
					margin-top: 0px;
					margin-left: 90px;
					width: 55%;
					input{
						width: 72%;
					}
				}
				.stdata_en_country{
					@include stdata_text_bg;
					margin-top: 0px;
					margin-left: 90px;
					width: 55%;
					margin-top: 30px;
					input{
						width: 72%;
					}
				}
				.stdata_en_passport{
					@include stdata_text_bg;
					margin-top: 0px;
					margin-left: 90px;
					width: 55%;
					margin-top: 30px;
					margin-bottom: 50px;
					input{
						width: 72%;
					}
				}
			}
			.stdata_urgent{
				@include stdata_text_bg;
				margin-top: 50px;
				width: 80%;
				input{
					width: 28%;
				}	
			}
		}
		.stdata_right{
			position: relative;
			margin: 150px 0px 0px 1895px;
			width: 700px;
			min-height: 1805px;
			margin-top: -1805px;
			background-color: #ffffff;
			border-top-right-radius: 20px;
			-webkit-box-shadow: 2px 0px 5px 0px rgba(170, 170, 170, 0.6);
    		-moz-box-shadow: 2px 0px 5px 0px rgba(170, 170, 170, 0.6);
			box-shadow: 2px 0px 5px 0px rgba(170, 170, 170, 0.6);	
			z-index: 5;
			.stdata_learn_t{
				position: relative;
				display: inline-block;
				font-size: 43px;
				color: #575756;
				text-align: left;
				margin: 50px 0px 40px 0px;
				width: 90%;
				padding-left: 50px;
			}
			.stdata_pie_chart_t{
				position: absolute;
				content: '';
				background-color: #ffffff;
				border-radius: 50%;
				height: 360px;
				width: 360px;
				top: 0;
				left: 0;
				margin-top: 210px;
				margin-left: 170px;
				font-size: 43px;
				color: #575756;
				line-height: 360px;
			}
			.stdata_class_list{
				text-align: left;
				padding-left: 80px;
				margin-top: 50px;
				span{
					font-size: 43px;
					color: #575756;
				}
				.stdata_cl_color{
					display: inline-block;
					height: 50px;
					width: 50px;
					border-radius: 25px;
					vertical-align: text-bottom;
				}
				.stdata_cl_name{
					margin-left: 20px;
				}
				.stdata_cl_totle{
					font-size: 72px;
					margin: 0px 5px 0px 5px;
				}
			}
			.stdata_totalday_t{
				font-size: 30px;
				color: #575756;
				text-align: left;
				padding-left: 90px;
				margin-top: 80px;
			}
			.stdata_totalday_class, .stdata_totalday_hours{
				font-size: 30px;
				color: #575756;
				text-align: left;
				padding-left: 90px;
				margin-top: 20px;
				span{
					font-size: 72px;
					margin: 0px 10px 0px 10px;
				}
			}
		}
	}
}