@import "login-view";
@import "share";
@import "landing-header";
@import "landing";
@import "search";
@import "order";
@import "receipt";
@import "student";
@import "class";
@import "student-view";
@import "student-data";
@import "student-order";
@import "student-search";
@import "student-class";